/.vs/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/OpenCL.Gray2Rgb.VC.VC.opendb
/OpenCL.Gray2Rgb.VC.db
/OpenCL.Gray2Rgb.aps
/OpenCL.Gray2Rgb.manifest
/OpenCL.Gray2Rgb.opensdf
/OpenCL.Gray2Rgb.rc
/OpenCL.Gray2Rgb.sdf
/OpenCL.Gray2Rgb.sln
/OpenCL.Gray2Rgb.v12.sdf
/OpenCL.Gray2Rgb.v12.suo
/OpenCL.Gray2Rgb.vcxproj
/OpenCL.Gray2Rgb.vcxproj.filters
/OpenCL.Gray2Rgb.vcxproj.user
/build/
/resource.h
