/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/TestGraphics/
/Content/UIAtlas/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.UI.PixelPerfect.VC.VC.opendb
/Vulkan.UI.PixelPerfect.VC.db
/Vulkan.UI.PixelPerfect.aps
/Vulkan.UI.PixelPerfect.manifest
/Vulkan.UI.PixelPerfect.opensdf
/Vulkan.UI.PixelPerfect.rc
/Vulkan.UI.PixelPerfect.sdf
/Vulkan.UI.PixelPerfect.sln
/Vulkan.UI.PixelPerfect.v12.sdf
/Vulkan.UI.PixelPerfect.v12.suo
/Vulkan.UI.PixelPerfect.vcxproj
/Vulkan.UI.PixelPerfect.vcxproj.filters
/Vulkan.UI.PixelPerfect.vcxproj.user
/Vulkan.UI.PixelPerfect___FB.VC.VC.opendb
/Vulkan.UI.PixelPerfect___FB.VC.db
/Vulkan.UI.PixelPerfect___FB.aps
/Vulkan.UI.PixelPerfect___FB.manifest
/Vulkan.UI.PixelPerfect___FB.opensdf
/Vulkan.UI.PixelPerfect___FB.rc
/Vulkan.UI.PixelPerfect___FB.sdf
/Vulkan.UI.PixelPerfect___FB.sln
/Vulkan.UI.PixelPerfect___FB.v12.sdf
/Vulkan.UI.PixelPerfect___FB.v12.suo
/Vulkan.UI.PixelPerfect___FB.vcxproj
/Vulkan.UI.PixelPerfect___FB.vcxproj.filters
/Vulkan.UI.PixelPerfect___FB.vcxproj.user
/Vulkan.UI.PixelPerfect___Wayland.VC.VC.opendb
/Vulkan.UI.PixelPerfect___Wayland.VC.db
/Vulkan.UI.PixelPerfect___Wayland.aps
/Vulkan.UI.PixelPerfect___Wayland.manifest
/Vulkan.UI.PixelPerfect___Wayland.opensdf
/Vulkan.UI.PixelPerfect___Wayland.rc
/Vulkan.UI.PixelPerfect___Wayland.sdf
/Vulkan.UI.PixelPerfect___Wayland.sln
/Vulkan.UI.PixelPerfect___Wayland.v12.sdf
/Vulkan.UI.PixelPerfect___Wayland.v12.suo
/Vulkan.UI.PixelPerfect___Wayland.vcxproj
/Vulkan.UI.PixelPerfect___Wayland.vcxproj.filters
/Vulkan.UI.PixelPerfect___Wayland.vcxproj.user
/Vulkan.UI.PixelPerfect___Wayland_XDG.VC.VC.opendb
/Vulkan.UI.PixelPerfect___Wayland_XDG.VC.db
/Vulkan.UI.PixelPerfect___Wayland_XDG.aps
/Vulkan.UI.PixelPerfect___Wayland_XDG.manifest
/Vulkan.UI.PixelPerfect___Wayland_XDG.opensdf
/Vulkan.UI.PixelPerfect___Wayland_XDG.rc
/Vulkan.UI.PixelPerfect___Wayland_XDG.sdf
/Vulkan.UI.PixelPerfect___Wayland_XDG.sln
/Vulkan.UI.PixelPerfect___Wayland_XDG.v12.sdf
/Vulkan.UI.PixelPerfect___Wayland_XDG.v12.suo
/Vulkan.UI.PixelPerfect___Wayland_XDG.vcxproj
/Vulkan.UI.PixelPerfect___Wayland_XDG.vcxproj.filters
/Vulkan.UI.PixelPerfect___Wayland_XDG.vcxproj.user
/build/
/resource.h
