/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/TestGraphics/
/Content/UIAtlas/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.UI.PixelPerfect.VC.VC.opendb
/Vulkan.UI.PixelPerfect.VC.db
/Vulkan.UI.PixelPerfect.aps
/Vulkan.UI.PixelPerfect.manifest
/Vulkan.UI.PixelPerfect.opensdf
/Vulkan.UI.PixelPerfect.rc
/Vulkan.UI.PixelPerfect.sdf
/Vulkan.UI.PixelPerfect.sln
/Vulkan.UI.PixelPerfect.v12.sdf
/Vulkan.UI.PixelPerfect.v12.suo
/Vulkan.UI.PixelPerfect.vcxproj
/Vulkan.UI.PixelPerfect.vcxproj.filters
/Vulkan.UI.PixelPerfect.vcxproj.user
/build/
/resource.h
