.StartProject.bat
.vs
Android.mk
CMakeLists.txt
DFSimpleUI101Shared.VC.VC.opendb
DFSimpleUI101Shared.VC.db
DFSimpleUI101Shared.manifest
DFSimpleUI101Shared.opensdf
DFSimpleUI101Shared.sdf
DFSimpleUI101Shared.sln
DFSimpleUI101Shared.v12.sdf
DFSimpleUI101Shared.v12.suo
DFSimpleUI101Shared.vcxproj
DFSimpleUI101Shared.vcxproj.filters
DFSimpleUI101Shared.vcxproj.user
GNUmakefile
GNUmakefile_Yocto
build/
