/.StartProject.bat
/.vs/
/CMakeLists.txt
/FslUnitTest.TestPackages.Flavors.VC.VC.opendb
/FslUnitTest.TestPackages.Flavors.VC.db
/FslUnitTest.TestPackages.Flavors.manifest
/FslUnitTest.TestPackages.Flavors.opensdf
/FslUnitTest.TestPackages.Flavors.sdf
/FslUnitTest.TestPackages.Flavors.sln
/FslUnitTest.TestPackages.Flavors.v12.sdf
/FslUnitTest.TestPackages.Flavors.v12.suo
/FslUnitTest.TestPackages.Flavors.vcxproj
/FslUnitTest.TestPackages.Flavors.vcxproj.filters
/FslUnitTest.TestPackages.Flavors.vcxproj.user
/FslUnitTest.TestPackages.Flavors__Option1.VC.VC.opendb
/FslUnitTest.TestPackages.Flavors__Option1.VC.db
/FslUnitTest.TestPackages.Flavors__Option1.manifest
/FslUnitTest.TestPackages.Flavors__Option1.opensdf
/FslUnitTest.TestPackages.Flavors__Option1.sdf
/FslUnitTest.TestPackages.Flavors__Option1.sln
/FslUnitTest.TestPackages.Flavors__Option1.v12.sdf
/FslUnitTest.TestPackages.Flavors__Option1.v12.suo
/FslUnitTest.TestPackages.Flavors__Option1.vcxproj
/FslUnitTest.TestPackages.Flavors__Option1.vcxproj.filters
/FslUnitTest.TestPackages.Flavors__Option1.vcxproj.user
/FslUnitTest.TestPackages.Flavors__Option2.VC.VC.opendb
/FslUnitTest.TestPackages.Flavors__Option2.VC.db
/FslUnitTest.TestPackages.Flavors__Option2.manifest
/FslUnitTest.TestPackages.Flavors__Option2.opensdf
/FslUnitTest.TestPackages.Flavors__Option2.sdf
/FslUnitTest.TestPackages.Flavors__Option2.sln
/FslUnitTest.TestPackages.Flavors__Option2.v12.sdf
/FslUnitTest.TestPackages.Flavors__Option2.v12.suo
/FslUnitTest.TestPackages.Flavors__Option2.vcxproj
/FslUnitTest.TestPackages.Flavors__Option2.vcxproj.filters
/FslUnitTest.TestPackages.Flavors__Option2.vcxproj.user
/FslUnitTest.TestPackages.Flavors__Option3.VC.VC.opendb
/FslUnitTest.TestPackages.Flavors__Option3.VC.db
/FslUnitTest.TestPackages.Flavors__Option3.manifest
/FslUnitTest.TestPackages.Flavors__Option3.opensdf
/FslUnitTest.TestPackages.Flavors__Option3.sdf
/FslUnitTest.TestPackages.Flavors__Option3.sln
/FslUnitTest.TestPackages.Flavors__Option3.v12.sdf
/FslUnitTest.TestPackages.Flavors__Option3.v12.suo
/FslUnitTest.TestPackages.Flavors__Option3.vcxproj
/FslUnitTest.TestPackages.Flavors__Option3.vcxproj.filters
/FslUnitTest.TestPackages.Flavors__Option3.vcxproj.user
/build/
