/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/TestGraphics/
/Content/UIAtlas/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GLES3.UI.PixelPerfect.VC.VC.opendb
/GLES3.UI.PixelPerfect.VC.db
/GLES3.UI.PixelPerfect.aps
/GLES3.UI.PixelPerfect.manifest
/GLES3.UI.PixelPerfect.opensdf
/GLES3.UI.PixelPerfect.rc
/GLES3.UI.PixelPerfect.sdf
/GLES3.UI.PixelPerfect.sln
/GLES3.UI.PixelPerfect.v12.sdf
/GLES3.UI.PixelPerfect.v12.suo
/GLES3.UI.PixelPerfect.vcxproj
/GLES3.UI.PixelPerfect.vcxproj.filters
/GLES3.UI.PixelPerfect.vcxproj.user
/build/
/resource.h
