/.vs/
/FslDataBinding.Base.VC.VC.opendb
/FslDataBinding.Base.VC.db
/FslDataBinding.Base.manifest
/FslDataBinding.Base.opensdf
/FslDataBinding.Base.sdf
/FslDataBinding.Base.sln
/FslDataBinding.Base.v12.sdf
/FslDataBinding.Base.v12.suo
/FslDataBinding.Base.vcxproj
/FslDataBinding.Base.vcxproj.filters
/FslDataBinding.Base.vcxproj.user
/FslDataBinding.VC.VC.opendb
/FslDataBinding.VC.db
/FslDataBinding.manifest
/FslDataBinding.opensdf
/FslDataBinding.sdf
/FslDataBinding.sln
/FslDataBinding.v12.sdf
/FslDataBinding.v12.suo
/FslDataBinding.vcxproj
/FslDataBinding.vcxproj.filters
/FslDataBinding.vcxproj.user
/build/
