/.vs/
/FslSimpleUI.Render.Builder.VC.VC.opendb
/FslSimpleUI.Render.Builder.VC.db
/FslSimpleUI.Render.Builder.manifest
/FslSimpleUI.Render.Builder.opensdf
/FslSimpleUI.Render.Builder.sdf
/FslSimpleUI.Render.Builder.sln
/FslSimpleUI.Render.Builder.v12.sdf
/FslSimpleUI.Render.Builder.v12.suo
/FslSimpleUI.Render.Builder.vcxproj
/FslSimpleUI.Render.Builder.vcxproj.filters
/FslSimpleUI.Render.Builder.vcxproj.user
/build/
