/.StartProject.bat
/.vs/
/CMakeLists.txt
/GNUmakefile
/GNUmakefile_Yocto
/Shared.InputEvents.VC.VC.opendb
/Shared.InputEvents.VC.db
/Shared.InputEvents.manifest
/Shared.InputEvents.opensdf
/Shared.InputEvents.sdf
/Shared.InputEvents.sln
/Shared.InputEvents.v12.sdf
/Shared.InputEvents.v12.suo
/Shared.InputEvents.vcxproj
/Shared.InputEvents.vcxproj.filters
/Shared.InputEvents.vcxproj.user
/Shared.System.InputEvents.VC.VC.opendb
/Shared.System.InputEvents.VC.db
/Shared.System.InputEvents.manifest
/Shared.System.InputEvents.opensdf
/Shared.System.InputEvents.sdf
/Shared.System.InputEvents.sln
/Shared.System.InputEvents.v12.sdf
/Shared.System.InputEvents.v12.suo
/Shared.System.InputEvents.vcxproj
/Shared.System.InputEvents.vcxproj.filters
/Shared.System.InputEvents.vcxproj.user
/build/
