/.vs/
/Content/Textures/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GLES2.System.DevBasicRender.VC.VC.opendb
/GLES2.System.DevBasicRender.VC.db
/GLES2.System.DevBasicRender.aps
/GLES2.System.DevBasicRender.manifest
/GLES2.System.DevBasicRender.opensdf
/GLES2.System.DevBasicRender.rc
/GLES2.System.DevBasicRender.sdf
/GLES2.System.DevBasicRender.sln
/GLES2.System.DevBasicRender.v12.sdf
/GLES2.System.DevBasicRender.v12.suo
/GLES2.System.DevBasicRender.vcxproj
/GLES2.System.DevBasicRender.vcxproj.filters
/GLES2.System.DevBasicRender.vcxproj.user
/GLES2.System.DevBasicRender___FB.VC.VC.opendb
/GLES2.System.DevBasicRender___FB.VC.db
/GLES2.System.DevBasicRender___FB.aps
/GLES2.System.DevBasicRender___FB.manifest
/GLES2.System.DevBasicRender___FB.opensdf
/GLES2.System.DevBasicRender___FB.rc
/GLES2.System.DevBasicRender___FB.sdf
/GLES2.System.DevBasicRender___FB.sln
/GLES2.System.DevBasicRender___FB.v12.sdf
/GLES2.System.DevBasicRender___FB.v12.suo
/GLES2.System.DevBasicRender___FB.vcxproj
/GLES2.System.DevBasicRender___FB.vcxproj.filters
/GLES2.System.DevBasicRender___FB.vcxproj.user
/GLES2.System.DevBasicRender___Wayland.VC.VC.opendb
/GLES2.System.DevBasicRender___Wayland.VC.db
/GLES2.System.DevBasicRender___Wayland.aps
/GLES2.System.DevBasicRender___Wayland.manifest
/GLES2.System.DevBasicRender___Wayland.opensdf
/GLES2.System.DevBasicRender___Wayland.rc
/GLES2.System.DevBasicRender___Wayland.sdf
/GLES2.System.DevBasicRender___Wayland.sln
/GLES2.System.DevBasicRender___Wayland.v12.sdf
/GLES2.System.DevBasicRender___Wayland.v12.suo
/GLES2.System.DevBasicRender___Wayland.vcxproj
/GLES2.System.DevBasicRender___Wayland.vcxproj.filters
/GLES2.System.DevBasicRender___Wayland.vcxproj.user
/GLES2.System.DevBasicRender___Wayland_XDG.VC.VC.opendb
/GLES2.System.DevBasicRender___Wayland_XDG.VC.db
/GLES2.System.DevBasicRender___Wayland_XDG.aps
/GLES2.System.DevBasicRender___Wayland_XDG.manifest
/GLES2.System.DevBasicRender___Wayland_XDG.opensdf
/GLES2.System.DevBasicRender___Wayland_XDG.rc
/GLES2.System.DevBasicRender___Wayland_XDG.sdf
/GLES2.System.DevBasicRender___Wayland_XDG.sln
/GLES2.System.DevBasicRender___Wayland_XDG.v12.sdf
/GLES2.System.DevBasicRender___Wayland_XDG.v12.suo
/GLES2.System.DevBasicRender___Wayland_XDG.vcxproj
/GLES2.System.DevBasicRender___Wayland_XDG.vcxproj.filters
/GLES2.System.DevBasicRender___Wayland_XDG.vcxproj.user
/GLES2.System.DevBasicRender___X11.VC.VC.opendb
/GLES2.System.DevBasicRender___X11.VC.db
/GLES2.System.DevBasicRender___X11.aps
/GLES2.System.DevBasicRender___X11.manifest
/GLES2.System.DevBasicRender___X11.opensdf
/GLES2.System.DevBasicRender___X11.rc
/GLES2.System.DevBasicRender___X11.sdf
/GLES2.System.DevBasicRender___X11.sln
/GLES2.System.DevBasicRender___X11.v12.sdf
/GLES2.System.DevBasicRender___X11.v12.suo
/GLES2.System.DevBasicRender___X11.vcxproj
/GLES2.System.DevBasicRender___X11.vcxproj.filters
/GLES2.System.DevBasicRender___X11.vcxproj.user
/build/
/resource.h
