/.vs/
/Console.BasicThreadAsyncService.VC.VC.opendb
/Console.BasicThreadAsyncService.VC.db
/Console.BasicThreadAsyncService.aps
/Console.BasicThreadAsyncService.manifest
/Console.BasicThreadAsyncService.opensdf
/Console.BasicThreadAsyncService.rc
/Console.BasicThreadAsyncService.sdf
/Console.BasicThreadAsyncService.sln
/Console.BasicThreadAsyncService.v12.sdf
/Console.BasicThreadAsyncService.v12.suo
/Console.BasicThreadAsyncService.vcxproj
/Console.BasicThreadAsyncService.vcxproj.filters
/Console.BasicThreadAsyncService.vcxproj.user
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/build/
/resource.h
