/.vs/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/OpenCL.Rgb888toRgb565.VC.VC.opendb
/OpenCL.Rgb888toRgb565.VC.db
/OpenCL.Rgb888toRgb565.aps
/OpenCL.Rgb888toRgb565.manifest
/OpenCL.Rgb888toRgb565.opensdf
/OpenCL.Rgb888toRgb565.rc
/OpenCL.Rgb888toRgb565.sdf
/OpenCL.Rgb888toRgb565.sln
/OpenCL.Rgb888toRgb565.v12.sdf
/OpenCL.Rgb888toRgb565.v12.suo
/OpenCL.Rgb888toRgb565.vcxproj
/OpenCL.Rgb888toRgb565.vcxproj.filters
/OpenCL.Rgb888toRgb565.vcxproj.user
/build/
/resource.h
