/.vs/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.UI.Gestures.VC.VC.opendb
/Vulkan.UI.Gestures.VC.db
/Vulkan.UI.Gestures.aps
/Vulkan.UI.Gestures.manifest
/Vulkan.UI.Gestures.opensdf
/Vulkan.UI.Gestures.rc
/Vulkan.UI.Gestures.sdf
/Vulkan.UI.Gestures.sln
/Vulkan.UI.Gestures.v12.sdf
/Vulkan.UI.Gestures.v12.suo
/Vulkan.UI.Gestures.vcxproj
/Vulkan.UI.Gestures.vcxproj.filters
/Vulkan.UI.Gestures.vcxproj.user
/build/
/resource.h
