/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GNUmakefile
/GNUmakefile_Yocto
/OpenCLGaussianFilter
/OpenCLGaussianFilter_FB
/OpenCLGaussianFilter_FB_d
/OpenCLGaussianFilter_Wayland
/OpenCLGaussianFilter_Wayland_IVI
/OpenCLGaussianFilter_Wayland_IVI_d
/OpenCLGaussianFilter_Wayland_d
/OpenCLGaussianFilter_X11
/OpenCLGaussianFilter_X11_d
/OpenCLGaussianFilter_c
/OpenCLGaussianFilter_d
/Test_gauss.bmp
/Test_gray.bmp
/Vulkan.OpenCLGaussianFilter.VC.VC.opendb
/Vulkan.OpenCLGaussianFilter.VC.db
/Vulkan.OpenCLGaussianFilter.aps
/Vulkan.OpenCLGaussianFilter.manifest
/Vulkan.OpenCLGaussianFilter.opensdf
/Vulkan.OpenCLGaussianFilter.rc
/Vulkan.OpenCLGaussianFilter.sdf
/Vulkan.OpenCLGaussianFilter.sln
/Vulkan.OpenCLGaussianFilter.v12.sdf
/Vulkan.OpenCLGaussianFilter.v12.suo
/Vulkan.OpenCLGaussianFilter.vcxproj
/Vulkan.OpenCLGaussianFilter.vcxproj.filters
/Vulkan.OpenCLGaussianFilter.vcxproj.user
/Vulkan.OpenCLGaussianFilter___FB.VC.VC.opendb
/Vulkan.OpenCLGaussianFilter___FB.VC.db
/Vulkan.OpenCLGaussianFilter___FB.aps
/Vulkan.OpenCLGaussianFilter___FB.manifest
/Vulkan.OpenCLGaussianFilter___FB.opensdf
/Vulkan.OpenCLGaussianFilter___FB.rc
/Vulkan.OpenCLGaussianFilter___FB.sdf
/Vulkan.OpenCLGaussianFilter___FB.sln
/Vulkan.OpenCLGaussianFilter___FB.v12.sdf
/Vulkan.OpenCLGaussianFilter___FB.v12.suo
/Vulkan.OpenCLGaussianFilter___FB.vcxproj
/Vulkan.OpenCLGaussianFilter___FB.vcxproj.filters
/Vulkan.OpenCLGaussianFilter___FB.vcxproj.user
/Vulkan.OpenCLGaussianFilter___Wayland.VC.VC.opendb
/Vulkan.OpenCLGaussianFilter___Wayland.VC.db
/Vulkan.OpenCLGaussianFilter___Wayland.aps
/Vulkan.OpenCLGaussianFilter___Wayland.manifest
/Vulkan.OpenCLGaussianFilter___Wayland.opensdf
/Vulkan.OpenCLGaussianFilter___Wayland.rc
/Vulkan.OpenCLGaussianFilter___Wayland.sdf
/Vulkan.OpenCLGaussianFilter___Wayland.sln
/Vulkan.OpenCLGaussianFilter___Wayland.v12.sdf
/Vulkan.OpenCLGaussianFilter___Wayland.v12.suo
/Vulkan.OpenCLGaussianFilter___Wayland.vcxproj
/Vulkan.OpenCLGaussianFilter___Wayland.vcxproj.filters
/Vulkan.OpenCLGaussianFilter___Wayland.vcxproj.user
/Vulkan.OpenCLGaussianFilter___Wayland_XDG.VC.VC.opendb
/Vulkan.OpenCLGaussianFilter___Wayland_XDG.VC.db
/Vulkan.OpenCLGaussianFilter___Wayland_XDG.aps
/Vulkan.OpenCLGaussianFilter___Wayland_XDG.manifest
/Vulkan.OpenCLGaussianFilter___Wayland_XDG.opensdf
/Vulkan.OpenCLGaussianFilter___Wayland_XDG.rc
/Vulkan.OpenCLGaussianFilter___Wayland_XDG.sdf
/Vulkan.OpenCLGaussianFilter___Wayland_XDG.sln
/Vulkan.OpenCLGaussianFilter___Wayland_XDG.v12.sdf
/Vulkan.OpenCLGaussianFilter___Wayland_XDG.v12.suo
/Vulkan.OpenCLGaussianFilter___Wayland_XDG.vcxproj
/Vulkan.OpenCLGaussianFilter___Wayland_XDG.vcxproj.filters
/Vulkan.OpenCLGaussianFilter___Wayland_XDG.vcxproj.user
/build/
/resource.h
