/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GNUmakefile
/GNUmakefile_Yocto
/OpenCLGaussianFilter
/OpenCLGaussianFilter_FB
/OpenCLGaussianFilter_FB_d
/OpenCLGaussianFilter_Wayland
/OpenCLGaussianFilter_Wayland_IVI
/OpenCLGaussianFilter_Wayland_IVI_d
/OpenCLGaussianFilter_Wayland_d
/OpenCLGaussianFilter_X11
/OpenCLGaussianFilter_X11_d
/OpenCLGaussianFilter_c
/OpenCLGaussianFilter_d
/Test_gauss.bmp
/Test_gray.bmp
/Vulkan.OpenCLGaussianFilter.VC.VC.opendb
/Vulkan.OpenCLGaussianFilter.VC.db
/Vulkan.OpenCLGaussianFilter.aps
/Vulkan.OpenCLGaussianFilter.manifest
/Vulkan.OpenCLGaussianFilter.opensdf
/Vulkan.OpenCLGaussianFilter.rc
/Vulkan.OpenCLGaussianFilter.sdf
/Vulkan.OpenCLGaussianFilter.sln
/Vulkan.OpenCLGaussianFilter.v12.sdf
/Vulkan.OpenCLGaussianFilter.v12.suo
/Vulkan.OpenCLGaussianFilter.vcxproj
/Vulkan.OpenCLGaussianFilter.vcxproj.filters
/Vulkan.OpenCLGaussianFilter.vcxproj.user
/build/
/resource.h
