/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/Textures/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.EffectSubpass.VC.VC.opendb
/Vulkan.EffectSubpass.VC.db
/Vulkan.EffectSubpass.aps
/Vulkan.EffectSubpass.manifest
/Vulkan.EffectSubpass.opensdf
/Vulkan.EffectSubpass.rc
/Vulkan.EffectSubpass.sdf
/Vulkan.EffectSubpass.sln
/Vulkan.EffectSubpass.v12.sdf
/Vulkan.EffectSubpass.v12.suo
/Vulkan.EffectSubpass.vcxproj
/Vulkan.EffectSubpass.vcxproj.filters
/Vulkan.EffectSubpass.vcxproj.user
/build/
/resource.h
