/.vs/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.UI.RenderTest.VC.VC.opendb
/Vulkan.UI.RenderTest.VC.db
/Vulkan.UI.RenderTest.aps
/Vulkan.UI.RenderTest.manifest
/Vulkan.UI.RenderTest.opensdf
/Vulkan.UI.RenderTest.rc
/Vulkan.UI.RenderTest.sdf
/Vulkan.UI.RenderTest.sln
/Vulkan.UI.RenderTest.v12.sdf
/Vulkan.UI.RenderTest.v12.suo
/Vulkan.UI.RenderTest.vcxproj
/Vulkan.UI.RenderTest.vcxproj.filters
/Vulkan.UI.RenderTest.vcxproj.user
/build/
/resource.h
