/.StartProject.bat
/.vs/
/Android.mk
/Android/
/CMakeLists.txt
/Content/_ContentSyncCache.fsl
/DFGraphicsBasic2D
/DFGraphicsBasic2D_FB
/DFGraphicsBasic2D_FB_d
/DFGraphicsBasic2D_Wayland
/DFGraphicsBasic2D_Wayland_IVI
/DFGraphicsBasic2D_Wayland_IVI_d
/DFGraphicsBasic2D_Wayland_d
/DFGraphicsBasic2D_X11
/DFGraphicsBasic2D_X11_d
/DFGraphicsBasic2D_d
/FslSDKIcon.ico
/GNUmakefile
/GNUmakefile_Yocto
/OpenVG.DFGraphicsBasic2D
/OpenVG.DFGraphicsBasic2D.VC.VC.opendb
/OpenVG.DFGraphicsBasic2D.VC.db
/OpenVG.DFGraphicsBasic2D.aps
/OpenVG.DFGraphicsBasic2D.manifest
/OpenVG.DFGraphicsBasic2D.opensdf
/OpenVG.DFGraphicsBasic2D.rc
/OpenVG.DFGraphicsBasic2D.sdf
/OpenVG.DFGraphicsBasic2D.sln
/OpenVG.DFGraphicsBasic2D.v12.sdf
/OpenVG.DFGraphicsBasic2D.v12.suo
/OpenVG.DFGraphicsBasic2D.vcxproj
/OpenVG.DFGraphicsBasic2D.vcxproj.filters
/OpenVG.DFGraphicsBasic2D.vcxproj.user
/OpenVG.DFGraphicsBasic2D_FB
/OpenVG.DFGraphicsBasic2D_Wayland
/OpenVG.DFGraphicsBasic2D_X11
/OpenVG.System.DFGraphicsBasic2D.VC.VC.opendb
/OpenVG.System.DFGraphicsBasic2D.VC.db
/OpenVG.System.DFGraphicsBasic2D.aps
/OpenVG.System.DFGraphicsBasic2D.manifest
/OpenVG.System.DFGraphicsBasic2D.opensdf
/OpenVG.System.DFGraphicsBasic2D.rc
/OpenVG.System.DFGraphicsBasic2D.sdf
/OpenVG.System.DFGraphicsBasic2D.sln
/OpenVG.System.DFGraphicsBasic2D.v12.sdf
/OpenVG.System.DFGraphicsBasic2D.v12.suo
/OpenVG.System.DFGraphicsBasic2D.vcxproj
/OpenVG.System.DFGraphicsBasic2D.vcxproj.filters
/OpenVG.System.DFGraphicsBasic2D.vcxproj.user
/OpenVG.System.DFGraphicsBasic2D___FB.VC.VC.opendb
/OpenVG.System.DFGraphicsBasic2D___FB.VC.db
/OpenVG.System.DFGraphicsBasic2D___FB.aps
/OpenVG.System.DFGraphicsBasic2D___FB.manifest
/OpenVG.System.DFGraphicsBasic2D___FB.opensdf
/OpenVG.System.DFGraphicsBasic2D___FB.rc
/OpenVG.System.DFGraphicsBasic2D___FB.sdf
/OpenVG.System.DFGraphicsBasic2D___FB.sln
/OpenVG.System.DFGraphicsBasic2D___FB.v12.sdf
/OpenVG.System.DFGraphicsBasic2D___FB.v12.suo
/OpenVG.System.DFGraphicsBasic2D___FB.vcxproj
/OpenVG.System.DFGraphicsBasic2D___FB.vcxproj.filters
/OpenVG.System.DFGraphicsBasic2D___FB.vcxproj.user
/OpenVG.System.DFGraphicsBasic2D___Wayland.VC.VC.opendb
/OpenVG.System.DFGraphicsBasic2D___Wayland.VC.db
/OpenVG.System.DFGraphicsBasic2D___Wayland.aps
/OpenVG.System.DFGraphicsBasic2D___Wayland.manifest
/OpenVG.System.DFGraphicsBasic2D___Wayland.opensdf
/OpenVG.System.DFGraphicsBasic2D___Wayland.rc
/OpenVG.System.DFGraphicsBasic2D___Wayland.sdf
/OpenVG.System.DFGraphicsBasic2D___Wayland.sln
/OpenVG.System.DFGraphicsBasic2D___Wayland.v12.sdf
/OpenVG.System.DFGraphicsBasic2D___Wayland.v12.suo
/OpenVG.System.DFGraphicsBasic2D___Wayland.vcxproj
/OpenVG.System.DFGraphicsBasic2D___Wayland.vcxproj.filters
/OpenVG.System.DFGraphicsBasic2D___Wayland.vcxproj.user
/OpenVG.System.DFGraphicsBasic2D___Wayland_XDG.VC.VC.opendb
/OpenVG.System.DFGraphicsBasic2D___Wayland_XDG.VC.db
/OpenVG.System.DFGraphicsBasic2D___Wayland_XDG.aps
/OpenVG.System.DFGraphicsBasic2D___Wayland_XDG.manifest
/OpenVG.System.DFGraphicsBasic2D___Wayland_XDG.opensdf
/OpenVG.System.DFGraphicsBasic2D___Wayland_XDG.rc
/OpenVG.System.DFGraphicsBasic2D___Wayland_XDG.sdf
/OpenVG.System.DFGraphicsBasic2D___Wayland_XDG.sln
/OpenVG.System.DFGraphicsBasic2D___Wayland_XDG.v12.sdf
/OpenVG.System.DFGraphicsBasic2D___Wayland_XDG.v12.suo
/OpenVG.System.DFGraphicsBasic2D___Wayland_XDG.vcxproj
/OpenVG.System.DFGraphicsBasic2D___Wayland_XDG.vcxproj.filters
/OpenVG.System.DFGraphicsBasic2D___Wayland_XDG.vcxproj.user
/OpenVG.System.DFGraphicsBasic2D___X11.VC.VC.opendb
/OpenVG.System.DFGraphicsBasic2D___X11.VC.db
/OpenVG.System.DFGraphicsBasic2D___X11.aps
/OpenVG.System.DFGraphicsBasic2D___X11.manifest
/OpenVG.System.DFGraphicsBasic2D___X11.opensdf
/OpenVG.System.DFGraphicsBasic2D___X11.rc
/OpenVG.System.DFGraphicsBasic2D___X11.sdf
/OpenVG.System.DFGraphicsBasic2D___X11.sln
/OpenVG.System.DFGraphicsBasic2D___X11.v12.sdf
/OpenVG.System.DFGraphicsBasic2D___X11.v12.suo
/OpenVG.System.DFGraphicsBasic2D___X11.vcxproj
/OpenVG.System.DFGraphicsBasic2D___X11.vcxproj.filters
/OpenVG.System.DFGraphicsBasic2D___X11.vcxproj.user
/build/
/resource.h
