/.StartProject.bat
/.vs/
/Android.mk
/Android/
/CMakeLists.txt
/Content/Textures/Bricks/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GLES3.HDR01_BasicToneMapping.VC.VC.opendb
/GLES3.HDR01_BasicToneMapping.VC.db
/GLES3.HDR01_BasicToneMapping.aps
/GLES3.HDR01_BasicToneMapping.manifest
/GLES3.HDR01_BasicToneMapping.opensdf
/GLES3.HDR01_BasicToneMapping.rc
/GLES3.HDR01_BasicToneMapping.sdf
/GLES3.HDR01_BasicToneMapping.sln
/GLES3.HDR01_BasicToneMapping.v12.sdf
/GLES3.HDR01_BasicToneMapping.v12.suo
/GLES3.HDR01_BasicToneMapping.vcxproj
/GLES3.HDR01_BasicToneMapping.vcxproj.filters
/GLES3.HDR01_BasicToneMapping.vcxproj.user
/GNUmakefile
/GNUmakefile_Yocto
/HDR01_BasicToneMapping
/HDR01_BasicToneMapping.VC.VC.opendb
/HDR01_BasicToneMapping.VC.db
/HDR01_BasicToneMapping.aps
/HDR01_BasicToneMapping.manifest
/HDR01_BasicToneMapping.opensdf
/HDR01_BasicToneMapping.rc
/HDR01_BasicToneMapping.sdf
/HDR01_BasicToneMapping.sln
/HDR01_BasicToneMapping.v12.sdf
/HDR01_BasicToneMapping.v12.suo
/HDR01_BasicToneMapping.vcxproj
/HDR01_BasicToneMapping.vcxproj.filters
/HDR01_BasicToneMapping.vcxproj.user
/HDR01_BasicToneMapping_FB
/HDR01_BasicToneMapping_FB_d
/HDR01_BasicToneMapping_Wayland
/HDR01_BasicToneMapping_Wayland_d
/HDR01_BasicToneMapping_X11
/HDR01_BasicToneMapping_X11_d
/HDR01_BasicToneMapping_c
/HDR01_BasicToneMapping_d
/build/
/resource.h
