/.StartProject.bat
/.vs/
/Android.mk
/Android/
/CMakeLists.txt
/Content/UIAtlas/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GNUmakefile
/GNUmakefile_Yocto
/Vulkan.UI.SimpleUI100.VC.VC.opendb
/Vulkan.UI.SimpleUI100.VC.db
/Vulkan.UI.SimpleUI100.aps
/Vulkan.UI.SimpleUI100.manifest
/Vulkan.UI.SimpleUI100.opensdf
/Vulkan.UI.SimpleUI100.rc
/Vulkan.UI.SimpleUI100.sdf
/Vulkan.UI.SimpleUI100.sln
/Vulkan.UI.SimpleUI100.v12.sdf
/Vulkan.UI.SimpleUI100.v12.suo
/Vulkan.UI.SimpleUI100.vcxproj
/Vulkan.UI.SimpleUI100.vcxproj.filters
/Vulkan.UI.SimpleUI100.vcxproj.user
/Vulkan.UI.SimpleUI100___FB.VC.VC.opendb
/Vulkan.UI.SimpleUI100___FB.VC.db
/Vulkan.UI.SimpleUI100___FB.aps
/Vulkan.UI.SimpleUI100___FB.manifest
/Vulkan.UI.SimpleUI100___FB.opensdf
/Vulkan.UI.SimpleUI100___FB.rc
/Vulkan.UI.SimpleUI100___FB.sdf
/Vulkan.UI.SimpleUI100___FB.sln
/Vulkan.UI.SimpleUI100___FB.v12.sdf
/Vulkan.UI.SimpleUI100___FB.v12.suo
/Vulkan.UI.SimpleUI100___FB.vcxproj
/Vulkan.UI.SimpleUI100___FB.vcxproj.filters
/Vulkan.UI.SimpleUI100___FB.vcxproj.user
/Vulkan.UI.SimpleUI100___Wayland.VC.VC.opendb
/Vulkan.UI.SimpleUI100___Wayland.VC.db
/Vulkan.UI.SimpleUI100___Wayland.aps
/Vulkan.UI.SimpleUI100___Wayland.manifest
/Vulkan.UI.SimpleUI100___Wayland.opensdf
/Vulkan.UI.SimpleUI100___Wayland.rc
/Vulkan.UI.SimpleUI100___Wayland.sdf
/Vulkan.UI.SimpleUI100___Wayland.sln
/Vulkan.UI.SimpleUI100___Wayland.v12.sdf
/Vulkan.UI.SimpleUI100___Wayland.v12.suo
/Vulkan.UI.SimpleUI100___Wayland.vcxproj
/Vulkan.UI.SimpleUI100___Wayland.vcxproj.filters
/Vulkan.UI.SimpleUI100___Wayland.vcxproj.user
/Vulkan.UI.SimpleUI100___Wayland_XDG.VC.VC.opendb
/Vulkan.UI.SimpleUI100___Wayland_XDG.VC.db
/Vulkan.UI.SimpleUI100___Wayland_XDG.aps
/Vulkan.UI.SimpleUI100___Wayland_XDG.manifest
/Vulkan.UI.SimpleUI100___Wayland_XDG.opensdf
/Vulkan.UI.SimpleUI100___Wayland_XDG.rc
/Vulkan.UI.SimpleUI100___Wayland_XDG.sdf
/Vulkan.UI.SimpleUI100___Wayland_XDG.sln
/Vulkan.UI.SimpleUI100___Wayland_XDG.v12.sdf
/Vulkan.UI.SimpleUI100___Wayland_XDG.v12.suo
/Vulkan.UI.SimpleUI100___Wayland_XDG.vcxproj
/Vulkan.UI.SimpleUI100___Wayland_XDG.vcxproj.filters
/Vulkan.UI.SimpleUI100___Wayland_XDG.vcxproj.user
/build/
/resource.h
