/.StartProject.bat
/.vs/
/CMakeLists.txt
/GNUmakefile
/GNUmakefile_Yocto
/Shared.VulkanCustom.VC.VC.opendb
/Shared.VulkanCustom.VC.db
/Shared.VulkanCustom.manifest
/Shared.VulkanCustom.opensdf
/Shared.VulkanCustom.sdf
/Shared.VulkanCustom.sln
/Shared.VulkanCustom.v12.sdf
/Shared.VulkanCustom.v12.suo
/Shared.VulkanCustom.vcxproj
/Shared.VulkanCustom.vcxproj.filters
/Shared.VulkanCustom.vcxproj.user
/Shared.VulkanCustom___FB.VC.VC.opendb
/Shared.VulkanCustom___FB.VC.db
/Shared.VulkanCustom___FB.manifest
/Shared.VulkanCustom___FB.opensdf
/Shared.VulkanCustom___FB.sdf
/Shared.VulkanCustom___FB.sln
/Shared.VulkanCustom___FB.v12.sdf
/Shared.VulkanCustom___FB.v12.suo
/Shared.VulkanCustom___FB.vcxproj
/Shared.VulkanCustom___FB.vcxproj.filters
/Shared.VulkanCustom___FB.vcxproj.user
/Shared.VulkanCustom___Wayland.VC.VC.opendb
/Shared.VulkanCustom___Wayland.VC.db
/Shared.VulkanCustom___Wayland.manifest
/Shared.VulkanCustom___Wayland.opensdf
/Shared.VulkanCustom___Wayland.sdf
/Shared.VulkanCustom___Wayland.sln
/Shared.VulkanCustom___Wayland.v12.sdf
/Shared.VulkanCustom___Wayland.v12.suo
/Shared.VulkanCustom___Wayland.vcxproj
/Shared.VulkanCustom___Wayland.vcxproj.filters
/Shared.VulkanCustom___Wayland.vcxproj.user
/Shared.VulkanCustom___Wayland_XDG.VC.VC.opendb
/Shared.VulkanCustom___Wayland_XDG.VC.db
/Shared.VulkanCustom___Wayland_XDG.manifest
/Shared.VulkanCustom___Wayland_XDG.opensdf
/Shared.VulkanCustom___Wayland_XDG.sdf
/Shared.VulkanCustom___Wayland_XDG.sln
/Shared.VulkanCustom___Wayland_XDG.v12.sdf
/Shared.VulkanCustom___Wayland_XDG.v12.suo
/Shared.VulkanCustom___Wayland_XDG.vcxproj
/Shared.VulkanCustom___Wayland_XDG.vcxproj.filters
/Shared.VulkanCustom___Wayland_XDG.vcxproj.user
/build/
