---
Checks:          '-*,
bugprone-copy-constructor-init,
bugprone-dangling-handle
bugprone-fold-init-type,
bugprone-inaccurate-erase,
bugprone-integer-division,
bugprone-misplaced-operator-in-strlen-in-alloc,
bugprone-move-forwarding-reference,
bugprone-string-constructor,
bugprone-suspicious-memset-usage,
bugprone-undefined-memory-manipulation,
bugprone-virtual-near-miss,
cert-dcl21-cpp,
cert-dcl58-cpp,
cert-env33-c,
cert-err34-c,
cert-err52-cpp,
cert-flp30-c,
cppcoreguidelines-interfaces-global-init,
cppcoreguidelines-no-malloc,
cppcoreguidelines-pro-type-cstyle-cast,
cppcoreguidelines-pro-type-const-cast,
cppcoreguidelines-pro-type-static-cast-downcast,
google-build-explicit-make-pair,
google-readability-braces-around-statements,
google-readability-casting,
hicpp-exception-baseclass,
hicpp-no-assembler,
misc-forwarding-reference-overload,
misc-incorrect-roundings,
misc-lambda-function-name,
misc-macro-repeated-side-effects,
misc-new-delete-overloads,
misc-sizeof-container,
misc-sizeof-expression,
misc-static-assert,
misc-string-compare,
misc-string-literal-with-embedded-nul,
misc-string-integer-assignment,
misc-suspicious-enum-usage,
misc-suspicious-missing-comma,
misc-swapped-arguments,
misc-throw-by-value-catch-by-reference,
misc-uniqueptr-reset-release,
misc-unused-alias-decls,
misc-unused-raii,
modernize-deprecated-headers,
modernize-replace-random-shuffle,
modernize-shrink-to-fit,
modernize-use-auto,
modernize-use-emplace,
modernize-use-equals-default,
modernize-use-equals-delete,
modernize-use-nullptr,
modernize-use-override,
modernize-use-noexcept,
modernize-use-using,
performance-faster-string-find,
performance-for-range-copy,
performance-implicit-conversion-in-loop,
performance-inefficient-algorithm,
performance-inefficient-vector-operation,
performance-move-const-arg,
performance-move-constructor-init,
performance-noexcept-move-constructor,
performance-type-promotion-in-math-fn,
performance-unnecessary-copy-initialization,
readability-container-size-empty,
readability-delete-null-pointer,
readability-deleted-default,
readability-else-after-return,
readability-implicit-bool-conversion,
readability-inconsistent-declaration-parameter-name,
readability-misleading-indentation,
readability-misplaced-array-index,
readability-redundant-function-ptr-dereference,
readability-redundant-member-init,
readability-redundant-smartptr-get,
readability-redundant-string-init,
readability-redundant-string-cstr,
readability-simplify-boolean-expr,
readability-static-accessed-through-instance,
readability-uniqueptr-delete-release'
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     file
CheckOptions:    
  - key:             google-readability-braces-around-statements.ShortStatementLines
    value:           '1'
  - key:             modernize-loop-convert.NamingStyle
    value:           camelBack
  - key:             readability-identifier-naming.AbstractClassCase
    value:           CamelCase
  - key:             readability-identifier-naming.AbstractClassPrefix
    value:           ''
  - key:             readability-identifier-naming.AbstractClassSuffix
    value:           ''
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  - key:             readability-identifier-naming.ClassConstantCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.ClassConstantPrefix
    value:           ''
  - key:             readability-identifier-naming.ClassConstantSuffix
    value:           ''
  - key:             readability-identifier-naming.ClassMemberCase
    value:           camelBack
  - key:             readability-identifier-naming.ClassMemberPrefix
    value:           'g_'
  - key:             readability-identifier-naming.ClassMemberSuffix
    value:           ''
  - key:             readability-identifier-naming.ClassMethodCase
    value:           CamelCase
  - key:             readability-identifier-naming.ClassMethodPrefix
    value:           ''
  - key:             readability-identifier-naming.ClassMethodSuffix
    value:           ''
  - key:             readability-identifier-naming.ClassPrefix
    value:           ''
  - key:             readability-identifier-naming.ClassSuffix
    value:           ''
  - key:             readability-identifier-naming.ConstantCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.ConstantMemberCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.ConstantMemberPrefix
    value:           ''
  - key:             readability-identifier-naming.ConstantMemberSuffix
    value:           ''
  - key:             readability-identifier-naming.ConstantParameterCase
    value:           camelBack
  - key:             readability-identifier-naming.ConstantParameterPrefix
    value:           ''
  - key:             readability-identifier-naming.ConstantParameterSuffix
    value:           ''
  - key:             readability-identifier-naming.ConstantPrefix
    value:           ''
  - key:             readability-identifier-naming.ConstantSuffix
    value:           ''
  - key:             readability-identifier-naming.ConstexprFunctionCase
    value:           CamelCase
  - key:             readability-identifier-naming.ConstexprFunctionPrefix
    value:           ''
  - key:             readability-identifier-naming.ConstexprFunctionSuffix
    value:           ''
  - key:             readability-identifier-naming.ConstexprMethodCase
    value:           CamelCase
  - key:             readability-identifier-naming.ConstexprMethodPrefix
    value:           ''
  - key:             readability-identifier-naming.ConstexprMethodSuffix
    value:           ''
  - key:             readability-identifier-naming.ConstexprVariableCase
    value:           camelBack
  - key:             readability-identifier-naming.ConstexprVariablePrefix
    value:           ''
  - key:             readability-identifier-naming.ConstexprVariableSuffix
    value:           ''
  - key:             readability-identifier-naming.EnumCase
    value:           CamelCase
  - key:             readability-identifier-naming.EnumConstantCase
    value:           CamelCase
  - key:             readability-identifier-naming.EnumConstantPrefix
    value:           ''
  - key:             readability-identifier-naming.EnumConstantSuffix
    value:           ''
  - key:             readability-identifier-naming.EnumPrefix
    value:           ''
  - key:             readability-identifier-naming.EnumSuffix
    value:           ''
  - key:             readability-identifier-naming.FunctionCase
    value:           CamelCase
  - key:             readability-identifier-naming.FunctionPrefix
    value:           ''
  - key:             readability-identifier-naming.FunctionSuffix
    value:           ''
  - key:             readability-identifier-naming.GlobalConstantCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.GlobalConstantPrefix
    value:           ''
  - key:             readability-identifier-naming.GlobalConstantSuffix
    value:           ''
  - key:             readability-identifier-naming.GlobalFunctionCase
    value:           CamelCase
  - key:             readability-identifier-naming.GlobalFunctionPrefix
    value:           ''
  - key:             readability-identifier-naming.GlobalFunctionSuffix
    value:           ''
  - key:             readability-identifier-naming.GlobalVariableCase
    value:           camelBack
  - key:             readability-identifier-naming.GlobalVariablePrefix
    value:           g_
  - key:             readability-identifier-naming.GlobalVariableSuffix
    value:           ''
  - key:             readability-identifier-naming.IgnoreFailedSplit
    value:           '0'
  - key:             readability-identifier-naming.InlineNamespaceCase
    value:           CamelCase
  - key:             readability-identifier-naming.InlineNamespacePrefix
    value:           ''
  - key:             readability-identifier-naming.InlineNamespaceSuffix
    value:           ''
  - key:             readability-identifier-naming.LocalConstantCase
    value:           camelBack
  - key:             readability-identifier-naming.LocalConstantPrefix
    value:           ''
  - key:             readability-identifier-naming.LocalConstantSuffix
    value:           ''
  - key:             readability-identifier-naming.LocalVariableCase
    value:           camelBack
  - key:             readability-identifier-naming.LocalVariablePrefix
    value:           ''
  - key:             readability-identifier-naming.LocalVariableSuffix
    value:           ''
  - key:             readability-identifier-naming.MemberCase
    value:           camelBack
  - key:             readability-identifier-naming.MemberPrefix
    value:           m_
  - key:             readability-identifier-naming.MemberSuffix
    value:           ''
  - key:             readability-identifier-naming.MethodCase
    value:           CamelCase
  - key:             readability-identifier-naming.MethodPrefix
    value:           ''
  - key:             readability-identifier-naming.MethodSuffix
    value:           ''
  - key:             readability-identifier-naming.NamespaceCase
    value:           CamelCase
  - key:             readability-identifier-naming.NamespacePrefix
    value:           ''
  - key:             readability-identifier-naming.NamespaceSuffix
    value:           ''
  - key:             readability-identifier-naming.ParameterCase
    value:           camelBack
  - key:             readability-identifier-naming.ParameterPackCase
    value:           camelBack
  - key:             readability-identifier-naming.ParameterPackPrefix
    value:           ''
  - key:             readability-identifier-naming.ParameterPackSuffix
    value:           ''
  - key:             readability-identifier-naming.ParameterPrefix
    value:           ''
  - key:             readability-identifier-naming.ParameterSuffix
    value:           ''
  - key:             readability-identifier-naming.PrivateMemberCase
    value:           camelBack
  - key:             readability-identifier-naming.PrivateMemberPrefix
    value:           m_
  - key:             readability-identifier-naming.PrivateMemberSuffix
    value:           ''
  - key:             readability-identifier-naming.ProtectedMemberCase
    value:           camelBack
  - key:             readability-identifier-naming.ProtectedMemberPrefix
    value:           m_
  - key:             readability-identifier-naming.ProtectedMemberSuffix
    value:           ''
  - key:             readability-identifier-naming.PublicMemberCase
    value:           CamelCase
  - key:             readability-identifier-naming.PublicMemberPrefix
    value:           ''
  - key:             readability-identifier-naming.PublicMemberSuffix
    value:           ''
  - key:             readability-identifier-naming.StaticConstantCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.StaticConstantPrefix
    value:           ''
  - key:             readability-identifier-naming.StaticConstantSuffix
    value:           ''
  - key:             readability-identifier-naming.StaticVariableCase
    value:           camelBack
  - key:             readability-identifier-naming.StaticVariablePrefix
    value:           g_
  - key:             readability-identifier-naming.StaticVariableSuffix
    value:           ''
  - key:             readability-identifier-naming.StructCase
    value:           CamelCase
  - key:             readability-identifier-naming.StructPrefix
    value:           ''
  - key:             readability-identifier-naming.StructSuffix
    value:           ''
  - key:             readability-identifier-naming.TemplateParameterCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.TemplateParameterPrefix
    value:           ''
  - key:             readability-identifier-naming.TemplateParameterSuffix
    value:           ''
  - key:             readability-identifier-naming.TemplateTemplateParameterCase
    value:           CamelCase
  - key:             readability-identifier-naming.TemplateTemplateParameterPrefix
    value:           ''
  - key:             readability-identifier-naming.TemplateTemplateParameterSuffix
    value:           ''
  - key:             readability-identifier-naming.TypeTemplateParameterCase
    value:           CamelCase
  - key:             readability-identifier-naming.TypeTemplateParameterPrefix
    value:           ''
  - key:             readability-identifier-naming.TypeTemplateParameterSuffix
    value:           ''
  - key:             readability-identifier-naming.TypedefCase
    value:           lower_case
  - key:             readability-identifier-naming.TypedefPrefix
    value:           ''
  - key:             readability-identifier-naming.TypedefSuffix
    value:           '_t'
  - key:             readability-identifier-naming.UnionCase
    value:           CamelCase
  - key:             readability-identifier-naming.UnionPrefix
    value:           ''
  - key:             readability-identifier-naming.UnionSuffix
    value:           ''
  - key:             readability-identifier-naming.ValueTemplateParameterCase
    value:           camelBack
  - key:             readability-identifier-naming.ValueTemplateParameterPrefix
    value:           ''
  - key:             readability-identifier-naming.ValueTemplateParameterSuffix
    value:           ''
  - key:             readability-identifier-naming.VariableCase
    value:           camelBack
  - key:             readability-identifier-naming.VariablePrefix
    value:           ''
  - key:             readability-identifier-naming.VariableSuffix
    value:           ''
  - key:             readability-identifier-naming.VirtualMethodCase
    value:           CamelCase
  - key:             readability-identifier-naming.VirtualMethodPrefix
    value:           ''
  - key:             readability-identifier-naming.VirtualMethodSuffix
    value:           ''
  - key:             readability-implicit-bool-conversion.AllowIntegerConditions
    value:           '0'
  - key:             readability-implicit-bool-conversion.AllowPointerConditions
    value:           '0'
    
# readability-identifier-naming.ClassMember = static class member variables
# 
	
#  - key:             google-readability-redundant-smartptr-get 
#    value:           '1'
#  - key:             modernize-use-nullptr.NullMacros
#    value:           'NULL'
#  - key:             modernize-use-using.IgnoreMacros
#    value:           '1'
#  - key:             readability-simplify-boolean-expr.ChainedConditionalAssignment
#    value:           '0'
#  - key:             readability-simplify-boolean-expr.ChainedConditionalReturn
#    value:           '0'
...

# Create command line option to add and also one to only run this check
# readability-identifier-naming


# Use in nightly build as its too slow
#clang-analyzer-core.*,
#clang-analyzer-cplusplus.*,
#bugprone-assert-side-effect,
#bugprone-use-after-move,
#cppcoreguidelines-c-copy-assignment-signature,
#cppcoreguidelines-pro-type-member-init,
#cppcoreguidelines-slicing,
#google-global-names-in-headers,
#misc-definitions-in-headers,
#misc-misplaced-widening-cast,
#misc-non-copyable-objects,
#misc-suspicious-semicolon,
#misc-suspicious-string-compare,
#misc-undelegated-constructor,
#misc-unused-using-decls,
#modernize-redundant-void-arg,
#modernize-replace-auto-ptr,
#modernize-use-bool-literals,
#modernize-use-default-member-init,
#performance-unnecessary-value-param,
#readability-named-parameter,
#readability-non-const-parameter,
#readability-redundant-control-flow,
#readability-redundant-declaration,
#readability-static-definition-in-anonymous-namespace,


# Good idea but requires quite a bit of work
# cert-dcl50-cpp
# cert-err60-cpp,
# cppcoreguidelines-pro-type-vararg,
# cppcoreguidelines-special-member-functions,
# google-default-arguments,
# misc-misplaced-const,
# misc-redundant-expression,
# modernize-make-shared
# modernize-loop-convert
# modernize-pass-by-value
# modernize-raw-string-literal
# modernize-return-braced-init-list
# readability-function-size
# readability-identifier-naming,
# performance-inefficient-string-concatenation

# Also might conflict with google test
#cert-err58-cpp,

# Good idea but conflicts with gli
# cppcoreguidelines-pro-type-union-access,


# Use when C++14
# modernize-avoid-bind,
# modernize-make-unique
# modernize-use-transparent-functors
    
# Use when C++17
# modernize-unary-static-assert

# Use when the GSL is added
# cppcoreguidelines-pro-bounds-array-to-pointer-decay
# cppcoreguidelines-pro-bounds-constant-array-index,
# cppcoreguidelines-pro-bounds-pointer-arithmetic  
  
# Candidates
# google-readability-function-size
# google-runtime-int
# hicpp-new-delete-operators

# Not likely
# cppcoreguidelines-pro-type-reinterpret-cast
# google-build-using-namespace
# google-readability-namespace-comments
# google-readability-todo
# google-runtime-operator
# llvm-namespace-comment
# readability-avoid-const-params-in-decls

# Evaluate
# bugprone-bool-pointer-implicit-conversion
# bugprone-forward-declaration-namespace
# bugprone-multiple-statement-macro
# cert-msc50-cpp
# cppcoreguidelines-owning-memory
# google-explicit-constructor
# google-runtime-member-string-references
# misc-macro-parentheses,  # We do have a few logging macros this will cause trouble with.
# misc-unused-parameters
# llvm-include-order
# hicpp-signed-bitwise

# Dont use:
# boost-use-to-string
# bugprone-argument-comment
# fuchsia-default-arguments
# fuchsia-overloaded-operator
# fuchsia-virtual-inheritance
# google-build-namespaces
# google-objc-avoid-throwing-exception
# google-objc-global-variable-declaration
# google-runtime-references
# objc-avoid-nserror-init
# objc-avoid-spinlock
# objc-forbidden-subclassing
# objc-property-declaration
# llvm-header-guard,
# llvm-twine-local
# mpi-buffer-deref
# mpi-type-mismatch

# Alias
# cert-dcl03-c
# cert-dcl54-cpp
# cert-dcl59-cpp
# cert-err09-cpp
# cert-err61-cpp
# cert-fio38-c
# cert-msc30-c
# cert-oop11-cpp
# google-readability-redundant-smartptr-get
# hicpp-braces-around-statements
# hicpp-deprecated-headers
# hicpp-explicit-conversions
# hicpp-function-size
# hicpp-invalid-access-moved
# hicpp-member-init
# hicpp-move-const-arg
# hicpp-named-parameter
# hicpp-no-array-decay
# hicpp-no-malloc
# hicpp-noexcept-move
# hicpp-use-noexcept
# hicpp-special-member-functions
# hicpp-static-assert
# hicpp-undelegated-constructor
# hicpp-use-auto
# hicpp-use-emplace
# hicpp-use-equals-default
# hicpp-use-equals-delete
# hicpp-use-nullptr
# hicpp-use-override
# hicpp-vararg
# misc-unconventional-assign-operator,


# Android
# android-cloexec-accept
# android-cloexec-accept4
# android-cloexec-creat
# android-cloexec-dup
# android-cloexec-epoll-create
# android-cloexec-epoll-create1
# android-cloexec-fopen
# android-cloexec-inotify-init
# android-cloexec-inotify-init1
# android-cloexec-memfd-create
# android-cloexec-open
# android-cloexec-socket
    
