/_Readme.txt
/.Config/LaunchTC.bat
/.Config/__pycache__
/.Config/.mypy_cache/
/.Config/*.pyc
/.Config/FslBuild/*.pyc
/.Config/FslBuildGen/*.pyc
/.Config/FslBuildGen/__pycache__
/.Config/FslBuildGen/Build//*.pyc
/.Config/FslBuildGen/Build/__pycache__
/.Config/FslBuildGen/BuildConfig/*.pyc
/.Config/FslBuildGen/BuildConfig/__pycache__
/.Config/FslBuildGen/BuildContent/*.pyc
/.Config/FslBuildGen/BuildContent/__pycache__
/.Config/FslBuildGen/BuildContent/Processor/*.pyc
/.Config/FslBuildGen/BuildContent/Processor/__pycache__
/.Config/FslBuildGen/BuildContent/Sync/*.pyc
/.Config/FslBuildGen/BuildContent/Sync/__pycache__
/.Config/FslBuildGen/BuildExternal/State/*.pyc
/.Config/FslBuildGen/BuildExternal/State/__pycache__
/.Config/FslBuildGen/BuildExternal/*.pyc
/.Config/FslBuildGen/BuildExternal/__pycache__
/.Config/FslBuildGen/Context/*.pyc
/.Config/FslBuildGen/Context/__pycache__
/.Config/FslBuildGen/Generator/*.pyc
/.Config/FslBuildGen/Generator/__pycache__
/.Config/FslBuildGen/Generator/Report/*.pyc
/.Config/FslBuildGen/Generator/Report/__pycache__
/.Config/FslBuildGen/Info/*.pyc
/.Config/FslBuildGen/Info/__pycache__
/.Config/FslBuildGen/Location/*.pyc
/.Config/FslBuildGen/Location/__pycache__
/.Config/FslBuildGen/Packages/*.pyc
/.Config/FslBuildGen/Packages/__pycache__
/.Config/FslBuildGen/Template/*.pyc
/.Config/FslBuildGen/Template/__pycache__
/.Config/FslBuildGen/Tool/*.pyc
/.Config/FslBuildGen/Tool/__pycache__
/.Config/FslBuildGen/Tool/Flow/*.pyc
/.Config/FslBuildGen/Tool/Flow/__pycache__
/.Config/FslBuildGen/Vars/*.pyc
/.Config/FslBuildGen/Vars/__pycache__
/.Config/FslBuildGen/Xml/*.pyc
/.Config/FslBuildGen/Xml/__pycache__
/.Config/FslBuildGen/Xml/Project/*.pyc
/.Config/FslBuildGen/Xml/Project/__pycache__
/.Config/FslBuildGen/Xml/ToolConfig/*.pyc
/.Config/FslBuildGen/Xml/ToolConfig/__pycache__
/.Config/FslFontHelper/BasicKerningObjects.pyc
/.Config/FslFontHelper/FormatPlugin.pyc
/.Config/FslFontHelper/FormatPluginBasicKerning.pyc
/.Config/FslFontHelper/IOUtil.pyc
/.Config/FslFontHelper/__init__.pyc
/.Config/FslFontHelper/FormatPluginFontBasicKerning.pyc
/.Config/FslFontHelper/FormatPluginFontBasicKerningUtil.pyc
/.Config/TPConvert/__pycache__
/.Config/TPConvert/*.pyc
/.Config/x264.exe
/.Thirdparty/
/.vscode/
/.Reports/
/bin/
/build/
/Application.mk
/DemoNativeActivity.cpp
/FslProj.gen
/ThirdParty/G2DEmulation/bin/
/ThirdParty/G2DEmulation/G2DEmulation.sdf
/ThirdParty/G2DEmulation/G2DEmulation.v12.suo
/ThirdParty/DevCompat/bin/
/CMakeLists.txt
