/.StartProject.bat
/.vs/
/Android.mk
/Android/
/CMakeLists.txt
/Content/Textures/TextureArray/Test/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GNUmakefile
/GNUmakefile_Yocto
/TexturingArrays
/TexturingArrays_FB
/TexturingArrays_FB_d
/TexturingArrays_Wayland
/TexturingArrays_Wayland_d
/TexturingArrays_X11
/TexturingArrays_X11_d
/TexturingArrays_c
/TexturingArrays_d
/Vulkan.TexturingArrays
/Vulkan.TexturingArrays.VC.VC.opendb
/Vulkan.TexturingArrays.VC.db
/Vulkan.TexturingArrays.aps
/Vulkan.TexturingArrays.manifest
/Vulkan.TexturingArrays.opensdf
/Vulkan.TexturingArrays.rc
/Vulkan.TexturingArrays.sdf
/Vulkan.TexturingArrays.sln
/Vulkan.TexturingArrays.v12.sdf
/Vulkan.TexturingArrays.v12.suo
/Vulkan.TexturingArrays.vcxproj
/Vulkan.TexturingArrays.vcxproj.filters
/Vulkan.TexturingArrays.vcxproj.user
/Vulkan.TexturingArrays_FB
/Vulkan.TexturingArrays_Wayland
/Vulkan.TexturingArrays_X11
/build/
/resource.h
