.StartProject.bat
.vs/
Android.mk
Android/
CMakeLists.txt
Content/_ContentSyncCache.fsl
FslSDKIcon.ico
GNUmakefile
GNUmakefile_Yocto
OpenVX.VxTutorial1Legacy.VC.VC.opendb
OpenVX.VxTutorial1Legacy.VC.db
OpenVX.VxTutorial1Legacy.aps
OpenVX.VxTutorial1Legacy.manifest
OpenVX.VxTutorial1Legacy.opensdf
OpenVX.VxTutorial1Legacy.rc
OpenVX.VxTutorial1Legacy.sdf
OpenVX.VxTutorial1Legacy.sln
OpenVX.VxTutorial1Legacy.v12.sdf
OpenVX.VxTutorial1Legacy.v12.suo
OpenVX.VxTutorial1Legacy.vcxproj
OpenVX.VxTutorial1Legacy.vcxproj.filters
OpenVX.VxTutorial1Legacy.vcxproj.user
Test_sobel.bmp
VxTutorial1
VxTutorial1_d
build/
resource.h
