/.StartProject.bat
/.vs/
/Android.mk
/CMakeLists.txt
/FslUtil.OpenCL1_2.VC.VC.opendb
/FslUtil.OpenCL1_2.VC.db
/FslUtil.OpenCL1_2.manifest
/FslUtil.OpenCL1_2.opensdf
/FslUtil.OpenCL1_2.sdf
/FslUtil.OpenCL1_2.sln
/FslUtil.OpenCL1_2.v12.sdf
/FslUtil.OpenCL1_2.v12.suo
/FslUtil.OpenCL1_2.vcxproj
/FslUtil.OpenCL1_2.vcxproj.filters
/FslUtil.OpenCL1_2.vcxproj.user
/GNUmakefile
/GNUmakefile_Yocto
/build/
