.StartProject.bat
.vs/
Android.mk
Android/
CMakeLists.txt
Content/_ContentSyncCache.fsl
FslSDKIcon.ico
GNUmakefile
GNUmakefile_Yocto
OpenCL.Info.VC.VC.opendb
OpenCL.Info.VC.db
OpenCL.Info.aps
OpenCL.Info.manifest
OpenCL.Info.opensdf
OpenCL.Info.rc
OpenCL.Info.sdf
OpenCL.Info.sln
OpenCL.Info.v12.sdf
OpenCL.Info.v12.suo
OpenCL.Info.vcxproj
OpenCL.Info.vcxproj.filters
OpenCL.Info.vcxproj.user
build/
resource.h
