.StartProject.bat
.vs
Android.mk
BloomShared.VC.VC.opendb
BloomShared.VC.db
BloomShared.manifest
BloomShared.opensdf
BloomShared.sdf
BloomShared.sln
BloomShared.v12.sdf
BloomShared.v12.suo
BloomShared.vcxproj
BloomShared.vcxproj.filters
BloomShared.vcxproj.user
CMakeLists.txt
GNUmakefile
GNUmakefile_Yocto
build/
