/.vs/
/FslSimpleUI.Render.IMBasic.VC.VC.opendb
/FslSimpleUI.Render.IMBasic.VC.db
/FslSimpleUI.Render.IMBasic.manifest
/FslSimpleUI.Render.IMBasic.opensdf
/FslSimpleUI.Render.IMBasic.sdf
/FslSimpleUI.Render.IMBasic.sln
/FslSimpleUI.Render.IMBasic.v12.sdf
/FslSimpleUI.Render.IMBasic.v12.suo
/FslSimpleUI.Render.IMBasic.vcxproj
/FslSimpleUI.Render.IMBasic.vcxproj.filters
/FslSimpleUI.Render.IMBasic.vcxproj.user
/FslSimpleUI.Render.IMBatch.VC.VC.opendb
/FslSimpleUI.Render.IMBatch.VC.db
/FslSimpleUI.Render.IMBatch.manifest
/FslSimpleUI.Render.IMBatch.opensdf
/FslSimpleUI.Render.IMBatch.sdf
/FslSimpleUI.Render.IMBatch.sln
/FslSimpleUI.Render.IMBatch.v12.sdf
/FslSimpleUI.Render.IMBatch.v12.suo
/FslSimpleUI.Render.IMBatch.vcxproj
/FslSimpleUI.Render.IMBatch.vcxproj.filters
/FslSimpleUI.Render.IMBatch.vcxproj.user
/build/
