/.StartProject.bat
/.vs/
/Android.mk
/Android/
/CMakeLists.txt
/Content/TextureAtlas/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GLES2.UI.SimpleUI101
/GLES2.UI.SimpleUI101.VC.VC.opendb
/GLES2.UI.SimpleUI101.VC.db
/GLES2.UI.SimpleUI101.aps
/GLES2.UI.SimpleUI101.manifest
/GLES2.UI.SimpleUI101.opensdf
/GLES2.UI.SimpleUI101.rc
/GLES2.UI.SimpleUI101.sdf
/GLES2.UI.SimpleUI101.sln
/GLES2.UI.SimpleUI101.v12.sdf
/GLES2.UI.SimpleUI101.v12.suo
/GLES2.UI.SimpleUI101.vcxproj
/GLES2.UI.SimpleUI101.vcxproj.filters
/GLES2.UI.SimpleUI101.vcxproj.user
/GLES2.UI.SimpleUI101_FB
/GLES2.UI.SimpleUI101_Wayland
/GLES2.UI.SimpleUI101_X11
/GNUmakefile
/GNUmakefile_Yocto
/build/
/resource.h
