/.StartProject.bat
/.vs/
/Android.mk
/CMakeLists.txt
/FslUtil.OpenVG.VC.VC.opendb
/FslUtil.OpenVG.VC.db
/FslUtil.OpenVG.manifest
/FslUtil.OpenVG.opensdf
/FslUtil.OpenVG.sdf
/FslUtil.OpenVG.sln
/FslUtil.OpenVG.v12.sdf
/FslUtil.OpenVG.v12.suo
/FslUtil.OpenVG.vcxproj
/FslUtil.OpenVG.vcxproj.filters
/FslUtil.OpenVG.vcxproj.user
/GNUmakefile
/GNUmakefile_Yocto
/build/
