/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GNUmakefile
/GNUmakefile_Yocto
/OpenCVMatToUI
/OpenCVMatToUI_FB
/OpenCVMatToUI_FB_d
/OpenCVMatToUI_Wayland
/OpenCVMatToUI_Wayland_d
/OpenCVMatToUI_X11
/OpenCVMatToUI_X11_d
/OpenCVMatToUI_c
/OpenCVMatToUI_d
/Vulkan.OpenCVMatToUI.VC.VC.opendb
/Vulkan.OpenCVMatToUI.VC.db
/Vulkan.OpenCVMatToUI.aps
/Vulkan.OpenCVMatToUI.manifest
/Vulkan.OpenCVMatToUI.opensdf
/Vulkan.OpenCVMatToUI.rc
/Vulkan.OpenCVMatToUI.sdf
/Vulkan.OpenCVMatToUI.sln
/Vulkan.OpenCVMatToUI.v12.sdf
/Vulkan.OpenCVMatToUI.v12.suo
/Vulkan.OpenCVMatToUI.vcxproj
/Vulkan.OpenCVMatToUI.vcxproj.filters
/Vulkan.OpenCVMatToUI.vcxproj.user
/build/
/resource.h
