/.vs/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/OpenCL.Rgb2Gray.VC.VC.opendb
/OpenCL.Rgb2Gray.VC.db
/OpenCL.Rgb2Gray.aps
/OpenCL.Rgb2Gray.manifest
/OpenCL.Rgb2Gray.opensdf
/OpenCL.Rgb2Gray.rc
/OpenCL.Rgb2Gray.sdf
/OpenCL.Rgb2Gray.sln
/OpenCL.Rgb2Gray.v12.sdf
/OpenCL.Rgb2Gray.v12.suo
/OpenCL.Rgb2Gray.vcxproj
/OpenCL.Rgb2Gray.vcxproj.filters
/OpenCL.Rgb2Gray.vcxproj.user
/build/
/resource.h
