/.vs/
/Content/_ContentSyncCache.fsl
/FslGraphics2D.PixelFormatConverter.UnitTest.VC.VC.opendb
/FslGraphics2D.PixelFormatConverter.UnitTest.VC.db
/FslGraphics2D.PixelFormatConverter.UnitTest.aps
/FslGraphics2D.PixelFormatConverter.UnitTest.manifest
/FslGraphics2D.PixelFormatConverter.UnitTest.opensdf
/FslGraphics2D.PixelFormatConverter.UnitTest.rc
/FslGraphics2D.PixelFormatConverter.UnitTest.sdf
/FslGraphics2D.PixelFormatConverter.UnitTest.sln
/FslGraphics2D.PixelFormatConverter.UnitTest.v12.sdf
/FslGraphics2D.PixelFormatConverter.UnitTest.v12.suo
/FslGraphics2D.PixelFormatConverter.UnitTest.vcxproj
/FslGraphics2D.PixelFormatConverter.UnitTest.vcxproj.filters
/FslGraphics2D.PixelFormatConverter.UnitTest.vcxproj.user
/FslSDKIcon.ico
/build/
/resource.h
