.StartProject.bat
.vs/
Android.mk
Android/
CMakeLists.txt
Content/_ContentSyncCache.fsl
FslSDKIcon.ico
GLES3.OpenVX101.VC.VC.opendb
GLES3.OpenVX101.VC.db
GLES3.OpenVX101.aps
GLES3.OpenVX101.manifest
GLES3.OpenVX101.opensdf
GLES3.OpenVX101.rc
GLES3.OpenVX101.sdf
GLES3.OpenVX101.sln
GLES3.OpenVX101.v12.sdf
GLES3.OpenVX101.v12.suo
GLES3.OpenVX101.vcxproj
GLES3.OpenVX101.vcxproj.filters
GLES3.OpenVX101.vcxproj.user
build/
resource.h
