/.StartProject.bat
/.vs/
/Android.mk
/Android/
/CMakeLists.txt
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GLES3.OpenVX101.VC.VC.opendb
/GLES3.OpenVX101.VC.db
/GLES3.OpenVX101.aps
/GLES3.OpenVX101.manifest
/GLES3.OpenVX101.opensdf
/GLES3.OpenVX101.rc
/GLES3.OpenVX101.sdf
/GLES3.OpenVX101.sln
/GLES3.OpenVX101.v12.sdf
/GLES3.OpenVX101.v12.suo
/GLES3.OpenVX101.vcxproj
/GLES3.OpenVX101.vcxproj.filters
/GLES3.OpenVX101.vcxproj.user
/GNUmakefile
/GNUmakefile_Yocto
/OpenVX101
/OpenVX101_FB
/OpenVX101_FB_d
/OpenVX101_Wayland
/OpenVX101_Wayland_d
/OpenVX101_X11
/OpenVX101_X11_d
/OpenVX101_d
/build/
/resource.h
