/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/Models/
/Content/Shaders/
/Content/UIAtlas/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.Bloom.VC.VC.opendb
/Vulkan.Bloom.VC.db
/Vulkan.Bloom.aps
/Vulkan.Bloom.manifest
/Vulkan.Bloom.opensdf
/Vulkan.Bloom.rc
/Vulkan.Bloom.sdf
/Vulkan.Bloom.sln
/Vulkan.Bloom.v12.sdf
/Vulkan.Bloom.v12.suo
/Vulkan.Bloom.vcxproj
/Vulkan.Bloom.vcxproj.filters
/Vulkan.Bloom.vcxproj.user
/Vulkan.Bloom___FB.VC.VC.opendb
/Vulkan.Bloom___FB.VC.db
/Vulkan.Bloom___FB.aps
/Vulkan.Bloom___FB.manifest
/Vulkan.Bloom___FB.opensdf
/Vulkan.Bloom___FB.rc
/Vulkan.Bloom___FB.sdf
/Vulkan.Bloom___FB.sln
/Vulkan.Bloom___FB.v12.sdf
/Vulkan.Bloom___FB.v12.suo
/Vulkan.Bloom___FB.vcxproj
/Vulkan.Bloom___FB.vcxproj.filters
/Vulkan.Bloom___FB.vcxproj.user
/Vulkan.Bloom___Wayland.VC.VC.opendb
/Vulkan.Bloom___Wayland.VC.db
/Vulkan.Bloom___Wayland.aps
/Vulkan.Bloom___Wayland.manifest
/Vulkan.Bloom___Wayland.opensdf
/Vulkan.Bloom___Wayland.rc
/Vulkan.Bloom___Wayland.sdf
/Vulkan.Bloom___Wayland.sln
/Vulkan.Bloom___Wayland.v12.sdf
/Vulkan.Bloom___Wayland.v12.suo
/Vulkan.Bloom___Wayland.vcxproj
/Vulkan.Bloom___Wayland.vcxproj.filters
/Vulkan.Bloom___Wayland.vcxproj.user
/Vulkan.Bloom___Wayland_XDG.VC.VC.opendb
/Vulkan.Bloom___Wayland_XDG.VC.db
/Vulkan.Bloom___Wayland_XDG.aps
/Vulkan.Bloom___Wayland_XDG.manifest
/Vulkan.Bloom___Wayland_XDG.opensdf
/Vulkan.Bloom___Wayland_XDG.rc
/Vulkan.Bloom___Wayland_XDG.sdf
/Vulkan.Bloom___Wayland_XDG.sln
/Vulkan.Bloom___Wayland_XDG.v12.sdf
/Vulkan.Bloom___Wayland_XDG.v12.suo
/Vulkan.Bloom___Wayland_XDG.vcxproj
/Vulkan.Bloom___Wayland_XDG.vcxproj.filters
/Vulkan.Bloom___Wayland_XDG.vcxproj.user
/build/
/resource.h
