/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/Models/
/Content/Shaders/
/Content/UIAtlas/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.Bloom.VC.VC.opendb
/Vulkan.Bloom.VC.db
/Vulkan.Bloom.aps
/Vulkan.Bloom.manifest
/Vulkan.Bloom.opensdf
/Vulkan.Bloom.rc
/Vulkan.Bloom.sdf
/Vulkan.Bloom.sln
/Vulkan.Bloom.v12.sdf
/Vulkan.Bloom.v12.suo
/Vulkan.Bloom.vcxproj
/Vulkan.Bloom.vcxproj.filters
/Vulkan.Bloom.vcxproj.user
/build/
/resource.h
