/.StartProject.bat
/.vs/
/Android.mk
/Android/
/CMakeLists.txt
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GNUmakefile
/GNUmakefile_Yocto
/Gears
/Gears_FB
/Gears_FB_d
/Gears_Wayland
/Gears_Wayland_d
/Gears_X11
/Gears_X11_d
/Gears_d
/Vulkan.Gears
/Vulkan.Gears.VC.VC.opendb
/Vulkan.Gears.VC.db
/Vulkan.Gears.aps
/Vulkan.Gears.manifest
/Vulkan.Gears.opensdf
/Vulkan.Gears.rc
/Vulkan.Gears.sdf
/Vulkan.Gears.sln
/Vulkan.Gears.v12.sdf
/Vulkan.Gears.v12.suo
/Vulkan.Gears.vcxproj
/Vulkan.Gears.vcxproj.filters
/Vulkan.Gears.vcxproj.user
/Vulkan.Gears_FB
/Vulkan.Gears_Wayland
/Vulkan.Gears_X11
/build/
/resource.h
