/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/CustomAtlas/
/Content/UIAtlas/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.UI.SmoothScroll.VC.VC.opendb
/Vulkan.UI.SmoothScroll.VC.db
/Vulkan.UI.SmoothScroll.aps
/Vulkan.UI.SmoothScroll.manifest
/Vulkan.UI.SmoothScroll.opensdf
/Vulkan.UI.SmoothScroll.rc
/Vulkan.UI.SmoothScroll.sdf
/Vulkan.UI.SmoothScroll.sln
/Vulkan.UI.SmoothScroll.v12.sdf
/Vulkan.UI.SmoothScroll.v12.suo
/Vulkan.UI.SmoothScroll.vcxproj
/Vulkan.UI.SmoothScroll.vcxproj.filters
/Vulkan.UI.SmoothScroll.vcxproj.user
/build/
/resource.h
