/.StartProject.bat
/.vs/
/Android.mk
/CMakeLists.txt
/GNUmakefile
/GNUmakefile_Yocto
/Shared.ObjectSelection.VC.VC.opendb
/Shared.ObjectSelection.VC.db
/Shared.ObjectSelection.manifest
/Shared.ObjectSelection.opensdf
/Shared.ObjectSelection.sdf
/Shared.ObjectSelection.sln
/Shared.ObjectSelection.v12.sdf
/Shared.ObjectSelection.v12.suo
/Shared.ObjectSelection.vcxproj
/Shared.ObjectSelection.vcxproj.filters
/Shared.ObjectSelection.vcxproj.user
/build/
