/.vs/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/FslSimpleUI.Declarative.UnitTest.VC.VC.opendb
/FslSimpleUI.Declarative.UnitTest.VC.db
/FslSimpleUI.Declarative.UnitTest.aps
/FslSimpleUI.Declarative.UnitTest.manifest
/FslSimpleUI.Declarative.UnitTest.opensdf
/FslSimpleUI.Declarative.UnitTest.rc
/FslSimpleUI.Declarative.UnitTest.sdf
/FslSimpleUI.Declarative.UnitTest.sln
/FslSimpleUI.Declarative.UnitTest.v12.sdf
/FslSimpleUI.Declarative.UnitTest.v12.suo
/FslSimpleUI.Declarative.UnitTest.vcxproj
/FslSimpleUI.Declarative.UnitTest.vcxproj.filters
/FslSimpleUI.Declarative.UnitTest.vcxproj.user
/build/
/resource.h
