/.vs/
/Shared.GpuTimestamp.VC.VC.opendb
/Shared.GpuTimestamp.VC.db
/Shared.GpuTimestamp.manifest
/Shared.GpuTimestamp.opensdf
/Shared.GpuTimestamp.sdf
/Shared.GpuTimestamp.sln
/Shared.GpuTimestamp.v12.sdf
/Shared.GpuTimestamp.v12.suo
/Shared.GpuTimestamp.vcxproj
/Shared.GpuTimestamp.vcxproj.filters
/Shared.GpuTimestamp.vcxproj.user
/build/
