.StartProject.bat
.vs
Android.mk
CMakeLists.txt
FslSimpleUI.App.VC.VC.opendb
FslSimpleUI.App.VC.db
FslSimpleUI.App.manifest
FslSimpleUI.App.opensdf
FslSimpleUI.App.sdf
FslSimpleUI.App.sln
FslSimpleUI.App.v12.sdf
FslSimpleUI.App.v12.suo
FslSimpleUI.App.vcxproj
FslSimpleUI.App.vcxproj.filters
FslSimpleUI.App.vcxproj.user
GNUmakefile
GNUmakefile_Yocto
build/
