/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/Textures/WoodFloor/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GNUmakefile
/GNUmakefile_Yocto
/Vulkan.SRGBFramebuffer.VC.VC.opendb
/Vulkan.SRGBFramebuffer.VC.db
/Vulkan.SRGBFramebuffer.aps
/Vulkan.SRGBFramebuffer.manifest
/Vulkan.SRGBFramebuffer.opensdf
/Vulkan.SRGBFramebuffer.rc
/Vulkan.SRGBFramebuffer.sdf
/Vulkan.SRGBFramebuffer.sln
/Vulkan.SRGBFramebuffer.v12.sdf
/Vulkan.SRGBFramebuffer.v12.suo
/Vulkan.SRGBFramebuffer.vcxproj
/Vulkan.SRGBFramebuffer.vcxproj.filters
/Vulkan.SRGBFramebuffer.vcxproj.user
/build/
/resource.h
