/.StartProject.bat
/.vs/
/Android.mk
/Android/
/CMakeLists.txt
/Content/_ContentSyncCache.fsl
/FractalShader
/FractalShader_FB
/FractalShader_FB_d
/FractalShader_Wayland
/FractalShader_Wayland_d
/FractalShader_X11
/FractalShader_X11_d
/FractalShader_d
/FslSDKIcon.ico
/GLES3.FractalShader
/GLES3.FractalShader.VC.VC.opendb
/GLES3.FractalShader.VC.db
/GLES3.FractalShader.aps
/GLES3.FractalShader.manifest
/GLES3.FractalShader.opensdf
/GLES3.FractalShader.rc
/GLES3.FractalShader.sdf
/GLES3.FractalShader.sln
/GLES3.FractalShader.v12.sdf
/GLES3.FractalShader.v12.suo
/GLES3.FractalShader.vcxproj
/GLES3.FractalShader.vcxproj.filters
/GLES3.FractalShader.vcxproj.user
/GLES3.FractalShader_FB
/GLES3.FractalShader_Wayland
/GLES3.FractalShader_X11
/GNUmakefile
/GNUmakefile_Yocto
/build/
/resource.h
