/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/BasicUI/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GLES2.SdfFonts.VC.VC.opendb
/GLES2.SdfFonts.VC.db
/GLES2.SdfFonts.aps
/GLES2.SdfFonts.manifest
/GLES2.SdfFonts.opensdf
/GLES2.SdfFonts.rc
/GLES2.SdfFonts.sdf
/GLES2.SdfFonts.sln
/GLES2.SdfFonts.v12.sdf
/GLES2.SdfFonts.v12.suo
/GLES2.SdfFonts.vcxproj
/GLES2.SdfFonts.vcxproj.filters
/GLES2.SdfFonts.vcxproj.user
/build/
/resource.h
