/.StartProject.bat
/.vs/
/Android.mk
/CMakeLists.txt
/GNUmakefile
/GNUmakefile_Yocto
/Shared.OpenGLES3.CubeMapping.VC.VC.opendb
/Shared.OpenGLES3.CubeMapping.VC.db
/Shared.OpenGLES3.CubeMapping.manifest
/Shared.OpenGLES3.CubeMapping.opensdf
/Shared.OpenGLES3.CubeMapping.sdf
/Shared.OpenGLES3.CubeMapping.sln
/Shared.OpenGLES3.CubeMapping.v12.sdf
/Shared.OpenGLES3.CubeMapping.v12.suo
/Shared.OpenGLES3.CubeMapping.vcxproj
/Shared.OpenGLES3.CubeMapping.vcxproj.filters
/Shared.OpenGLES3.CubeMapping.vcxproj.user
/build/
