/.StartProject.bat
/.vs/
/Android.mk
/CMakeLists.txt
/GNUmakefile
/GNUmakefile_Yocto
/Shared.Camera.Adapter.Interface.VC.VC.opendb
/Shared.Camera.Adapter.Interface.VC.db
/Shared.Camera.Adapter.Interface.manifest
/Shared.Camera.Adapter.Interface.opensdf
/Shared.Camera.Adapter.Interface.sdf
/Shared.Camera.Adapter.Interface.sln
/Shared.Camera.Adapter.Interface.v12.sdf
/Shared.Camera.Adapter.Interface.v12.suo
/Shared.Camera.Adapter.Interface.vcxproj
/Shared.Camera.Adapter.Interface.vcxproj.filters
/Shared.Camera.Adapter.Interface.vcxproj.user
/build/
