/.vs/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/OpenCL.MorphoErode.VC.VC.opendb
/OpenCL.MorphoErode.VC.db
/OpenCL.MorphoErode.aps
/OpenCL.MorphoErode.manifest
/OpenCL.MorphoErode.opensdf
/OpenCL.MorphoErode.rc
/OpenCL.MorphoErode.sdf
/OpenCL.MorphoErode.sln
/OpenCL.MorphoErode.v12.sdf
/OpenCL.MorphoErode.v12.suo
/OpenCL.MorphoErode.vcxproj
/OpenCL.MorphoErode.vcxproj.filters
/OpenCL.MorphoErode.vcxproj.user
/build/
/resource.h
