/.StartProject.bat
/.vs/
/Android.mk
/CMakeLists.txt
/FslService.Impl.VC.VC.opendb
/FslService.Impl.VC.db
/FslService.Impl.manifest
/FslService.Impl.opensdf
/FslService.Impl.sdf
/FslService.Impl.sln
/FslService.Impl.v12.sdf
/FslService.Impl.v12.suo
/FslService.Impl.vcxproj
/FslService.Impl.vcxproj.filters
/FslService.Impl.vcxproj.user
/GNUmakefile
/GNUmakefile_Yocto
/build/
