/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/TestText/
/Content/Text2/
/Content/UIAtlas/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GLES2.System.DevNativeTexture2D.VC.VC.opendb
/GLES2.System.DevNativeTexture2D.VC.db
/GLES2.System.DevNativeTexture2D.aps
/GLES2.System.DevNativeTexture2D.manifest
/GLES2.System.DevNativeTexture2D.opensdf
/GLES2.System.DevNativeTexture2D.rc
/GLES2.System.DevNativeTexture2D.sdf
/GLES2.System.DevNativeTexture2D.sln
/GLES2.System.DevNativeTexture2D.v12.sdf
/GLES2.System.DevNativeTexture2D.v12.suo
/GLES2.System.DevNativeTexture2D.vcxproj
/GLES2.System.DevNativeTexture2D.vcxproj.filters
/GLES2.System.DevNativeTexture2D.vcxproj.user
/GLES2.UI.DevNativeTexture2D.VC.VC.opendb
/GLES2.UI.DevNativeTexture2D.VC.db
/GLES2.UI.DevNativeTexture2D.aps
/GLES2.UI.DevNativeTexture2D.manifest
/GLES2.UI.DevNativeTexture2D.opensdf
/GLES2.UI.DevNativeTexture2D.rc
/GLES2.UI.DevNativeTexture2D.sdf
/GLES2.UI.DevNativeTexture2D.sln
/GLES2.UI.DevNativeTexture2D.v12.sdf
/GLES2.UI.DevNativeTexture2D.v12.suo
/GLES2.UI.DevNativeTexture2D.vcxproj
/GLES2.UI.DevNativeTexture2D.vcxproj.filters
/GLES2.UI.DevNativeTexture2D.vcxproj.user
/build/
/resource.h
