/.StartProject.bat
/.vs/
/Android.mk
/CMakeLists.txt
/GNUmakefile
/GNUmakefile_Yocto
/Shared.Camera.Adapter.OpenCV.VC.VC.opendb
/Shared.Camera.Adapter.OpenCV.VC.db
/Shared.Camera.Adapter.OpenCV.manifest
/Shared.Camera.Adapter.OpenCV.opensdf
/Shared.Camera.Adapter.OpenCV.sdf
/Shared.Camera.Adapter.OpenCV.sln
/Shared.Camera.Adapter.OpenCV.v12.sdf
/Shared.Camera.Adapter.OpenCV.v12.suo
/Shared.Camera.Adapter.OpenCV.vcxproj
/Shared.Camera.Adapter.OpenCV.vcxproj.filters
/Shared.Camera.Adapter.OpenCV.vcxproj.user
/build/
