/.StartProject.bat
/.vs/
/Android.mk
/Android/
/CMakeLists.txt
/Content/_ContentSyncCache.fsl
/DFNativeBatchCamera
/DFNativeBatchCamera_FB
/DFNativeBatchCamera_FB_d
/DFNativeBatchCamera_Wayland
/DFNativeBatchCamera_Wayland_d
/DFNativeBatchCamera_X11
/DFNativeBatchCamera_X11_d
/DFNativeBatchCamera_c
/DFNativeBatchCamera_d
/FslSDKIcon.ico
/GLES3.DFNativeBatchCamera.VC.VC.opendb
/GLES3.DFNativeBatchCamera.VC.db
/GLES3.DFNativeBatchCamera.aps
/GLES3.DFNativeBatchCamera.manifest
/GLES3.DFNativeBatchCamera.opensdf
/GLES3.DFNativeBatchCamera.rc
/GLES3.DFNativeBatchCamera.sdf
/GLES3.DFNativeBatchCamera.sln
/GLES3.DFNativeBatchCamera.v12.sdf
/GLES3.DFNativeBatchCamera.v12.suo
/GLES3.DFNativeBatchCamera.vcxproj
/GLES3.DFNativeBatchCamera.vcxproj.filters
/GLES3.DFNativeBatchCamera.vcxproj.user
/GNUmakefile
/GNUmakefile_Yocto
/build/
/resource.h
