/.vs/
/FslSimpleUI.Render.Base.UnitTest.Helper.VC.VC.opendb
/FslSimpleUI.Render.Base.UnitTest.Helper.VC.db
/FslSimpleUI.Render.Base.UnitTest.Helper.manifest
/FslSimpleUI.Render.Base.UnitTest.Helper.opensdf
/FslSimpleUI.Render.Base.UnitTest.Helper.sdf
/FslSimpleUI.Render.Base.UnitTest.Helper.sln
/FslSimpleUI.Render.Base.UnitTest.Helper.v12.sdf
/FslSimpleUI.Render.Base.UnitTest.Helper.v12.suo
/FslSimpleUI.Render.Base.UnitTest.Helper.vcxproj
/FslSimpleUI.Render.Base.UnitTest.Helper.vcxproj.filters
/FslSimpleUI.Render.Base.UnitTest.Helper.vcxproj.user
/build/
