/.StartProject.bat
/.vs/
/Android.mk
/Android/
/CMakeLists.txt
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GNUmakefile_Yocto
/OpenCL.SoftISP.VC.VC.opendb
/OpenCL.SoftISP.VC.db
/OpenCL.SoftISP.aps
/OpenCL.SoftISP.manifest
/OpenCL.SoftISP.opensdf
/OpenCL.SoftISP.rc
/OpenCL.SoftISP.sdf
/OpenCL.SoftISP.sln
/OpenCL.SoftISP.v12.sdf
/OpenCL.SoftISP.v12.suo
/OpenCL.SoftISP.vcxproj
/OpenCL.SoftISP.vcxproj.filters
/OpenCL.SoftISP.vcxproj.user
/SoftISP
/SoftISP_d
/build/
/resource.h
