bin/
obj/
%AG_PROJECT_NAME%.v12.sdf
%AG_PROJECT_NAME%.v12.suo
%AG_PROJECT_NAME%.opensdf
%AG_PROJECT_NAME%.sdf
%AG_PROJECT_NAME%.vcxproj.user
Android/.classpath
Android/.cproject
Android/.project
Android/.settings
Android/assets/fsl-content/
Android/bin/
Android/gen/
Android/libs/
Android/obj/
Content/_ContentSyncCache.fsl
