/.StartProject.bat
/.vs/
/Android.mk
/Android/
/CMakeLists.txt
/Content/Textures/WoodFloor/
/Content/UIAtlas/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GLES3.GammaCorrection.VC.VC.opendb
/GLES3.GammaCorrection.VC.db
/GLES3.GammaCorrection.aps
/GLES3.GammaCorrection.manifest
/GLES3.GammaCorrection.opensdf
/GLES3.GammaCorrection.rc
/GLES3.GammaCorrection.sdf
/GLES3.GammaCorrection.sln
/GLES3.GammaCorrection.v12.sdf
/GLES3.GammaCorrection.v12.suo
/GLES3.GammaCorrection.vcxproj
/GLES3.GammaCorrection.vcxproj.filters
/GLES3.GammaCorrection.vcxproj.user
/GLES3.GammaCorrection___FB.VC.VC.opendb
/GLES3.GammaCorrection___FB.VC.db
/GLES3.GammaCorrection___FB.aps
/GLES3.GammaCorrection___FB.manifest
/GLES3.GammaCorrection___FB.opensdf
/GLES3.GammaCorrection___FB.rc
/GLES3.GammaCorrection___FB.sdf
/GLES3.GammaCorrection___FB.sln
/GLES3.GammaCorrection___FB.v12.sdf
/GLES3.GammaCorrection___FB.v12.suo
/GLES3.GammaCorrection___FB.vcxproj
/GLES3.GammaCorrection___FB.vcxproj.filters
/GLES3.GammaCorrection___FB.vcxproj.user
/GLES3.GammaCorrection___Wayland.VC.VC.opendb
/GLES3.GammaCorrection___Wayland.VC.db
/GLES3.GammaCorrection___Wayland.aps
/GLES3.GammaCorrection___Wayland.manifest
/GLES3.GammaCorrection___Wayland.opensdf
/GLES3.GammaCorrection___Wayland.rc
/GLES3.GammaCorrection___Wayland.sdf
/GLES3.GammaCorrection___Wayland.sln
/GLES3.GammaCorrection___Wayland.v12.sdf
/GLES3.GammaCorrection___Wayland.v12.suo
/GLES3.GammaCorrection___Wayland.vcxproj
/GLES3.GammaCorrection___Wayland.vcxproj.filters
/GLES3.GammaCorrection___Wayland.vcxproj.user
/GLES3.GammaCorrection___Wayland_XDG.VC.VC.opendb
/GLES3.GammaCorrection___Wayland_XDG.VC.db
/GLES3.GammaCorrection___Wayland_XDG.aps
/GLES3.GammaCorrection___Wayland_XDG.manifest
/GLES3.GammaCorrection___Wayland_XDG.opensdf
/GLES3.GammaCorrection___Wayland_XDG.rc
/GLES3.GammaCorrection___Wayland_XDG.sdf
/GLES3.GammaCorrection___Wayland_XDG.sln
/GLES3.GammaCorrection___Wayland_XDG.v12.sdf
/GLES3.GammaCorrection___Wayland_XDG.v12.suo
/GLES3.GammaCorrection___Wayland_XDG.vcxproj
/GLES3.GammaCorrection___Wayland_XDG.vcxproj.filters
/GLES3.GammaCorrection___Wayland_XDG.vcxproj.user
/GLES3.GammaCorrection___X11.VC.VC.opendb
/GLES3.GammaCorrection___X11.VC.db
/GLES3.GammaCorrection___X11.aps
/GLES3.GammaCorrection___X11.manifest
/GLES3.GammaCorrection___X11.opensdf
/GLES3.GammaCorrection___X11.rc
/GLES3.GammaCorrection___X11.sdf
/GLES3.GammaCorrection___X11.sln
/GLES3.GammaCorrection___X11.v12.sdf
/GLES3.GammaCorrection___X11.v12.suo
/GLES3.GammaCorrection___X11.vcxproj
/GLES3.GammaCorrection___X11.vcxproj.filters
/GLES3.GammaCorrection___X11.vcxproj.user
/GNUmakefile
/GNUmakefile_Yocto
/GammaCorrection
/GammaCorrection_FB
/GammaCorrection_FB_d
/GammaCorrection_Wayland
/GammaCorrection_Wayland_IVI
/GammaCorrection_Wayland_IVI_d
/GammaCorrection_Wayland_d
/GammaCorrection_X11
/GammaCorrection_X11_d
/GammaCorrection_c
/GammaCorrection_d
/build/
/resource.h
