/.StartProject.bat
/.vs/
/Android.mk
/CMakeLists.txt
/GNUmakefile
/GNUmakefile_Yocto
/Shared.Camera.System.VC.VC.opendb
/Shared.Camera.System.VC.db
/Shared.Camera.System.manifest
/Shared.Camera.System.opensdf
/Shared.Camera.System.sdf
/Shared.Camera.System.sln
/Shared.Camera.System.v12.sdf
/Shared.Camera.System.v12.suo
/Shared.Camera.System.vcxproj
/Shared.Camera.System.vcxproj.filters
/Shared.Camera.System.vcxproj.user
/build/
