/.StartProject.bat
/.vs/
/Android.mk
/Android/
/CMakeLists.txt
/Content/BasicUI/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GNUmakefile
/GNUmakefile_Yocto
/Vulkan.System.DevBatch.VC.VC.opendb
/Vulkan.System.DevBatch.VC.db
/Vulkan.System.DevBatch.aps
/Vulkan.System.DevBatch.manifest
/Vulkan.System.DevBatch.opensdf
/Vulkan.System.DevBatch.rc
/Vulkan.System.DevBatch.sdf
/Vulkan.System.DevBatch.sln
/Vulkan.System.DevBatch.v12.sdf
/Vulkan.System.DevBatch.v12.suo
/Vulkan.System.DevBatch.vcxproj
/Vulkan.System.DevBatch.vcxproj.filters
/Vulkan.System.DevBatch.vcxproj.user
/Vulkan.System.DevBatch___FB.VC.VC.opendb
/Vulkan.System.DevBatch___FB.VC.db
/Vulkan.System.DevBatch___FB.aps
/Vulkan.System.DevBatch___FB.manifest
/Vulkan.System.DevBatch___FB.opensdf
/Vulkan.System.DevBatch___FB.rc
/Vulkan.System.DevBatch___FB.sdf
/Vulkan.System.DevBatch___FB.sln
/Vulkan.System.DevBatch___FB.v12.sdf
/Vulkan.System.DevBatch___FB.v12.suo
/Vulkan.System.DevBatch___FB.vcxproj
/Vulkan.System.DevBatch___FB.vcxproj.filters
/Vulkan.System.DevBatch___FB.vcxproj.user
/Vulkan.System.DevBatch___Wayland.VC.VC.opendb
/Vulkan.System.DevBatch___Wayland.VC.db
/Vulkan.System.DevBatch___Wayland.aps
/Vulkan.System.DevBatch___Wayland.manifest
/Vulkan.System.DevBatch___Wayland.opensdf
/Vulkan.System.DevBatch___Wayland.rc
/Vulkan.System.DevBatch___Wayland.sdf
/Vulkan.System.DevBatch___Wayland.sln
/Vulkan.System.DevBatch___Wayland.v12.sdf
/Vulkan.System.DevBatch___Wayland.v12.suo
/Vulkan.System.DevBatch___Wayland.vcxproj
/Vulkan.System.DevBatch___Wayland.vcxproj.filters
/Vulkan.System.DevBatch___Wayland.vcxproj.user
/Vulkan.System.DevBatch___Wayland_XDG.VC.VC.opendb
/Vulkan.System.DevBatch___Wayland_XDG.VC.db
/Vulkan.System.DevBatch___Wayland_XDG.aps
/Vulkan.System.DevBatch___Wayland_XDG.manifest
/Vulkan.System.DevBatch___Wayland_XDG.opensdf
/Vulkan.System.DevBatch___Wayland_XDG.rc
/Vulkan.System.DevBatch___Wayland_XDG.sdf
/Vulkan.System.DevBatch___Wayland_XDG.sln
/Vulkan.System.DevBatch___Wayland_XDG.v12.sdf
/Vulkan.System.DevBatch___Wayland_XDG.v12.suo
/Vulkan.System.DevBatch___Wayland_XDG.vcxproj
/Vulkan.System.DevBatch___Wayland_XDG.vcxproj.filters
/Vulkan.System.DevBatch___Wayland_XDG.vcxproj.user
/Vulkan.UI.DevBatch.VC.VC.opendb
/Vulkan.UI.DevBatch.VC.db
/Vulkan.UI.DevBatch.aps
/Vulkan.UI.DevBatch.manifest
/Vulkan.UI.DevBatch.opensdf
/Vulkan.UI.DevBatch.rc
/Vulkan.UI.DevBatch.sdf
/Vulkan.UI.DevBatch.sln
/Vulkan.UI.DevBatch.v12.sdf
/Vulkan.UI.DevBatch.v12.suo
/Vulkan.UI.DevBatch.vcxproj
/Vulkan.UI.DevBatch.vcxproj.filters
/Vulkan.UI.DevBatch.vcxproj.user
/build/
/resource.h
