/.StartProject.bat
/.vs/
/Android.mk
/CMakeLists.txt
/GNUmakefile
/GNUmakefile_Yocto
/Shared.VulkanWillemsDemoAppExperimental.VC.VC.opendb
/Shared.VulkanWillemsDemoAppExperimental.VC.db
/Shared.VulkanWillemsDemoAppExperimental.manifest
/Shared.VulkanWillemsDemoAppExperimental.opensdf
/Shared.VulkanWillemsDemoAppExperimental.sdf
/Shared.VulkanWillemsDemoAppExperimental.sln
/Shared.VulkanWillemsDemoAppExperimental.v12.sdf
/Shared.VulkanWillemsDemoAppExperimental.v12.suo
/Shared.VulkanWillemsDemoAppExperimental.vcxproj
/Shared.VulkanWillemsDemoAppExperimental.vcxproj.filters
/Shared.VulkanWillemsDemoAppExperimental.vcxproj.user
/Shared.VulkanWillemsDemoAppExperimental___FB.VC.VC.opendb
/Shared.VulkanWillemsDemoAppExperimental___FB.VC.db
/Shared.VulkanWillemsDemoAppExperimental___FB.manifest
/Shared.VulkanWillemsDemoAppExperimental___FB.opensdf
/Shared.VulkanWillemsDemoAppExperimental___FB.sdf
/Shared.VulkanWillemsDemoAppExperimental___FB.sln
/Shared.VulkanWillemsDemoAppExperimental___FB.v12.sdf
/Shared.VulkanWillemsDemoAppExperimental___FB.v12.suo
/Shared.VulkanWillemsDemoAppExperimental___FB.vcxproj
/Shared.VulkanWillemsDemoAppExperimental___FB.vcxproj.filters
/Shared.VulkanWillemsDemoAppExperimental___FB.vcxproj.user
/Shared.VulkanWillemsDemoAppExperimental___Wayland.VC.VC.opendb
/Shared.VulkanWillemsDemoAppExperimental___Wayland.VC.db
/Shared.VulkanWillemsDemoAppExperimental___Wayland.manifest
/Shared.VulkanWillemsDemoAppExperimental___Wayland.opensdf
/Shared.VulkanWillemsDemoAppExperimental___Wayland.sdf
/Shared.VulkanWillemsDemoAppExperimental___Wayland.sln
/Shared.VulkanWillemsDemoAppExperimental___Wayland.v12.sdf
/Shared.VulkanWillemsDemoAppExperimental___Wayland.v12.suo
/Shared.VulkanWillemsDemoAppExperimental___Wayland.vcxproj
/Shared.VulkanWillemsDemoAppExperimental___Wayland.vcxproj.filters
/Shared.VulkanWillemsDemoAppExperimental___Wayland.vcxproj.user
/Shared.VulkanWillemsDemoAppExperimental___Wayland_XDG.VC.VC.opendb
/Shared.VulkanWillemsDemoAppExperimental___Wayland_XDG.VC.db
/Shared.VulkanWillemsDemoAppExperimental___Wayland_XDG.manifest
/Shared.VulkanWillemsDemoAppExperimental___Wayland_XDG.opensdf
/Shared.VulkanWillemsDemoAppExperimental___Wayland_XDG.sdf
/Shared.VulkanWillemsDemoAppExperimental___Wayland_XDG.sln
/Shared.VulkanWillemsDemoAppExperimental___Wayland_XDG.v12.sdf
/Shared.VulkanWillemsDemoAppExperimental___Wayland_XDG.v12.suo
/Shared.VulkanWillemsDemoAppExperimental___Wayland_XDG.vcxproj
/Shared.VulkanWillemsDemoAppExperimental___Wayland_XDG.vcxproj.filters
/Shared.VulkanWillemsDemoAppExperimental___Wayland_XDG.vcxproj.user
/build/
