.StartProject.bat
.vs/
Android.mk
Android/
CMakeLists.txt
Content/_ContentSyncCache.fsl
FslSDKIcon.ico
GLES3.OpenVX101Legacy.VC.VC.opendb
GLES3.OpenVX101Legacy.VC.db
GLES3.OpenVX101Legacy.aps
GLES3.OpenVX101Legacy.manifest
GLES3.OpenVX101Legacy.opensdf
GLES3.OpenVX101Legacy.rc
GLES3.OpenVX101Legacy.sdf
GLES3.OpenVX101Legacy.sln
GLES3.OpenVX101Legacy.v12.sdf
GLES3.OpenVX101Legacy.v12.suo
GLES3.OpenVX101Legacy.vcxproj
GLES3.OpenVX101Legacy.vcxproj.filters
GLES3.OpenVX101Legacy.vcxproj.user
GNUmakefile
GNUmakefile_Yocto
OpenVX101_FB
OpenVX101_Wayland
OpenVX101_X11
build/
resource.h
