/.vs/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GLES3.System.Gestures.VC.VC.opendb
/GLES3.System.Gestures.VC.db
/GLES3.System.Gestures.aps
/GLES3.System.Gestures.manifest
/GLES3.System.Gestures.opensdf
/GLES3.System.Gestures.rc
/GLES3.System.Gestures.sdf
/GLES3.System.Gestures.sln
/GLES3.System.Gestures.v12.sdf
/GLES3.System.Gestures.v12.suo
/GLES3.System.Gestures.vcxproj
/GLES3.System.Gestures.vcxproj.filters
/GLES3.System.Gestures.vcxproj.user
/build/
/resource.h
