/.StartProject.bat
/.vs/
/Android.mk
/Android/
/CMakeLists.txt
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GNUmakefile
/GNUmakefile_Yocto
/VulkanTriangle
/VulkanTriangle_FB
/VulkanTriangle_FB_d
/VulkanTriangle_Wayland
/VulkanTriangle_Wayland_IVI
/VulkanTriangle_Wayland_IVI_d
/VulkanTriangle_Wayland_d
/VulkanTriangle_X11
/VulkanTriangle_X11_d
/VulkanTriangle_c
/VulkanTriangle_d
/Window.VulkanTriangle
/Window.VulkanTriangle.VC.VC.opendb
/Window.VulkanTriangle.VC.db
/Window.VulkanTriangle.aps
/Window.VulkanTriangle.manifest
/Window.VulkanTriangle.opensdf
/Window.VulkanTriangle.rc
/Window.VulkanTriangle.sdf
/Window.VulkanTriangle.sln
/Window.VulkanTriangle.v12.sdf
/Window.VulkanTriangle.v12.suo
/Window.VulkanTriangle.vcxproj
/Window.VulkanTriangle.vcxproj.filters
/Window.VulkanTriangle.vcxproj.user
/Window.VulkanTriangle_FB
/Window.VulkanTriangle_Wayland
/Window.VulkanTriangle_X11
/Window.VulkanTriangle___FB.VC.VC.opendb
/Window.VulkanTriangle___FB.VC.db
/Window.VulkanTriangle___FB.aps
/Window.VulkanTriangle___FB.manifest
/Window.VulkanTriangle___FB.opensdf
/Window.VulkanTriangle___FB.rc
/Window.VulkanTriangle___FB.sdf
/Window.VulkanTriangle___FB.sln
/Window.VulkanTriangle___FB.v12.sdf
/Window.VulkanTriangle___FB.v12.suo
/Window.VulkanTriangle___FB.vcxproj
/Window.VulkanTriangle___FB.vcxproj.filters
/Window.VulkanTriangle___FB.vcxproj.user
/Window.VulkanTriangle___Wayland.VC.VC.opendb
/Window.VulkanTriangle___Wayland.VC.db
/Window.VulkanTriangle___Wayland.aps
/Window.VulkanTriangle___Wayland.manifest
/Window.VulkanTriangle___Wayland.opensdf
/Window.VulkanTriangle___Wayland.rc
/Window.VulkanTriangle___Wayland.sdf
/Window.VulkanTriangle___Wayland.sln
/Window.VulkanTriangle___Wayland.v12.sdf
/Window.VulkanTriangle___Wayland.v12.suo
/Window.VulkanTriangle___Wayland.vcxproj
/Window.VulkanTriangle___Wayland.vcxproj.filters
/Window.VulkanTriangle___Wayland.vcxproj.user
/Window.VulkanTriangle___Wayland_XDG.VC.VC.opendb
/Window.VulkanTriangle___Wayland_XDG.VC.db
/Window.VulkanTriangle___Wayland_XDG.aps
/Window.VulkanTriangle___Wayland_XDG.manifest
/Window.VulkanTriangle___Wayland_XDG.opensdf
/Window.VulkanTriangle___Wayland_XDG.rc
/Window.VulkanTriangle___Wayland_XDG.sdf
/Window.VulkanTriangle___Wayland_XDG.sln
/Window.VulkanTriangle___Wayland_XDG.v12.sdf
/Window.VulkanTriangle___Wayland_XDG.v12.suo
/Window.VulkanTriangle___Wayland_XDG.vcxproj
/Window.VulkanTriangle___Wayland_XDG.vcxproj.filters
/Window.VulkanTriangle___Wayland_XDG.vcxproj.user
/build/
/resource.h
