/.vs/
/Console.FlavorTest.TestPackage.VC.VC.opendb
/Console.FlavorTest.TestPackage.VC.db
/Console.FlavorTest.TestPackage.manifest
/Console.FlavorTest.TestPackage.opensdf
/Console.FlavorTest.TestPackage.sdf
/Console.FlavorTest.TestPackage.sln
/Console.FlavorTest.TestPackage.v12.sdf
/Console.FlavorTest.TestPackage.v12.suo
/Console.FlavorTest.TestPackage.vcxproj
/Console.FlavorTest.TestPackage.vcxproj.filters
/Console.FlavorTest.TestPackage.vcxproj.user
/Console.FlavorTest.TestPackage___Option1.VC.VC.opendb
/Console.FlavorTest.TestPackage___Option1.VC.db
/Console.FlavorTest.TestPackage___Option1.manifest
/Console.FlavorTest.TestPackage___Option1.opensdf
/Console.FlavorTest.TestPackage___Option1.sdf
/Console.FlavorTest.TestPackage___Option1.sln
/Console.FlavorTest.TestPackage___Option1.v12.sdf
/Console.FlavorTest.TestPackage___Option1.v12.suo
/Console.FlavorTest.TestPackage___Option1.vcxproj
/Console.FlavorTest.TestPackage___Option1.vcxproj.filters
/Console.FlavorTest.TestPackage___Option1.vcxproj.user
/Console.FlavorTest.TestPackage___Option2.VC.VC.opendb
/Console.FlavorTest.TestPackage___Option2.VC.db
/Console.FlavorTest.TestPackage___Option2.manifest
/Console.FlavorTest.TestPackage___Option2.opensdf
/Console.FlavorTest.TestPackage___Option2.sdf
/Console.FlavorTest.TestPackage___Option2.sln
/Console.FlavorTest.TestPackage___Option2.v12.sdf
/Console.FlavorTest.TestPackage___Option2.v12.suo
/Console.FlavorTest.TestPackage___Option2.vcxproj
/Console.FlavorTest.TestPackage___Option2.vcxproj.filters
/Console.FlavorTest.TestPackage___Option2.vcxproj.user
/build/
