/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GNUmakefile
/GNUmakefile_Yocto
/LineBuilder101
/LineBuilder101_FB
/LineBuilder101_FB_d
/LineBuilder101_Wayland
/LineBuilder101_Wayland_IVI
/LineBuilder101_Wayland_IVI_d
/LineBuilder101_Wayland_d
/LineBuilder101_X11
/LineBuilder101_X11_d
/LineBuilder101_c
/LineBuilder101_d
/Vulkan.LineBuilder101.VC.VC.opendb
/Vulkan.LineBuilder101.VC.db
/Vulkan.LineBuilder101.aps
/Vulkan.LineBuilder101.manifest
/Vulkan.LineBuilder101.opensdf
/Vulkan.LineBuilder101.rc
/Vulkan.LineBuilder101.sdf
/Vulkan.LineBuilder101.sln
/Vulkan.LineBuilder101.v12.sdf
/Vulkan.LineBuilder101.v12.suo
/Vulkan.LineBuilder101.vcxproj
/Vulkan.LineBuilder101.vcxproj.filters
/Vulkan.LineBuilder101.vcxproj.user
/Vulkan.LineBuilder101___FB.VC.VC.opendb
/Vulkan.LineBuilder101___FB.VC.db
/Vulkan.LineBuilder101___FB.aps
/Vulkan.LineBuilder101___FB.manifest
/Vulkan.LineBuilder101___FB.opensdf
/Vulkan.LineBuilder101___FB.rc
/Vulkan.LineBuilder101___FB.sdf
/Vulkan.LineBuilder101___FB.sln
/Vulkan.LineBuilder101___FB.v12.sdf
/Vulkan.LineBuilder101___FB.v12.suo
/Vulkan.LineBuilder101___FB.vcxproj
/Vulkan.LineBuilder101___FB.vcxproj.filters
/Vulkan.LineBuilder101___FB.vcxproj.user
/Vulkan.LineBuilder101___Wayland.VC.VC.opendb
/Vulkan.LineBuilder101___Wayland.VC.db
/Vulkan.LineBuilder101___Wayland.aps
/Vulkan.LineBuilder101___Wayland.manifest
/Vulkan.LineBuilder101___Wayland.opensdf
/Vulkan.LineBuilder101___Wayland.rc
/Vulkan.LineBuilder101___Wayland.sdf
/Vulkan.LineBuilder101___Wayland.sln
/Vulkan.LineBuilder101___Wayland.v12.sdf
/Vulkan.LineBuilder101___Wayland.v12.suo
/Vulkan.LineBuilder101___Wayland.vcxproj
/Vulkan.LineBuilder101___Wayland.vcxproj.filters
/Vulkan.LineBuilder101___Wayland.vcxproj.user
/Vulkan.LineBuilder101___Wayland_XDG.VC.VC.opendb
/Vulkan.LineBuilder101___Wayland_XDG.VC.db
/Vulkan.LineBuilder101___Wayland_XDG.aps
/Vulkan.LineBuilder101___Wayland_XDG.manifest
/Vulkan.LineBuilder101___Wayland_XDG.opensdf
/Vulkan.LineBuilder101___Wayland_XDG.rc
/Vulkan.LineBuilder101___Wayland_XDG.sdf
/Vulkan.LineBuilder101___Wayland_XDG.sln
/Vulkan.LineBuilder101___Wayland_XDG.v12.sdf
/Vulkan.LineBuilder101___Wayland_XDG.v12.suo
/Vulkan.LineBuilder101___Wayland_XDG.vcxproj
/Vulkan.LineBuilder101___Wayland_XDG.vcxproj.filters
/Vulkan.LineBuilder101___Wayland_XDG.vcxproj.user
/build/
/resource.h
