/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GNUmakefile
/GNUmakefile_Yocto
/LineBuilder101
/LineBuilder101_FB
/LineBuilder101_FB_d
/LineBuilder101_Wayland
/LineBuilder101_Wayland_d
/LineBuilder101_X11
/LineBuilder101_X11_d
/LineBuilder101_c
/LineBuilder101_d
/Vulkan.LineBuilder101.VC.VC.opendb
/Vulkan.LineBuilder101.VC.db
/Vulkan.LineBuilder101.aps
/Vulkan.LineBuilder101.manifest
/Vulkan.LineBuilder101.opensdf
/Vulkan.LineBuilder101.rc
/Vulkan.LineBuilder101.sdf
/Vulkan.LineBuilder101.sln
/Vulkan.LineBuilder101.v12.sdf
/Vulkan.LineBuilder101.v12.suo
/Vulkan.LineBuilder101.vcxproj
/Vulkan.LineBuilder101.vcxproj.filters
/Vulkan.LineBuilder101.vcxproj.user
/build/
/resource.h
