/.vs/
/Shared.System.Gestures.VC.VC.opendb
/Shared.System.Gestures.VC.db
/Shared.System.Gestures.manifest
/Shared.System.Gestures.opensdf
/Shared.System.Gestures.sdf
/Shared.System.Gestures.sln
/Shared.System.Gestures.v12.sdf
/Shared.System.Gestures.v12.suo
/Shared.System.Gestures.vcxproj
/Shared.System.Gestures.vcxproj.filters
/Shared.System.Gestures.vcxproj.user
/build/
