/.StartProject.bat
/.vs/
/Android.mk
/CMakeLists.txt
/GNUmakefile
/GNUmakefile_Yocto
/Shared.VulkanWillemsMeshDemoAppExperimental.VC.VC.opendb
/Shared.VulkanWillemsMeshDemoAppExperimental.VC.db
/Shared.VulkanWillemsMeshDemoAppExperimental.manifest
/Shared.VulkanWillemsMeshDemoAppExperimental.opensdf
/Shared.VulkanWillemsMeshDemoAppExperimental.sdf
/Shared.VulkanWillemsMeshDemoAppExperimental.sln
/Shared.VulkanWillemsMeshDemoAppExperimental.v12.sdf
/Shared.VulkanWillemsMeshDemoAppExperimental.v12.suo
/Shared.VulkanWillemsMeshDemoAppExperimental.vcxproj
/Shared.VulkanWillemsMeshDemoAppExperimental.vcxproj.filters
/Shared.VulkanWillemsMeshDemoAppExperimental.vcxproj.user
/build/
