/.StartProject.bat
/.vs/
/Android.mk
/CMakeLists.txt
/GNUmakefile
/GNUmakefile_Yocto
/Shared.VulkanWillemsMeshDemoAppExperimental.VC.VC.opendb
/Shared.VulkanWillemsMeshDemoAppExperimental.VC.db
/Shared.VulkanWillemsMeshDemoAppExperimental.manifest
/Shared.VulkanWillemsMeshDemoAppExperimental.opensdf
/Shared.VulkanWillemsMeshDemoAppExperimental.sdf
/Shared.VulkanWillemsMeshDemoAppExperimental.sln
/Shared.VulkanWillemsMeshDemoAppExperimental.v12.sdf
/Shared.VulkanWillemsMeshDemoAppExperimental.v12.suo
/Shared.VulkanWillemsMeshDemoAppExperimental.vcxproj
/Shared.VulkanWillemsMeshDemoAppExperimental.vcxproj.filters
/Shared.VulkanWillemsMeshDemoAppExperimental.vcxproj.user
/Shared.VulkanWillemsMeshDemoAppExperimental___FB.VC.VC.opendb
/Shared.VulkanWillemsMeshDemoAppExperimental___FB.VC.db
/Shared.VulkanWillemsMeshDemoAppExperimental___FB.manifest
/Shared.VulkanWillemsMeshDemoAppExperimental___FB.opensdf
/Shared.VulkanWillemsMeshDemoAppExperimental___FB.sdf
/Shared.VulkanWillemsMeshDemoAppExperimental___FB.sln
/Shared.VulkanWillemsMeshDemoAppExperimental___FB.v12.sdf
/Shared.VulkanWillemsMeshDemoAppExperimental___FB.v12.suo
/Shared.VulkanWillemsMeshDemoAppExperimental___FB.vcxproj
/Shared.VulkanWillemsMeshDemoAppExperimental___FB.vcxproj.filters
/Shared.VulkanWillemsMeshDemoAppExperimental___FB.vcxproj.user
/Shared.VulkanWillemsMeshDemoAppExperimental___Wayland.VC.VC.opendb
/Shared.VulkanWillemsMeshDemoAppExperimental___Wayland.VC.db
/Shared.VulkanWillemsMeshDemoAppExperimental___Wayland.manifest
/Shared.VulkanWillemsMeshDemoAppExperimental___Wayland.opensdf
/Shared.VulkanWillemsMeshDemoAppExperimental___Wayland.sdf
/Shared.VulkanWillemsMeshDemoAppExperimental___Wayland.sln
/Shared.VulkanWillemsMeshDemoAppExperimental___Wayland.v12.sdf
/Shared.VulkanWillemsMeshDemoAppExperimental___Wayland.v12.suo
/Shared.VulkanWillemsMeshDemoAppExperimental___Wayland.vcxproj
/Shared.VulkanWillemsMeshDemoAppExperimental___Wayland.vcxproj.filters
/Shared.VulkanWillemsMeshDemoAppExperimental___Wayland.vcxproj.user
/Shared.VulkanWillemsMeshDemoAppExperimental___Wayland_XDG.VC.VC.opendb
/Shared.VulkanWillemsMeshDemoAppExperimental___Wayland_XDG.VC.db
/Shared.VulkanWillemsMeshDemoAppExperimental___Wayland_XDG.manifest
/Shared.VulkanWillemsMeshDemoAppExperimental___Wayland_XDG.opensdf
/Shared.VulkanWillemsMeshDemoAppExperimental___Wayland_XDG.sdf
/Shared.VulkanWillemsMeshDemoAppExperimental___Wayland_XDG.sln
/Shared.VulkanWillemsMeshDemoAppExperimental___Wayland_XDG.v12.sdf
/Shared.VulkanWillemsMeshDemoAppExperimental___Wayland_XDG.v12.suo
/Shared.VulkanWillemsMeshDemoAppExperimental___Wayland_XDG.vcxproj
/Shared.VulkanWillemsMeshDemoAppExperimental___Wayland_XDG.vcxproj.filters
/Shared.VulkanWillemsMeshDemoAppExperimental___Wayland_XDG.vcxproj.user
/build/
