/.vs/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/OpenCL.SobelVHFilter.VC.VC.opendb
/OpenCL.SobelVHFilter.VC.db
/OpenCL.SobelVHFilter.aps
/OpenCL.SobelVHFilter.manifest
/OpenCL.SobelVHFilter.opensdf
/OpenCL.SobelVHFilter.rc
/OpenCL.SobelVHFilter.sdf
/OpenCL.SobelVHFilter.sln
/OpenCL.SobelVHFilter.v12.sdf
/OpenCL.SobelVHFilter.v12.suo
/OpenCL.SobelVHFilter.vcxproj
/OpenCL.SobelVHFilter.vcxproj.filters
/OpenCL.SobelVHFilter.vcxproj.user
/build/
/resource.h
