/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/Textures/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.EffectOffscreen.VC.VC.opendb
/Vulkan.EffectOffscreen.VC.db
/Vulkan.EffectOffscreen.aps
/Vulkan.EffectOffscreen.manifest
/Vulkan.EffectOffscreen.opensdf
/Vulkan.EffectOffscreen.rc
/Vulkan.EffectOffscreen.sdf
/Vulkan.EffectOffscreen.sln
/Vulkan.EffectOffscreen.v12.sdf
/Vulkan.EffectOffscreen.v12.suo
/Vulkan.EffectOffscreen.vcxproj
/Vulkan.EffectOffscreen.vcxproj.filters
/Vulkan.EffectOffscreen.vcxproj.user
/Vulkan.EffectOffscreen___FB.VC.VC.opendb
/Vulkan.EffectOffscreen___FB.VC.db
/Vulkan.EffectOffscreen___FB.aps
/Vulkan.EffectOffscreen___FB.manifest
/Vulkan.EffectOffscreen___FB.opensdf
/Vulkan.EffectOffscreen___FB.rc
/Vulkan.EffectOffscreen___FB.sdf
/Vulkan.EffectOffscreen___FB.sln
/Vulkan.EffectOffscreen___FB.v12.sdf
/Vulkan.EffectOffscreen___FB.v12.suo
/Vulkan.EffectOffscreen___FB.vcxproj
/Vulkan.EffectOffscreen___FB.vcxproj.filters
/Vulkan.EffectOffscreen___FB.vcxproj.user
/Vulkan.EffectOffscreen___Wayland.VC.VC.opendb
/Vulkan.EffectOffscreen___Wayland.VC.db
/Vulkan.EffectOffscreen___Wayland.aps
/Vulkan.EffectOffscreen___Wayland.manifest
/Vulkan.EffectOffscreen___Wayland.opensdf
/Vulkan.EffectOffscreen___Wayland.rc
/Vulkan.EffectOffscreen___Wayland.sdf
/Vulkan.EffectOffscreen___Wayland.sln
/Vulkan.EffectOffscreen___Wayland.v12.sdf
/Vulkan.EffectOffscreen___Wayland.v12.suo
/Vulkan.EffectOffscreen___Wayland.vcxproj
/Vulkan.EffectOffscreen___Wayland.vcxproj.filters
/Vulkan.EffectOffscreen___Wayland.vcxproj.user
/Vulkan.EffectOffscreen___Wayland_XDG.VC.VC.opendb
/Vulkan.EffectOffscreen___Wayland_XDG.VC.db
/Vulkan.EffectOffscreen___Wayland_XDG.aps
/Vulkan.EffectOffscreen___Wayland_XDG.manifest
/Vulkan.EffectOffscreen___Wayland_XDG.opensdf
/Vulkan.EffectOffscreen___Wayland_XDG.rc
/Vulkan.EffectOffscreen___Wayland_XDG.sdf
/Vulkan.EffectOffscreen___Wayland_XDG.sln
/Vulkan.EffectOffscreen___Wayland_XDG.v12.sdf
/Vulkan.EffectOffscreen___Wayland_XDG.v12.suo
/Vulkan.EffectOffscreen___Wayland_XDG.vcxproj
/Vulkan.EffectOffscreen___Wayland_XDG.vcxproj.filters
/Vulkan.EffectOffscreen___Wayland_XDG.vcxproj.user
/build/
/resource.h
