/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/Textures/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.EffectOffscreen.VC.VC.opendb
/Vulkan.EffectOffscreen.VC.db
/Vulkan.EffectOffscreen.aps
/Vulkan.EffectOffscreen.manifest
/Vulkan.EffectOffscreen.opensdf
/Vulkan.EffectOffscreen.rc
/Vulkan.EffectOffscreen.sdf
/Vulkan.EffectOffscreen.sln
/Vulkan.EffectOffscreen.v12.sdf
/Vulkan.EffectOffscreen.v12.suo
/Vulkan.EffectOffscreen.vcxproj
/Vulkan.EffectOffscreen.vcxproj.filters
/Vulkan.EffectOffscreen.vcxproj.user
/build/
/resource.h
