/.StartProject.bat
/.vs/
/Android.mk
/Android/
/CMakeLists.txt
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GLES2.S09_VIV_direct_texture.VC.VC.opendb
/GLES2.S09_VIV_direct_texture.VC.db
/GLES2.S09_VIV_direct_texture.aps
/GLES2.S09_VIV_direct_texture.manifest
/GLES2.S09_VIV_direct_texture.opensdf
/GLES2.S09_VIV_direct_texture.rc
/GLES2.S09_VIV_direct_texture.sdf
/GLES2.S09_VIV_direct_texture.sln
/GLES2.S09_VIV_direct_texture.v12.sdf
/GLES2.S09_VIV_direct_texture.v12.suo
/GLES2.S09_VIV_direct_texture.vcxproj
/GLES2.S09_VIV_direct_texture.vcxproj.filters
/GLES2.S09_VIV_direct_texture.vcxproj.user
/GLES2.S09_VIV_direct_texture_FB
/GLES2.S09_VIV_direct_texture_Wayland
/GLES2.S09_VIV_direct_texture_X11
/GNUmakefile
/GNUmakefile_Yocto
/S09_VIV_direct_texture_FB
/S09_VIV_direct_texture_FB_d
/S09_VIV_direct_texture_Wayland
/S09_VIV_direct_texture_Wayland_IVI
/S09_VIV_direct_texture_Wayland_IVI_d
/S09_VIV_direct_texture_Wayland_d
/S09_VIV_direct_texture_X11
/S09_VIV_direct_texture_X11_d
/build/
/resource.h
