/.StartProject.bat
/.vs/
/CMakeLists.txt
/FslUnitTest.TestPackages.FlavorDep.VC.VC.opendb
/FslUnitTest.TestPackages.FlavorDep.VC.db
/FslUnitTest.TestPackages.FlavorDep.manifest
/FslUnitTest.TestPackages.FlavorDep.opensdf
/FslUnitTest.TestPackages.FlavorDep.sdf
/FslUnitTest.TestPackages.FlavorDep.sln
/FslUnitTest.TestPackages.FlavorDep.v12.sdf
/FslUnitTest.TestPackages.FlavorDep.v12.suo
/FslUnitTest.TestPackages.FlavorDep.vcxproj
/FslUnitTest.TestPackages.FlavorDep.vcxproj.filters
/FslUnitTest.TestPackages.FlavorDep.vcxproj.user
/FslUnitTest.TestPackages.FlavorDep__Option1.VC.VC.opendb
/FslUnitTest.TestPackages.FlavorDep__Option1.VC.db
/FslUnitTest.TestPackages.FlavorDep__Option1.manifest
/FslUnitTest.TestPackages.FlavorDep__Option1.opensdf
/FslUnitTest.TestPackages.FlavorDep__Option1.sdf
/FslUnitTest.TestPackages.FlavorDep__Option1.sln
/FslUnitTest.TestPackages.FlavorDep__Option1.v12.sdf
/FslUnitTest.TestPackages.FlavorDep__Option1.v12.suo
/FslUnitTest.TestPackages.FlavorDep__Option1.vcxproj
/FslUnitTest.TestPackages.FlavorDep__Option1.vcxproj.filters
/FslUnitTest.TestPackages.FlavorDep__Option1.vcxproj.user
/FslUnitTest.TestPackages.FlavorDep__Option2.VC.VC.opendb
/FslUnitTest.TestPackages.FlavorDep__Option2.VC.db
/FslUnitTest.TestPackages.FlavorDep__Option2.manifest
/FslUnitTest.TestPackages.FlavorDep__Option2.opensdf
/FslUnitTest.TestPackages.FlavorDep__Option2.sdf
/FslUnitTest.TestPackages.FlavorDep__Option2.sln
/FslUnitTest.TestPackages.FlavorDep__Option2.v12.sdf
/FslUnitTest.TestPackages.FlavorDep__Option2.v12.suo
/FslUnitTest.TestPackages.FlavorDep__Option2.vcxproj
/FslUnitTest.TestPackages.FlavorDep__Option2.vcxproj.filters
/FslUnitTest.TestPackages.FlavorDep__Option2.vcxproj.user
/FslUnitTest.TestPackages.FlavorDep__Option3.VC.VC.opendb
/FslUnitTest.TestPackages.FlavorDep__Option3.VC.db
/FslUnitTest.TestPackages.FlavorDep__Option3.manifest
/FslUnitTest.TestPackages.FlavorDep__Option3.opensdf
/FslUnitTest.TestPackages.FlavorDep__Option3.sdf
/FslUnitTest.TestPackages.FlavorDep__Option3.sln
/FslUnitTest.TestPackages.FlavorDep__Option3.v12.sdf
/FslUnitTest.TestPackages.FlavorDep__Option3.v12.suo
/FslUnitTest.TestPackages.FlavorDep__Option3.vcxproj
/FslUnitTest.TestPackages.FlavorDep__Option3.vcxproj.filters
/FslUnitTest.TestPackages.FlavorDep__Option3.vcxproj.user
/build/
