.StartProject.bat
.vs
Android.mk
CMakeLists.txt
FractalShaderShared.VC.VC.opendb
FractalShaderShared.VC.db
FractalShaderShared.manifest
FractalShaderShared.opensdf
FractalShaderShared.sdf
FractalShaderShared.sln
FractalShaderShared.v12.sdf
FractalShaderShared.v12.suo
FractalShaderShared.vcxproj
FractalShaderShared.vcxproj.filters
FractalShaderShared.vcxproj.user
GNUmakefile
GNUmakefile_Yocto
build/
