/.StartProject.bat
/.vs/
/Android.mk
/Android/
/CMakeLists.txt
/Content/_ContentSyncCache.fsl
/DFNativeBatch2D
/DFNativeBatch2D_FB
/DFNativeBatch2D_FB_d
/DFNativeBatch2D_Wayland
/DFNativeBatch2D_Wayland_d
/DFNativeBatch2D_X11
/DFNativeBatch2D_X11_d
/DFNativeBatch2D_c
/DFNativeBatch2D_d
/FslSDKIcon.ico
/GNUmakefile
/GNUmakefile_Yocto
/Vulkan.DFNativeBatch2D.VC.VC.opendb
/Vulkan.DFNativeBatch2D.VC.db
/Vulkan.DFNativeBatch2D.aps
/Vulkan.DFNativeBatch2D.manifest
/Vulkan.DFNativeBatch2D.opensdf
/Vulkan.DFNativeBatch2D.rc
/Vulkan.DFNativeBatch2D.sdf
/Vulkan.DFNativeBatch2D.sln
/Vulkan.DFNativeBatch2D.v12.sdf
/Vulkan.DFNativeBatch2D.v12.suo
/Vulkan.DFNativeBatch2D.vcxproj
/Vulkan.DFNativeBatch2D.vcxproj.filters
/Vulkan.DFNativeBatch2D.vcxproj.user
/build/
/resource.h
