/.vs/
/FslDemoService.BitmapConverter.VC.VC.opendb
/FslDemoService.BitmapConverter.VC.db
/FslDemoService.BitmapConverter.manifest
/FslDemoService.BitmapConverter.opensdf
/FslDemoService.BitmapConverter.sdf
/FslDemoService.BitmapConverter.sln
/FslDemoService.BitmapConverter.v12.sdf
/FslDemoService.BitmapConverter.v12.suo
/FslDemoService.BitmapConverter.vcxproj
/FslDemoService.BitmapConverter.vcxproj.filters
/FslDemoService.BitmapConverter.vcxproj.user
/build/
