/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GNUmakefile
/GNUmakefile_Yocto
/OpenVX101
/OpenVX101_FB
/OpenVX101_FB_d
/OpenVX101_Wayland
/OpenVX101_Wayland_IVI
/OpenVX101_Wayland_IVI_d
/OpenVX101_Wayland_d
/OpenVX101_X11
/OpenVX101_X11_d
/OpenVX101_c
/OpenVX101_d
/Vulkan.OpenVX101.VC.VC.opendb
/Vulkan.OpenVX101.VC.db
/Vulkan.OpenVX101.aps
/Vulkan.OpenVX101.manifest
/Vulkan.OpenVX101.opensdf
/Vulkan.OpenVX101.rc
/Vulkan.OpenVX101.sdf
/Vulkan.OpenVX101.sln
/Vulkan.OpenVX101.v12.sdf
/Vulkan.OpenVX101.v12.suo
/Vulkan.OpenVX101.vcxproj
/Vulkan.OpenVX101.vcxproj.filters
/Vulkan.OpenVX101.vcxproj.user
/Vulkan.OpenVX101___FB.VC.VC.opendb
/Vulkan.OpenVX101___FB.VC.db
/Vulkan.OpenVX101___FB.aps
/Vulkan.OpenVX101___FB.manifest
/Vulkan.OpenVX101___FB.opensdf
/Vulkan.OpenVX101___FB.rc
/Vulkan.OpenVX101___FB.sdf
/Vulkan.OpenVX101___FB.sln
/Vulkan.OpenVX101___FB.v12.sdf
/Vulkan.OpenVX101___FB.v12.suo
/Vulkan.OpenVX101___FB.vcxproj
/Vulkan.OpenVX101___FB.vcxproj.filters
/Vulkan.OpenVX101___FB.vcxproj.user
/Vulkan.OpenVX101___Wayland.VC.VC.opendb
/Vulkan.OpenVX101___Wayland.VC.db
/Vulkan.OpenVX101___Wayland.aps
/Vulkan.OpenVX101___Wayland.manifest
/Vulkan.OpenVX101___Wayland.opensdf
/Vulkan.OpenVX101___Wayland.rc
/Vulkan.OpenVX101___Wayland.sdf
/Vulkan.OpenVX101___Wayland.sln
/Vulkan.OpenVX101___Wayland.v12.sdf
/Vulkan.OpenVX101___Wayland.v12.suo
/Vulkan.OpenVX101___Wayland.vcxproj
/Vulkan.OpenVX101___Wayland.vcxproj.filters
/Vulkan.OpenVX101___Wayland.vcxproj.user
/Vulkan.OpenVX101___Wayland_XDG.VC.VC.opendb
/Vulkan.OpenVX101___Wayland_XDG.VC.db
/Vulkan.OpenVX101___Wayland_XDG.aps
/Vulkan.OpenVX101___Wayland_XDG.manifest
/Vulkan.OpenVX101___Wayland_XDG.opensdf
/Vulkan.OpenVX101___Wayland_XDG.rc
/Vulkan.OpenVX101___Wayland_XDG.sdf
/Vulkan.OpenVX101___Wayland_XDG.sln
/Vulkan.OpenVX101___Wayland_XDG.v12.sdf
/Vulkan.OpenVX101___Wayland_XDG.v12.suo
/Vulkan.OpenVX101___Wayland_XDG.vcxproj
/Vulkan.OpenVX101___Wayland_XDG.vcxproj.filters
/Vulkan.OpenVX101___Wayland_XDG.vcxproj.user
/build/
/resource.h
