/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GNUmakefile
/GNUmakefile_Yocto
/OpenVX101
/OpenVX101_FB
/OpenVX101_FB_d
/OpenVX101_Wayland
/OpenVX101_Wayland_IVI
/OpenVX101_Wayland_IVI_d
/OpenVX101_Wayland_d
/OpenVX101_X11
/OpenVX101_X11_d
/OpenVX101_c
/OpenVX101_d
/Vulkan.OpenVX101.VC.VC.opendb
/Vulkan.OpenVX101.VC.db
/Vulkan.OpenVX101.aps
/Vulkan.OpenVX101.manifest
/Vulkan.OpenVX101.opensdf
/Vulkan.OpenVX101.rc
/Vulkan.OpenVX101.sdf
/Vulkan.OpenVX101.sln
/Vulkan.OpenVX101.v12.sdf
/Vulkan.OpenVX101.v12.suo
/Vulkan.OpenVX101.vcxproj
/Vulkan.OpenVX101.vcxproj.filters
/Vulkan.OpenVX101.vcxproj.user
/build/
/resource.h
