/.StartProject.bat
/.vs/
/Android.mk
/Android/
/CMakeLists.txt
/Console.Console101
/Console.Console101.VC.VC.opendb
/Console.Console101.VC.db
/Console.Console101.aps
/Console.Console101.manifest
/Console.Console101.opensdf
/Console.Console101.rc
/Console.Console101.sdf
/Console.Console101.sln
/Console.Console101.v12.sdf
/Console.Console101.v12.suo
/Console.Console101.vcxproj
/Console.Console101.vcxproj.filters
/Console.Console101.vcxproj.user
/Console101
/Console101_d
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GNUmakefile
/GNUmakefile_Yocto
/build/
/resource.h
