/.StartProject.bat
/.vs/
/Content/Textures/GPUSdkTest/
/Content/Textures/NotSupported/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GLES2.TextureCompression.VC.VC.opendb
/GLES2.TextureCompression.VC.db
/GLES2.TextureCompression.aps
/GLES2.TextureCompression.manifest
/GLES2.TextureCompression.opensdf
/GLES2.TextureCompression.rc
/GLES2.TextureCompression.sdf
/GLES2.TextureCompression.sln
/GLES2.TextureCompression.v12.sdf
/GLES2.TextureCompression.v12.suo
/GLES2.TextureCompression.vcxproj
/GLES2.TextureCompression.vcxproj.filters
/GLES2.TextureCompression.vcxproj.user
/build/
/resource.h
