/.StartProject.bat
/.vs/
/Android.mk
/CMakeLists.txt
/FslSimpleUI.Base.VC.VC.opendb
/FslSimpleUI.Base.VC.db
/FslSimpleUI.Base.manifest
/FslSimpleUI.Base.opensdf
/FslSimpleUI.Base.sdf
/FslSimpleUI.Base.sln
/FslSimpleUI.Base.v12.sdf
/FslSimpleUI.Base.v12.suo
/FslSimpleUI.Base.vcxproj
/FslSimpleUI.Base.vcxproj.filters
/FslSimpleUI.Base.vcxproj.user
/GNUmakefile
/GNUmakefile_Yocto
/build/
