.StartProject.bat
.vs
Android.mk
CMakeLists.txt
FslSimpleUIApp.VC.VC.opendb
FslSimpleUIApp.VC.db
FslSimpleUIApp.manifest
FslSimpleUIApp.opensdf
FslSimpleUIApp.sdf
FslSimpleUIApp.sln
FslSimpleUIApp.v12.sdf
FslSimpleUIApp.v12.suo
FslSimpleUIApp.vcxproj
FslSimpleUIApp.vcxproj.filters
FslSimpleUIApp.vcxproj.user
GNUmakefile
GNUmakefile_Yocto
build/
