/.vs/
/Content/Textures/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GLES3.System.DevBasicRender.VC.VC.opendb
/GLES3.System.DevBasicRender.VC.db
/GLES3.System.DevBasicRender.aps
/GLES3.System.DevBasicRender.manifest
/GLES3.System.DevBasicRender.opensdf
/GLES3.System.DevBasicRender.rc
/GLES3.System.DevBasicRender.sdf
/GLES3.System.DevBasicRender.sln
/GLES3.System.DevBasicRender.v12.sdf
/GLES3.System.DevBasicRender.v12.suo
/GLES3.System.DevBasicRender.vcxproj
/GLES3.System.DevBasicRender.vcxproj.filters
/GLES3.System.DevBasicRender.vcxproj.user
/build/
/resource.h
