/.StartProject.bat
/.vs/
/Android.mk
/CMakeLists.txt
/GNUmakefile
/GNUmakefile_Yocto
/Shared.DFNativeBatch2D.VC.VC.opendb
/Shared.DFNativeBatch2D.VC.db
/Shared.DFNativeBatch2D.manifest
/Shared.DFNativeBatch2D.opensdf
/Shared.DFNativeBatch2D.sdf
/Shared.DFNativeBatch2D.sln
/Shared.DFNativeBatch2D.v12.sdf
/Shared.DFNativeBatch2D.v12.suo
/Shared.DFNativeBatch2D.vcxproj
/Shared.DFNativeBatch2D.vcxproj.filters
/Shared.DFNativeBatch2D.vcxproj.user
/Shared.System.DFNativeBatch2D.VC.VC.opendb
/Shared.System.DFNativeBatch2D.VC.db
/Shared.System.DFNativeBatch2D.manifest
/Shared.System.DFNativeBatch2D.opensdf
/Shared.System.DFNativeBatch2D.sdf
/Shared.System.DFNativeBatch2D.sln
/Shared.System.DFNativeBatch2D.v12.sdf
/Shared.System.DFNativeBatch2D.v12.suo
/Shared.System.DFNativeBatch2D.vcxproj
/Shared.System.DFNativeBatch2D.vcxproj.filters
/Shared.System.DFNativeBatch2D.vcxproj.user
/build/
