/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/BasicUI/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GLES3.SdfFonts.VC.VC.opendb
/GLES3.SdfFonts.VC.db
/GLES3.SdfFonts.aps
/GLES3.SdfFonts.manifest
/GLES3.SdfFonts.opensdf
/GLES3.SdfFonts.rc
/GLES3.SdfFonts.sdf
/GLES3.SdfFonts.sln
/GLES3.SdfFonts.v12.sdf
/GLES3.SdfFonts.v12.suo
/GLES3.SdfFonts.vcxproj
/GLES3.SdfFonts.vcxproj.filters
/GLES3.SdfFonts.vcxproj.user
/build/
/resource.h
