/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/BasicUI/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GLES3.SdfFonts.VC.VC.opendb
/GLES3.SdfFonts.VC.db
/GLES3.SdfFonts.aps
/GLES3.SdfFonts.manifest
/GLES3.SdfFonts.opensdf
/GLES3.SdfFonts.rc
/GLES3.SdfFonts.sdf
/GLES3.SdfFonts.sln
/GLES3.SdfFonts.v12.sdf
/GLES3.SdfFonts.v12.suo
/GLES3.SdfFonts.vcxproj
/GLES3.SdfFonts.vcxproj.filters
/GLES3.SdfFonts.vcxproj.user
/GLES3.SdfFonts___FB.VC.VC.opendb
/GLES3.SdfFonts___FB.VC.db
/GLES3.SdfFonts___FB.aps
/GLES3.SdfFonts___FB.manifest
/GLES3.SdfFonts___FB.opensdf
/GLES3.SdfFonts___FB.rc
/GLES3.SdfFonts___FB.sdf
/GLES3.SdfFonts___FB.sln
/GLES3.SdfFonts___FB.v12.sdf
/GLES3.SdfFonts___FB.v12.suo
/GLES3.SdfFonts___FB.vcxproj
/GLES3.SdfFonts___FB.vcxproj.filters
/GLES3.SdfFonts___FB.vcxproj.user
/GLES3.SdfFonts___Wayland.VC.VC.opendb
/GLES3.SdfFonts___Wayland.VC.db
/GLES3.SdfFonts___Wayland.aps
/GLES3.SdfFonts___Wayland.manifest
/GLES3.SdfFonts___Wayland.opensdf
/GLES3.SdfFonts___Wayland.rc
/GLES3.SdfFonts___Wayland.sdf
/GLES3.SdfFonts___Wayland.sln
/GLES3.SdfFonts___Wayland.v12.sdf
/GLES3.SdfFonts___Wayland.v12.suo
/GLES3.SdfFonts___Wayland.vcxproj
/GLES3.SdfFonts___Wayland.vcxproj.filters
/GLES3.SdfFonts___Wayland.vcxproj.user
/GLES3.SdfFonts___Wayland_XDG.VC.VC.opendb
/GLES3.SdfFonts___Wayland_XDG.VC.db
/GLES3.SdfFonts___Wayland_XDG.aps
/GLES3.SdfFonts___Wayland_XDG.manifest
/GLES3.SdfFonts___Wayland_XDG.opensdf
/GLES3.SdfFonts___Wayland_XDG.rc
/GLES3.SdfFonts___Wayland_XDG.sdf
/GLES3.SdfFonts___Wayland_XDG.sln
/GLES3.SdfFonts___Wayland_XDG.v12.sdf
/GLES3.SdfFonts___Wayland_XDG.v12.suo
/GLES3.SdfFonts___Wayland_XDG.vcxproj
/GLES3.SdfFonts___Wayland_XDG.vcxproj.filters
/GLES3.SdfFonts___Wayland_XDG.vcxproj.user
/GLES3.SdfFonts___X11.VC.VC.opendb
/GLES3.SdfFonts___X11.VC.db
/GLES3.SdfFonts___X11.aps
/GLES3.SdfFonts___X11.manifest
/GLES3.SdfFonts___X11.opensdf
/GLES3.SdfFonts___X11.rc
/GLES3.SdfFonts___X11.sdf
/GLES3.SdfFonts___X11.sln
/GLES3.SdfFonts___X11.v12.sdf
/GLES3.SdfFonts___X11.v12.suo
/GLES3.SdfFonts___X11.vcxproj
/GLES3.SdfFonts___X11.vcxproj.filters
/GLES3.SdfFonts___X11.vcxproj.user
/build/
/resource.h
