/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GNUmakefile
/GNUmakefile_Yocto
/Scissor101
/Scissor101_FB
/Scissor101_FB_d
/Scissor101_Wayland
/Scissor101_Wayland_IVI
/Scissor101_Wayland_IVI_d
/Scissor101_Wayland_d
/Scissor101_X11
/Scissor101_X11_d
/Scissor101_c
/Scissor101_d
/Vulkan.Scissor101.VC.VC.opendb
/Vulkan.Scissor101.VC.db
/Vulkan.Scissor101.aps
/Vulkan.Scissor101.manifest
/Vulkan.Scissor101.opensdf
/Vulkan.Scissor101.rc
/Vulkan.Scissor101.sdf
/Vulkan.Scissor101.sln
/Vulkan.Scissor101.v12.sdf
/Vulkan.Scissor101.v12.suo
/Vulkan.Scissor101.vcxproj
/Vulkan.Scissor101.vcxproj.filters
/Vulkan.Scissor101.vcxproj.user
/build/
/resource.h
