/.vs/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.UI.Declarative.VC.VC.opendb
/Vulkan.UI.Declarative.VC.db
/Vulkan.UI.Declarative.aps
/Vulkan.UI.Declarative.manifest
/Vulkan.UI.Declarative.opensdf
/Vulkan.UI.Declarative.rc
/Vulkan.UI.Declarative.sdf
/Vulkan.UI.Declarative.sln
/Vulkan.UI.Declarative.v12.sdf
/Vulkan.UI.Declarative.v12.suo
/Vulkan.UI.Declarative.vcxproj
/Vulkan.UI.Declarative.vcxproj.filters
/Vulkan.UI.Declarative.vcxproj.user
/build/
/resource.h
