/.vs/
/Content/_ContentSyncCache.fsl
/FslDemoApp.Base.UnitTest.VC.VC.opendb
/FslDemoApp.Base.UnitTest.VC.db
/FslDemoApp.Base.UnitTest.aps
/FslDemoApp.Base.UnitTest.manifest
/FslDemoApp.Base.UnitTest.opensdf
/FslDemoApp.Base.UnitTest.rc
/FslDemoApp.Base.UnitTest.sdf
/FslDemoApp.Base.UnitTest.sln
/FslDemoApp.Base.UnitTest.v12.sdf
/FslDemoApp.Base.UnitTest.v12.suo
/FslDemoApp.Base.UnitTest.vcxproj
/FslDemoApp.Base.UnitTest.vcxproj.filters
/FslDemoApp.Base.UnitTest.vcxproj.user
/FslSDKIcon.ico
/build/
/resource.h
