/.StartProject.bat
/.vs/
/Content/Models/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.ModelLoaderBasics.VC.VC.opendb
/Vulkan.ModelLoaderBasics.VC.db
/Vulkan.ModelLoaderBasics.aps
/Vulkan.ModelLoaderBasics.manifest
/Vulkan.ModelLoaderBasics.opensdf
/Vulkan.ModelLoaderBasics.rc
/Vulkan.ModelLoaderBasics.sdf
/Vulkan.ModelLoaderBasics.sln
/Vulkan.ModelLoaderBasics.v12.sdf
/Vulkan.ModelLoaderBasics.v12.suo
/Vulkan.ModelLoaderBasics.vcxproj
/Vulkan.ModelLoaderBasics.vcxproj.filters
/Vulkan.ModelLoaderBasics.vcxproj.user
/build/
/resource.h
