/.StartProject.bat
/.vs/
/Android.mk
/Android/
/CMakeLists.txt
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GLES2.S01_SimpleTriangle
/GLES2.S01_SimpleTriangle.VC.VC.opendb
/GLES2.S01_SimpleTriangle.VC.db
/GLES2.S01_SimpleTriangle.aps
/GLES2.S01_SimpleTriangle.manifest
/GLES2.S01_SimpleTriangle.opensdf
/GLES2.S01_SimpleTriangle.rc
/GLES2.S01_SimpleTriangle.sdf
/GLES2.S01_SimpleTriangle.sln
/GLES2.S01_SimpleTriangle.v12.sdf
/GLES2.S01_SimpleTriangle.v12.suo
/GLES2.S01_SimpleTriangle.vcxproj
/GLES2.S01_SimpleTriangle.vcxproj.filters
/GLES2.S01_SimpleTriangle.vcxproj.user
/GLES2.S01_SimpleTriangle_FB
/GLES2.S01_SimpleTriangle_Wayland
/GLES2.S01_SimpleTriangle_X11
/GLES2.S01_SimpleTriangle___FB.VC.VC.opendb
/GLES2.S01_SimpleTriangle___FB.VC.db
/GLES2.S01_SimpleTriangle___FB.aps
/GLES2.S01_SimpleTriangle___FB.manifest
/GLES2.S01_SimpleTriangle___FB.opensdf
/GLES2.S01_SimpleTriangle___FB.rc
/GLES2.S01_SimpleTriangle___FB.sdf
/GLES2.S01_SimpleTriangle___FB.sln
/GLES2.S01_SimpleTriangle___FB.v12.sdf
/GLES2.S01_SimpleTriangle___FB.v12.suo
/GLES2.S01_SimpleTriangle___FB.vcxproj
/GLES2.S01_SimpleTriangle___FB.vcxproj.filters
/GLES2.S01_SimpleTriangle___FB.vcxproj.user
/GLES2.S01_SimpleTriangle___Wayland.VC.VC.opendb
/GLES2.S01_SimpleTriangle___Wayland.VC.db
/GLES2.S01_SimpleTriangle___Wayland.aps
/GLES2.S01_SimpleTriangle___Wayland.manifest
/GLES2.S01_SimpleTriangle___Wayland.opensdf
/GLES2.S01_SimpleTriangle___Wayland.rc
/GLES2.S01_SimpleTriangle___Wayland.sdf
/GLES2.S01_SimpleTriangle___Wayland.sln
/GLES2.S01_SimpleTriangle___Wayland.v12.sdf
/GLES2.S01_SimpleTriangle___Wayland.v12.suo
/GLES2.S01_SimpleTriangle___Wayland.vcxproj
/GLES2.S01_SimpleTriangle___Wayland.vcxproj.filters
/GLES2.S01_SimpleTriangle___Wayland.vcxproj.user
/GLES2.S01_SimpleTriangle___Wayland_XDG.VC.VC.opendb
/GLES2.S01_SimpleTriangle___Wayland_XDG.VC.db
/GLES2.S01_SimpleTriangle___Wayland_XDG.aps
/GLES2.S01_SimpleTriangle___Wayland_XDG.manifest
/GLES2.S01_SimpleTriangle___Wayland_XDG.opensdf
/GLES2.S01_SimpleTriangle___Wayland_XDG.rc
/GLES2.S01_SimpleTriangle___Wayland_XDG.sdf
/GLES2.S01_SimpleTriangle___Wayland_XDG.sln
/GLES2.S01_SimpleTriangle___Wayland_XDG.v12.sdf
/GLES2.S01_SimpleTriangle___Wayland_XDG.v12.suo
/GLES2.S01_SimpleTriangle___Wayland_XDG.vcxproj
/GLES2.S01_SimpleTriangle___Wayland_XDG.vcxproj.filters
/GLES2.S01_SimpleTriangle___Wayland_XDG.vcxproj.user
/GLES2.S01_SimpleTriangle___X11.VC.VC.opendb
/GLES2.S01_SimpleTriangle___X11.VC.db
/GLES2.S01_SimpleTriangle___X11.aps
/GLES2.S01_SimpleTriangle___X11.manifest
/GLES2.S01_SimpleTriangle___X11.opensdf
/GLES2.S01_SimpleTriangle___X11.rc
/GLES2.S01_SimpleTriangle___X11.sdf
/GLES2.S01_SimpleTriangle___X11.sln
/GLES2.S01_SimpleTriangle___X11.v12.sdf
/GLES2.S01_SimpleTriangle___X11.v12.suo
/GLES2.S01_SimpleTriangle___X11.vcxproj
/GLES2.S01_SimpleTriangle___X11.vcxproj.filters
/GLES2.S01_SimpleTriangle___X11.vcxproj.user
/GNUmakefile
/GNUmakefile_Yocto
/S01_SimpleTriangle
/S01_SimpleTriangle_FB
/S01_SimpleTriangle_FB_d
/S01_SimpleTriangle_Wayland
/S01_SimpleTriangle_Wayland_IVI
/S01_SimpleTriangle_Wayland_IVI_d
/S01_SimpleTriangle_Wayland_d
/S01_SimpleTriangle_X11
/S01_SimpleTriangle_X11_d
/S01_SimpleTriangle_c
/S01_SimpleTriangle_d
/build/
/resource.h
