/.vs/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/OpenCL.Rgb2Hsv.VC.VC.opendb
/OpenCL.Rgb2Hsv.VC.db
/OpenCL.Rgb2Hsv.aps
/OpenCL.Rgb2Hsv.manifest
/OpenCL.Rgb2Hsv.opensdf
/OpenCL.Rgb2Hsv.rc
/OpenCL.Rgb2Hsv.sdf
/OpenCL.Rgb2Hsv.sln
/OpenCL.Rgb2Hsv.v12.sdf
/OpenCL.Rgb2Hsv.v12.suo
/OpenCL.Rgb2Hsv.vcxproj
/OpenCL.Rgb2Hsv.vcxproj.filters
/OpenCL.Rgb2Hsv.vcxproj.user
/build/
/resource.h
