/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/UIAtlas/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GNUmakefile
/GNUmakefile_Yocto
/ObjectSelection
/ObjectSelection_FB
/ObjectSelection_FB_d
/ObjectSelection_Wayland
/ObjectSelection_Wayland_IVI
/ObjectSelection_Wayland_IVI_d
/ObjectSelection_Wayland_d
/ObjectSelection_X11
/ObjectSelection_X11_d
/ObjectSelection_c
/ObjectSelection_d
/Vulkan.ObjectSelection.VC.VC.opendb
/Vulkan.ObjectSelection.VC.db
/Vulkan.ObjectSelection.aps
/Vulkan.ObjectSelection.manifest
/Vulkan.ObjectSelection.opensdf
/Vulkan.ObjectSelection.rc
/Vulkan.ObjectSelection.sdf
/Vulkan.ObjectSelection.sln
/Vulkan.ObjectSelection.v12.sdf
/Vulkan.ObjectSelection.v12.suo
/Vulkan.ObjectSelection.vcxproj
/Vulkan.ObjectSelection.vcxproj.filters
/Vulkan.ObjectSelection.vcxproj.user
/Vulkan.ObjectSelection___FB.VC.VC.opendb
/Vulkan.ObjectSelection___FB.VC.db
/Vulkan.ObjectSelection___FB.aps
/Vulkan.ObjectSelection___FB.manifest
/Vulkan.ObjectSelection___FB.opensdf
/Vulkan.ObjectSelection___FB.rc
/Vulkan.ObjectSelection___FB.sdf
/Vulkan.ObjectSelection___FB.sln
/Vulkan.ObjectSelection___FB.v12.sdf
/Vulkan.ObjectSelection___FB.v12.suo
/Vulkan.ObjectSelection___FB.vcxproj
/Vulkan.ObjectSelection___FB.vcxproj.filters
/Vulkan.ObjectSelection___FB.vcxproj.user
/Vulkan.ObjectSelection___Wayland.VC.VC.opendb
/Vulkan.ObjectSelection___Wayland.VC.db
/Vulkan.ObjectSelection___Wayland.aps
/Vulkan.ObjectSelection___Wayland.manifest
/Vulkan.ObjectSelection___Wayland.opensdf
/Vulkan.ObjectSelection___Wayland.rc
/Vulkan.ObjectSelection___Wayland.sdf
/Vulkan.ObjectSelection___Wayland.sln
/Vulkan.ObjectSelection___Wayland.v12.sdf
/Vulkan.ObjectSelection___Wayland.v12.suo
/Vulkan.ObjectSelection___Wayland.vcxproj
/Vulkan.ObjectSelection___Wayland.vcxproj.filters
/Vulkan.ObjectSelection___Wayland.vcxproj.user
/Vulkan.ObjectSelection___Wayland_XDG.VC.VC.opendb
/Vulkan.ObjectSelection___Wayland_XDG.VC.db
/Vulkan.ObjectSelection___Wayland_XDG.aps
/Vulkan.ObjectSelection___Wayland_XDG.manifest
/Vulkan.ObjectSelection___Wayland_XDG.opensdf
/Vulkan.ObjectSelection___Wayland_XDG.rc
/Vulkan.ObjectSelection___Wayland_XDG.sdf
/Vulkan.ObjectSelection___Wayland_XDG.sln
/Vulkan.ObjectSelection___Wayland_XDG.v12.sdf
/Vulkan.ObjectSelection___Wayland_XDG.v12.suo
/Vulkan.ObjectSelection___Wayland_XDG.vcxproj
/Vulkan.ObjectSelection___Wayland_XDG.vcxproj.filters
/Vulkan.ObjectSelection___Wayland_XDG.vcxproj.user
/build/
/resource.h
