/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/UIAtlas/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GNUmakefile
/GNUmakefile_Yocto
/ObjectSelection
/ObjectSelection_FB
/ObjectSelection_FB_d
/ObjectSelection_Wayland
/ObjectSelection_Wayland_IVI
/ObjectSelection_Wayland_IVI_d
/ObjectSelection_Wayland_d
/ObjectSelection_X11
/ObjectSelection_X11_d
/ObjectSelection_c
/ObjectSelection_d
/Vulkan.ObjectSelection.VC.VC.opendb
/Vulkan.ObjectSelection.VC.db
/Vulkan.ObjectSelection.aps
/Vulkan.ObjectSelection.manifest
/Vulkan.ObjectSelection.opensdf
/Vulkan.ObjectSelection.rc
/Vulkan.ObjectSelection.sdf
/Vulkan.ObjectSelection.sln
/Vulkan.ObjectSelection.v12.sdf
/Vulkan.ObjectSelection.v12.suo
/Vulkan.ObjectSelection.vcxproj
/Vulkan.ObjectSelection.vcxproj.filters
/Vulkan.ObjectSelection.vcxproj.user
/build/
/resource.h
