/.StartProject.bat
/.vs/
/Android.mk
/CMakeLists.txt
/FslDemoService.NativeGraphics.G2D.VC.VC.opendb
/FslDemoService.NativeGraphics.G2D.VC.db
/FslDemoService.NativeGraphics.G2D.manifest
/FslDemoService.NativeGraphics.G2D.opensdf
/FslDemoService.NativeGraphics.G2D.sdf
/FslDemoService.NativeGraphics.G2D.sln
/FslDemoService.NativeGraphics.G2D.v12.sdf
/FslDemoService.NativeGraphics.G2D.v12.suo
/FslDemoService.NativeGraphics.G2D.vcxproj
/FslDemoService.NativeGraphics.G2D.vcxproj.filters
/FslDemoService.NativeGraphics.G2D.vcxproj.user
/GNUmakefile
/GNUmakefile_Yocto
/build/
