/.StartProject.bat
/.vs/
/Android.mk
/CMakeLists.txt
/FslNativeWindow.Platform.VC.VC.opendb
/FslNativeWindow.Platform.VC.db
/FslNativeWindow.Platform.manifest
/FslNativeWindow.Platform.opensdf
/FslNativeWindow.Platform.sdf
/FslNativeWindow.Platform.sln
/FslNativeWindow.Platform.v12.sdf
/FslNativeWindow.Platform.v12.suo
/FslNativeWindow.Platform.vcxproj
/FslNativeWindow.Platform.vcxproj.filters
/FslNativeWindow.Platform.vcxproj.user
/GNUmakefile
/GNUmakefile_Yocto
/build/
