/.vs/
/FslUnitTest.TestPackages.StaticVariants2.P0.VC.VC.opendb
/FslUnitTest.TestPackages.StaticVariants2.P0.VC.db
/FslUnitTest.TestPackages.StaticVariants2.P0.manifest
/FslUnitTest.TestPackages.StaticVariants2.P0.opensdf
/FslUnitTest.TestPackages.StaticVariants2.P0.sdf
/FslUnitTest.TestPackages.StaticVariants2.P0.sln
/FslUnitTest.TestPackages.StaticVariants2.P0.v12.sdf
/FslUnitTest.TestPackages.StaticVariants2.P0.v12.suo
/FslUnitTest.TestPackages.StaticVariants2.P0.vcxproj
/FslUnitTest.TestPackages.StaticVariants2.P0.vcxproj.filters
/FslUnitTest.TestPackages.StaticVariants2.P0.vcxproj.user
/FslUnitTest.TestPackages.VariantExtend.P0.VC.VC.opendb
/FslUnitTest.TestPackages.VariantExtend.P0.VC.db
/FslUnitTest.TestPackages.VariantExtend.P0.manifest
/FslUnitTest.TestPackages.VariantExtend.P0.opensdf
/FslUnitTest.TestPackages.VariantExtend.P0.sdf
/FslUnitTest.TestPackages.VariantExtend.P0.sln
/FslUnitTest.TestPackages.VariantExtend.P0.v12.sdf
/FslUnitTest.TestPackages.VariantExtend.P0.v12.suo
/FslUnitTest.TestPackages.VariantExtend.P0.vcxproj
/FslUnitTest.TestPackages.VariantExtend.P0.vcxproj.filters
/FslUnitTest.TestPackages.VariantExtend.P0.vcxproj.user
/build/
