/.vs/
/FslGraphics2D.Procedural.VC.VC.opendb
/FslGraphics2D.Procedural.VC.db
/FslGraphics2D.Procedural.include.FslGraphics2D.Procedural.VC.VC.opendb
/FslGraphics2D.Procedural.include.FslGraphics2D.Procedural.VC.db
/FslGraphics2D.Procedural.include.FslGraphics2D.Procedural.manifest
/FslGraphics2D.Procedural.include.FslGraphics2D.Procedural.opensdf
/FslGraphics2D.Procedural.include.FslGraphics2D.Procedural.sdf
/FslGraphics2D.Procedural.include.FslGraphics2D.Procedural.sln
/FslGraphics2D.Procedural.include.FslGraphics2D.Procedural.v12.sdf
/FslGraphics2D.Procedural.include.FslGraphics2D.Procedural.v12.suo
/FslGraphics2D.Procedural.include.FslGraphics2D.Procedural.vcxproj
/FslGraphics2D.Procedural.include.FslGraphics2D.Procedural.vcxproj.filters
/FslGraphics2D.Procedural.include.FslGraphics2D.Procedural.vcxproj.user
/FslGraphics2D.Procedural.manifest
/FslGraphics2D.Procedural.opensdf
/FslGraphics2D.Procedural.sdf
/FslGraphics2D.Procedural.sln
/FslGraphics2D.Procedural.v12.sdf
/FslGraphics2D.Procedural.v12.suo
/FslGraphics2D.Procedural.vcxproj
/FslGraphics2D.Procedural.vcxproj.filters
/FslGraphics2D.Procedural.vcxproj.user
/build/
