/.vs/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/OpenCL.Rgb888toUYVY.VC.VC.opendb
/OpenCL.Rgb888toUYVY.VC.db
/OpenCL.Rgb888toUYVY.aps
/OpenCL.Rgb888toUYVY.manifest
/OpenCL.Rgb888toUYVY.opensdf
/OpenCL.Rgb888toUYVY.rc
/OpenCL.Rgb888toUYVY.sdf
/OpenCL.Rgb888toUYVY.sln
/OpenCL.Rgb888toUYVY.v12.sdf
/OpenCL.Rgb888toUYVY.v12.suo
/OpenCL.Rgb888toUYVY.vcxproj
/OpenCL.Rgb888toUYVY.vcxproj.filters
/OpenCL.Rgb888toUYVY.vcxproj.user
/build/
/resource.h
