.StartProject.bat
.vs/
Android.mk
Android/
Blur_FB
Blur_Wayland
Blur_X11
CMakeLists.txt
Content/_ContentSyncCache.fsl
FslSDKIcon.ico
GLES2.Blur.VC.VC.opendb
GLES2.Blur.VC.db
GLES2.Blur.aps
GLES2.Blur.manifest
GLES2.Blur.opensdf
GLES2.Blur.rc
GLES2.Blur.sdf
GLES2.Blur.sln
GLES2.Blur.v12.sdf
GLES2.Blur.v12.suo
GLES2.Blur.vcxproj
GLES2.Blur.vcxproj.filters
GLES2.Blur.vcxproj.user
GNUmakefile
GNUmakefile_Yocto
build/
resource.h
