/.vs/
/Shared.System.OnDemandRendering.VC.VC.opendb
/Shared.System.OnDemandRendering.VC.db
/Shared.System.OnDemandRendering.manifest
/Shared.System.OnDemandRendering.opensdf
/Shared.System.OnDemandRendering.sdf
/Shared.System.OnDemandRendering.sln
/Shared.System.OnDemandRendering.v12.sdf
/Shared.System.OnDemandRendering.v12.suo
/Shared.System.OnDemandRendering.vcxproj
/Shared.System.OnDemandRendering.vcxproj.filters
/Shared.System.OnDemandRendering.vcxproj.user
/build/
