.StartProject.bat
.vs
Android.mk
CMakeLists.txt
DFNativeBatch2DShared.VC.VC.opendb
DFNativeBatch2DShared.VC.db
DFNativeBatch2DShared.manifest
DFNativeBatch2DShared.opensdf
DFNativeBatch2DShared.sdf
DFNativeBatch2DShared.sln
DFNativeBatch2DShared.v12.sdf
DFNativeBatch2DShared.v12.suo
DFNativeBatch2DShared.vcxproj
DFNativeBatch2DShared.vcxproj.filters
DFNativeBatch2DShared.vcxproj.user
GNUmakefile
GNUmakefile_Yocto
build/
