/.StartProject.bat
/.vs/
/Android.mk
/CMakeLists.txt
/GNUmakefile
/GNUmakefile_Yocto
/Shared.DFGraphicsBasic2D.VC.VC.opendb
/Shared.DFGraphicsBasic2D.VC.db
/Shared.DFGraphicsBasic2D.manifest
/Shared.DFGraphicsBasic2D.opensdf
/Shared.DFGraphicsBasic2D.sdf
/Shared.DFGraphicsBasic2D.sln
/Shared.DFGraphicsBasic2D.v12.sdf
/Shared.DFGraphicsBasic2D.v12.suo
/Shared.DFGraphicsBasic2D.vcxproj
/Shared.DFGraphicsBasic2D.vcxproj.filters
/Shared.DFGraphicsBasic2D.vcxproj.user
/build/
