/.vs/
/Shared.System.DevBasicRenderCustomShader.VC.VC.opendb
/Shared.System.DevBasicRenderCustomShader.VC.db
/Shared.System.DevBasicRenderCustomShader.manifest
/Shared.System.DevBasicRenderCustomShader.opensdf
/Shared.System.DevBasicRenderCustomShader.sdf
/Shared.System.DevBasicRenderCustomShader.sln
/Shared.System.DevBasicRenderCustomShader.v12.sdf
/Shared.System.DevBasicRenderCustomShader.v12.suo
/Shared.System.DevBasicRenderCustomShader.vcxproj
/Shared.System.DevBasicRenderCustomShader.vcxproj.filters
/Shared.System.DevBasicRenderCustomShader.vcxproj.user
/build/
