/.StartProject.bat
/.vs/
/Android.mk
/CMakeLists.txt
/FslUnitTest.TestPackages.DynamicVariant.VC.VC.opendb
/FslUnitTest.TestPackages.DynamicVariant.VC.db
/FslUnitTest.TestPackages.DynamicVariant.manifest
/FslUnitTest.TestPackages.DynamicVariant.opensdf
/FslUnitTest.TestPackages.DynamicVariant.sdf
/FslUnitTest.TestPackages.DynamicVariant.sln
/FslUnitTest.TestPackages.DynamicVariant.v12.sdf
/FslUnitTest.TestPackages.DynamicVariant.v12.suo
/FslUnitTest.TestPackages.DynamicVariant.vcxproj
/FslUnitTest.TestPackages.DynamicVariant.vcxproj.filters
/FslUnitTest.TestPackages.DynamicVariant.vcxproj.user
/GNUmakefile
/GNUmakefile_Yocto
/build/
