/.StartProject.bat
/.vs/
/Android.mk
/CMakeLists.txt
/GNUmakefile
/GNUmakefile_Yocto
/Shared.UI.SimpleUI101.VC.VC.opendb
/Shared.UI.SimpleUI101.VC.db
/Shared.UI.SimpleUI101.manifest
/Shared.UI.SimpleUI101.opensdf
/Shared.UI.SimpleUI101.sdf
/Shared.UI.SimpleUI101.sln
/Shared.UI.SimpleUI101.v12.sdf
/Shared.UI.SimpleUI101.v12.suo
/Shared.UI.SimpleUI101.vcxproj
/Shared.UI.SimpleUI101.vcxproj.filters
/Shared.UI.SimpleUI101.vcxproj.user
/build/
