/.StartProject.bat
/.vs/
/Android.mk
/CMakeLists.txt
/FslUnitTest.VC.VC.opendb
/FslUnitTest.VC.db
/FslUnitTest.manifest
/FslUnitTest.opensdf
/FslUnitTest.sdf
/FslUnitTest.sln
/FslUnitTest.v12.sdf
/FslUnitTest.v12.suo
/FslUnitTest.vcxproj
/FslUnitTest.vcxproj.filters
/FslUnitTest.vcxproj.user
/GNUmakefile
/UnitTest.VC.VC.opendb
/UnitTest.VC.db
/UnitTest.manifest
/UnitTest.opensdf
/UnitTest.sdf
/UnitTest.sln
/UnitTest.v12.sdf
/UnitTest.v12.suo
/UnitTest.vcxproj
/UnitTest.vcxproj.filters
/UnitTest.vcxproj.user
/build/
