/.vs/
/Shared.UI.BasicDataBinding.VC.VC.opendb
/Shared.UI.BasicDataBinding.VC.db
/Shared.UI.BasicDataBinding.manifest
/Shared.UI.BasicDataBinding.opensdf
/Shared.UI.BasicDataBinding.sdf
/Shared.UI.BasicDataBinding.sln
/Shared.UI.BasicDataBinding.v12.sdf
/Shared.UI.BasicDataBinding.v12.suo
/Shared.UI.BasicDataBinding.vcxproj
/Shared.UI.BasicDataBinding.vcxproj.filters
/Shared.UI.BasicDataBinding.vcxproj.user
/Shared.UI.DataBinding.VC.VC.opendb
/Shared.UI.DataBinding.VC.db
/Shared.UI.DataBinding.manifest
/Shared.UI.DataBinding.opensdf
/Shared.UI.DataBinding.sdf
/Shared.UI.DataBinding.sln
/Shared.UI.DataBinding.v12.sdf
/Shared.UI.DataBinding.v12.suo
/Shared.UI.DataBinding.vcxproj
/Shared.UI.DataBinding.vcxproj.filters
/Shared.UI.DataBinding.vcxproj.user
/build/
