/.StartProject.bat
/.vs/
/CMakeLists.txt
/Console.ConsoleMinimal101.VC.VC.opendb
/Console.ConsoleMinimal101.VC.db
/Console.ConsoleMinimal101.aps
/Console.ConsoleMinimal101.manifest
/Console.ConsoleMinimal101.opensdf
/Console.ConsoleMinimal101.rc
/Console.ConsoleMinimal101.sdf
/Console.ConsoleMinimal101.sln
/Console.ConsoleMinimal101.v12.sdf
/Console.ConsoleMinimal101.v12.suo
/Console.ConsoleMinimal101.vcxproj
/Console.ConsoleMinimal101.vcxproj.filters
/Console.ConsoleMinimal101.vcxproj.user
/ConsoleMinimal101
/ConsoleMinimal101_c
/ConsoleMinimal101_d
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GNUmakefile
/GNUmakefile_Yocto
/build/
/resource.h
