/.vs/
/FslSimpleUI.Controls.Charts.Common.VC.VC.opendb
/FslSimpleUI.Controls.Charts.Common.VC.db
/FslSimpleUI.Controls.Charts.Common.manifest
/FslSimpleUI.Controls.Charts.Common.opensdf
/FslSimpleUI.Controls.Charts.Common.sdf
/FslSimpleUI.Controls.Charts.Common.sln
/FslSimpleUI.Controls.Charts.Common.v12.sdf
/FslSimpleUI.Controls.Charts.Common.v12.suo
/FslSimpleUI.Controls.Charts.Common.vcxproj
/FslSimpleUI.Controls.Charts.Common.vcxproj.filters
/FslSimpleUI.Controls.Charts.Common.vcxproj.user
/build/
