/.StartProject.bat
/.vs/
/Android.mk
/CMakeLists.txt
/GNUmakefile
/GNUmakefile_Yocto
/Shared.Bloom.VC.VC.opendb
/Shared.Bloom.VC.db
/Shared.Bloom.manifest
/Shared.Bloom.opensdf
/Shared.Bloom.sdf
/Shared.Bloom.sln
/Shared.Bloom.v12.sdf
/Shared.Bloom.v12.suo
/Shared.Bloom.vcxproj
/Shared.Bloom.vcxproj.filters
/Shared.Bloom.vcxproj.user
/build/
