/.vs/
/Shared.UI.RenderTest.VC.VC.opendb
/Shared.UI.RenderTest.VC.db
/Shared.UI.RenderTest.manifest
/Shared.UI.RenderTest.opensdf
/Shared.UI.RenderTest.sdf
/Shared.UI.RenderTest.sln
/Shared.UI.RenderTest.v12.sdf
/Shared.UI.RenderTest.v12.suo
/Shared.UI.RenderTest.vcxproj
/Shared.UI.RenderTest.vcxproj.filters
/Shared.UI.RenderTest.vcxproj.user
/build/
