/.StartProject.bat
/.vs/
/FslDemoService.Graphics.Control.VC.VC.opendb
/FslDemoService.Graphics.Control.VC.db
/FslDemoService.Graphics.Control.manifest
/FslDemoService.Graphics.Control.opensdf
/FslDemoService.Graphics.Control.sdf
/FslDemoService.Graphics.Control.sln
/FslDemoService.Graphics.Control.v12.sdf
/FslDemoService.Graphics.Control.v12.suo
/FslDemoService.Graphics.Control.vcxproj
/FslDemoService.Graphics.Control.vcxproj.filters
/FslDemoService.Graphics.Control.vcxproj.user
/build/
