/.vs/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.UI.Charts.VC.VC.opendb
/Vulkan.UI.Charts.VC.db
/Vulkan.UI.Charts.aps
/Vulkan.UI.Charts.manifest
/Vulkan.UI.Charts.opensdf
/Vulkan.UI.Charts.rc
/Vulkan.UI.Charts.sdf
/Vulkan.UI.Charts.sln
/Vulkan.UI.Charts.v12.sdf
/Vulkan.UI.Charts.v12.suo
/Vulkan.UI.Charts.vcxproj
/Vulkan.UI.Charts.vcxproj.filters
/Vulkan.UI.Charts.vcxproj.user
/build/
/resource.h
