/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/UIAtlas/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GLES3.UI.DpiScale.VC.VC.opendb
/GLES3.UI.DpiScale.VC.db
/GLES3.UI.DpiScale.aps
/GLES3.UI.DpiScale.manifest
/GLES3.UI.DpiScale.opensdf
/GLES3.UI.DpiScale.rc
/GLES3.UI.DpiScale.sdf
/GLES3.UI.DpiScale.sln
/GLES3.UI.DpiScale.v12.sdf
/GLES3.UI.DpiScale.v12.suo
/GLES3.UI.DpiScale.vcxproj
/GLES3.UI.DpiScale.vcxproj.filters
/GLES3.UI.DpiScale.vcxproj.user
/build/
/resource.h
