/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/UIAtlas/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GLES3.UI.DpiScale.VC.VC.opendb
/GLES3.UI.DpiScale.VC.db
/GLES3.UI.DpiScale.aps
/GLES3.UI.DpiScale.manifest
/GLES3.UI.DpiScale.opensdf
/GLES3.UI.DpiScale.rc
/GLES3.UI.DpiScale.sdf
/GLES3.UI.DpiScale.sln
/GLES3.UI.DpiScale.v12.sdf
/GLES3.UI.DpiScale.v12.suo
/GLES3.UI.DpiScale.vcxproj
/GLES3.UI.DpiScale.vcxproj.filters
/GLES3.UI.DpiScale.vcxproj.user
/GLES3.UI.DpiScale___FB.VC.VC.opendb
/GLES3.UI.DpiScale___FB.VC.db
/GLES3.UI.DpiScale___FB.aps
/GLES3.UI.DpiScale___FB.manifest
/GLES3.UI.DpiScale___FB.opensdf
/GLES3.UI.DpiScale___FB.rc
/GLES3.UI.DpiScale___FB.sdf
/GLES3.UI.DpiScale___FB.sln
/GLES3.UI.DpiScale___FB.v12.sdf
/GLES3.UI.DpiScale___FB.v12.suo
/GLES3.UI.DpiScale___FB.vcxproj
/GLES3.UI.DpiScale___FB.vcxproj.filters
/GLES3.UI.DpiScale___FB.vcxproj.user
/GLES3.UI.DpiScale___Wayland.VC.VC.opendb
/GLES3.UI.DpiScale___Wayland.VC.db
/GLES3.UI.DpiScale___Wayland.aps
/GLES3.UI.DpiScale___Wayland.manifest
/GLES3.UI.DpiScale___Wayland.opensdf
/GLES3.UI.DpiScale___Wayland.rc
/GLES3.UI.DpiScale___Wayland.sdf
/GLES3.UI.DpiScale___Wayland.sln
/GLES3.UI.DpiScale___Wayland.v12.sdf
/GLES3.UI.DpiScale___Wayland.v12.suo
/GLES3.UI.DpiScale___Wayland.vcxproj
/GLES3.UI.DpiScale___Wayland.vcxproj.filters
/GLES3.UI.DpiScale___Wayland.vcxproj.user
/GLES3.UI.DpiScale___Wayland_XDG.VC.VC.opendb
/GLES3.UI.DpiScale___Wayland_XDG.VC.db
/GLES3.UI.DpiScale___Wayland_XDG.aps
/GLES3.UI.DpiScale___Wayland_XDG.manifest
/GLES3.UI.DpiScale___Wayland_XDG.opensdf
/GLES3.UI.DpiScale___Wayland_XDG.rc
/GLES3.UI.DpiScale___Wayland_XDG.sdf
/GLES3.UI.DpiScale___Wayland_XDG.sln
/GLES3.UI.DpiScale___Wayland_XDG.v12.sdf
/GLES3.UI.DpiScale___Wayland_XDG.v12.suo
/GLES3.UI.DpiScale___Wayland_XDG.vcxproj
/GLES3.UI.DpiScale___Wayland_XDG.vcxproj.filters
/GLES3.UI.DpiScale___Wayland_XDG.vcxproj.user
/GLES3.UI.DpiScale___X11.VC.VC.opendb
/GLES3.UI.DpiScale___X11.VC.db
/GLES3.UI.DpiScale___X11.aps
/GLES3.UI.DpiScale___X11.manifest
/GLES3.UI.DpiScale___X11.opensdf
/GLES3.UI.DpiScale___X11.rc
/GLES3.UI.DpiScale___X11.sdf
/GLES3.UI.DpiScale___X11.sln
/GLES3.UI.DpiScale___X11.v12.sdf
/GLES3.UI.DpiScale___X11.v12.suo
/GLES3.UI.DpiScale___X11.vcxproj
/GLES3.UI.DpiScale___X11.vcxproj.filters
/GLES3.UI.DpiScale___X11.vcxproj.user
/build/
/resource.h
