/.OCL_GaussianFilter.cpp.kate-swp
/.OCL_GaussianFilter.cpp.swp
/.StartProject.bat
/.vs/
/Android.mk
/Android/
/CMakeLists.txt
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GLES3.OpenCLGaussianFilter
/GLES3.OpenCLGaussianFilter.VC.VC.opendb
/GLES3.OpenCLGaussianFilter.VC.db
/GLES3.OpenCLGaussianFilter.aps
/GLES3.OpenCLGaussianFilter.manifest
/GLES3.OpenCLGaussianFilter.opensdf
/GLES3.OpenCLGaussianFilter.rc
/GLES3.OpenCLGaussianFilter.sdf
/GLES3.OpenCLGaussianFilter.sln
/GLES3.OpenCLGaussianFilter.v12.sdf
/GLES3.OpenCLGaussianFilter.v12.suo
/GLES3.OpenCLGaussianFilter.vcxproj
/GLES3.OpenCLGaussianFilter.vcxproj.filters
/GLES3.OpenCLGaussianFilter.vcxproj.user
/GLES3.OpenCLGaussianFilter_FB
/GLES3.OpenCLGaussianFilter_Wayland
/GLES3.OpenCLGaussianFilter_X11
/GNUmakefile
/GNUmakefile_Yocto
/OpenCLGaussianFilter
/OpenCLGaussianFilter_FB
/OpenCLGaussianFilter_FB_d
/OpenCLGaussianFilter_Wayland
/OpenCLGaussianFilter_Wayland_IVI
/OpenCLGaussianFilter_Wayland_IVI_d
/OpenCLGaussianFilter_Wayland_d
/OpenCLGaussianFilter_X11
/OpenCLGaussianFilter_X11_d
/OpenCLGaussianFilter_c
/OpenCLGaussianFilter_d
/Test_gauss.bmp
/Test_gray.bmp
/build/
/resource.h
/~
