/.OCL_GaussianFilter.cpp.kate-swp
/.OCL_GaussianFilter.cpp.swp
/.StartProject.bat
/.vs/
/Android.mk
/Android/
/CMakeLists.txt
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GLES3.OpenCLGaussianFilter
/GLES3.OpenCLGaussianFilter.VC.VC.opendb
/GLES3.OpenCLGaussianFilter.VC.db
/GLES3.OpenCLGaussianFilter.aps
/GLES3.OpenCLGaussianFilter.manifest
/GLES3.OpenCLGaussianFilter.opensdf
/GLES3.OpenCLGaussianFilter.rc
/GLES3.OpenCLGaussianFilter.sdf
/GLES3.OpenCLGaussianFilter.sln
/GLES3.OpenCLGaussianFilter.v12.sdf
/GLES3.OpenCLGaussianFilter.v12.suo
/GLES3.OpenCLGaussianFilter.vcxproj
/GLES3.OpenCLGaussianFilter.vcxproj.filters
/GLES3.OpenCLGaussianFilter.vcxproj.user
/GLES3.OpenCLGaussianFilter_FB
/GLES3.OpenCLGaussianFilter_Wayland
/GLES3.OpenCLGaussianFilter_X11
/GLES3.OpenCLGaussianFilter___FB.VC.VC.opendb
/GLES3.OpenCLGaussianFilter___FB.VC.db
/GLES3.OpenCLGaussianFilter___FB.aps
/GLES3.OpenCLGaussianFilter___FB.manifest
/GLES3.OpenCLGaussianFilter___FB.opensdf
/GLES3.OpenCLGaussianFilter___FB.rc
/GLES3.OpenCLGaussianFilter___FB.sdf
/GLES3.OpenCLGaussianFilter___FB.sln
/GLES3.OpenCLGaussianFilter___FB.v12.sdf
/GLES3.OpenCLGaussianFilter___FB.v12.suo
/GLES3.OpenCLGaussianFilter___FB.vcxproj
/GLES3.OpenCLGaussianFilter___FB.vcxproj.filters
/GLES3.OpenCLGaussianFilter___FB.vcxproj.user
/GLES3.OpenCLGaussianFilter___Wayland.VC.VC.opendb
/GLES3.OpenCLGaussianFilter___Wayland.VC.db
/GLES3.OpenCLGaussianFilter___Wayland.aps
/GLES3.OpenCLGaussianFilter___Wayland.manifest
/GLES3.OpenCLGaussianFilter___Wayland.opensdf
/GLES3.OpenCLGaussianFilter___Wayland.rc
/GLES3.OpenCLGaussianFilter___Wayland.sdf
/GLES3.OpenCLGaussianFilter___Wayland.sln
/GLES3.OpenCLGaussianFilter___Wayland.v12.sdf
/GLES3.OpenCLGaussianFilter___Wayland.v12.suo
/GLES3.OpenCLGaussianFilter___Wayland.vcxproj
/GLES3.OpenCLGaussianFilter___Wayland.vcxproj.filters
/GLES3.OpenCLGaussianFilter___Wayland.vcxproj.user
/GLES3.OpenCLGaussianFilter___Wayland_XDG.VC.VC.opendb
/GLES3.OpenCLGaussianFilter___Wayland_XDG.VC.db
/GLES3.OpenCLGaussianFilter___Wayland_XDG.aps
/GLES3.OpenCLGaussianFilter___Wayland_XDG.manifest
/GLES3.OpenCLGaussianFilter___Wayland_XDG.opensdf
/GLES3.OpenCLGaussianFilter___Wayland_XDG.rc
/GLES3.OpenCLGaussianFilter___Wayland_XDG.sdf
/GLES3.OpenCLGaussianFilter___Wayland_XDG.sln
/GLES3.OpenCLGaussianFilter___Wayland_XDG.v12.sdf
/GLES3.OpenCLGaussianFilter___Wayland_XDG.v12.suo
/GLES3.OpenCLGaussianFilter___Wayland_XDG.vcxproj
/GLES3.OpenCLGaussianFilter___Wayland_XDG.vcxproj.filters
/GLES3.OpenCLGaussianFilter___Wayland_XDG.vcxproj.user
/GLES3.OpenCLGaussianFilter___X11.VC.VC.opendb
/GLES3.OpenCLGaussianFilter___X11.VC.db
/GLES3.OpenCLGaussianFilter___X11.aps
/GLES3.OpenCLGaussianFilter___X11.manifest
/GLES3.OpenCLGaussianFilter___X11.opensdf
/GLES3.OpenCLGaussianFilter___X11.rc
/GLES3.OpenCLGaussianFilter___X11.sdf
/GLES3.OpenCLGaussianFilter___X11.sln
/GLES3.OpenCLGaussianFilter___X11.v12.sdf
/GLES3.OpenCLGaussianFilter___X11.v12.suo
/GLES3.OpenCLGaussianFilter___X11.vcxproj
/GLES3.OpenCLGaussianFilter___X11.vcxproj.filters
/GLES3.OpenCLGaussianFilter___X11.vcxproj.user
/GNUmakefile
/GNUmakefile_Yocto
/OpenCLGaussianFilter
/OpenCLGaussianFilter_FB
/OpenCLGaussianFilter_FB_d
/OpenCLGaussianFilter_Wayland
/OpenCLGaussianFilter_Wayland_IVI
/OpenCLGaussianFilter_Wayland_IVI_d
/OpenCLGaussianFilter_Wayland_d
/OpenCLGaussianFilter_X11
/OpenCLGaussianFilter_X11_d
/OpenCLGaussianFilter_c
/OpenCLGaussianFilter_d
/Test_gauss.bmp
/Test_gray.bmp
/build/
/resource.h
/~
