.StartProject.bat
.vs
Android.mk
CMakeLists.txt
GNUmakefile
GNUmakefile_Yocto
OpenCVExperimental.VC.VC.opendb
OpenCVExperimental.VC.db
OpenCVExperimental.manifest
OpenCVExperimental.opensdf
OpenCVExperimental.sdf
OpenCVExperimental.sln
OpenCVExperimental.v12.sdf
OpenCVExperimental.v12.suo
OpenCVExperimental.vcxproj
OpenCVExperimental.vcxproj.filters
OpenCVExperimental.vcxproj.user
Shared.OpenCVExperimental.VC.VC.opendb
Shared.OpenCVExperimental.VC.db
Shared.OpenCVExperimental.manifest
Shared.OpenCVExperimental.opensdf
Shared.OpenCVExperimental.sdf
Shared.OpenCVExperimental.sln
Shared.OpenCVExperimental.v12.sdf
Shared.OpenCVExperimental.v12.suo
Shared.OpenCVExperimental.vcxproj
Shared.OpenCVExperimental.vcxproj.filters
Shared.OpenCVExperimental.vcxproj.user
build/
