/.vs/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/OpenCL.SobelVFilter.VC.VC.opendb
/OpenCL.SobelVFilter.VC.db
/OpenCL.SobelVFilter.aps
/OpenCL.SobelVFilter.manifest
/OpenCL.SobelVFilter.opensdf
/OpenCL.SobelVFilter.rc
/OpenCL.SobelVFilter.sdf
/OpenCL.SobelVFilter.sln
/OpenCL.SobelVFilter.v12.sdf
/OpenCL.SobelVFilter.v12.suo
/OpenCL.SobelVFilter.vcxproj
/OpenCL.SobelVFilter.vcxproj.filters
/OpenCL.SobelVFilter.vcxproj.user
/build/
/resource.h
