.StartProject.bat
.vs
Android.mk
CMakeLists.txt
FslNativeWindowPlatform.VC.VC.opendb
FslNativeWindowPlatform.VC.db
FslNativeWindowPlatform.manifest
FslNativeWindowPlatform.opensdf
FslNativeWindowPlatform.sdf
FslNativeWindowPlatform.sln
FslNativeWindowPlatform.v12.sdf
FslNativeWindowPlatform.v12.suo
FslNativeWindowPlatform.vcxproj
FslNativeWindowPlatform.vcxproj.filters
FslNativeWindowPlatform.vcxproj.user
GNUmakefile
GNUmakefile_Yocto
build/
