/.vs/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.System.CustomAppServices.VC.VC.opendb
/Vulkan.System.CustomAppServices.VC.db
/Vulkan.System.CustomAppServices.aps
/Vulkan.System.CustomAppServices.manifest
/Vulkan.System.CustomAppServices.opensdf
/Vulkan.System.CustomAppServices.rc
/Vulkan.System.CustomAppServices.sdf
/Vulkan.System.CustomAppServices.sln
/Vulkan.System.CustomAppServices.v12.sdf
/Vulkan.System.CustomAppServices.v12.suo
/Vulkan.System.CustomAppServices.vcxproj
/Vulkan.System.CustomAppServices.vcxproj.filters
/Vulkan.System.CustomAppServices.vcxproj.user
/build/
/resource.h
