/.vs/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/OpenCL.MedianFilter.VC.VC.opendb
/OpenCL.MedianFilter.VC.db
/OpenCL.MedianFilter.aps
/OpenCL.MedianFilter.manifest
/OpenCL.MedianFilter.opensdf
/OpenCL.MedianFilter.rc
/OpenCL.MedianFilter.sdf
/OpenCL.MedianFilter.sln
/OpenCL.MedianFilter.v12.sdf
/OpenCL.MedianFilter.v12.suo
/OpenCL.MedianFilter.vcxproj
/OpenCL.MedianFilter.vcxproj.filters
/OpenCL.MedianFilter.vcxproj.user
/build/
/resource.h
