/.vs/
/Content/Textures/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.System.DevBasicRender.VC.VC.opendb
/Vulkan.System.DevBasicRender.VC.db
/Vulkan.System.DevBasicRender.aps
/Vulkan.System.DevBasicRender.manifest
/Vulkan.System.DevBasicRender.opensdf
/Vulkan.System.DevBasicRender.rc
/Vulkan.System.DevBasicRender.sdf
/Vulkan.System.DevBasicRender.sln
/Vulkan.System.DevBasicRender.v12.sdf
/Vulkan.System.DevBasicRender.v12.suo
/Vulkan.System.DevBasicRender.vcxproj
/Vulkan.System.DevBasicRender.vcxproj.filters
/Vulkan.System.DevBasicRender.vcxproj.user
/build/
/resource.h
