.StartProject.bat
.vs/
Android.mk
Android/
CMakeLists.txt
Content/_ContentSyncCache.fsl
FslSDKIcon.ico
G2D.EightLayers.VC.VC.opendb
G2D.EightLayers.VC.db
G2D.EightLayers.aps
G2D.EightLayers.manifest
G2D.EightLayers.opensdf
G2D.EightLayers.rc
G2D.EightLayers.sdf
G2D.EightLayers.sln
G2D.EightLayers.v12.sdf
G2D.EightLayers.v12.suo
G2D.EightLayers.vcxproj
G2D.EightLayers.vcxproj.filters
G2D.EightLayers.vcxproj.user
GNUmakefile
GNUmakefile_Yocto
build/
resource.h
