/.vs/
/FslSimpleUI.Theme.Base.VC.VC.opendb
/FslSimpleUI.Theme.Base.VC.db
/FslSimpleUI.Theme.Base.manifest
/FslSimpleUI.Theme.Base.opensdf
/FslSimpleUI.Theme.Base.sdf
/FslSimpleUI.Theme.Base.sln
/FslSimpleUI.Theme.Base.v12.sdf
/FslSimpleUI.Theme.Base.v12.suo
/FslSimpleUI.Theme.Base.vcxproj
/FslSimpleUI.Theme.Base.vcxproj.filters
/FslSimpleUI.Theme.Base.vcxproj.user
/build/
