/.vs/
/FslDemoService.ImageConverter.VC.VC.opendb
/FslDemoService.ImageConverter.VC.db
/FslDemoService.ImageConverter.manifest
/FslDemoService.ImageConverter.opensdf
/FslDemoService.ImageConverter.sdf
/FslDemoService.ImageConverter.sln
/FslDemoService.ImageConverter.v12.sdf
/FslDemoService.ImageConverter.v12.suo
/FslDemoService.ImageConverter.vcxproj
/FslDemoService.ImageConverter.vcxproj.filters
/FslDemoService.ImageConverter.vcxproj.user
/FslDemoService.ImageConverterLibrary.VC.VC.opendb
/FslDemoService.ImageConverterLibrary.VC.db
/FslDemoService.ImageConverterLibrary.manifest
/FslDemoService.ImageConverterLibrary.opensdf
/FslDemoService.ImageConverterLibrary.sdf
/FslDemoService.ImageConverterLibrary.sln
/FslDemoService.ImageConverterLibrary.v12.sdf
/FslDemoService.ImageConverterLibrary.v12.suo
/FslDemoService.ImageConverterLibrary.vcxproj
/FslDemoService.ImageConverterLibrary.vcxproj.filters
/FslDemoService.ImageConverterLibrary.vcxproj.user
/build/
