/.StartProject.bat
/.vs/
/Android.mk
/Android/
/CMakeLists.txt
/Content/_ContentSyncCache.fsl
/DFGraphicsBasic2D
/DFGraphicsBasic2D_d
/FslSDKIcon.ico
/G2D.DFGraphicsBasic2D
/G2D.DFGraphicsBasic2D.VC.VC.opendb
/G2D.DFGraphicsBasic2D.VC.db
/G2D.DFGraphicsBasic2D.aps
/G2D.DFGraphicsBasic2D.manifest
/G2D.DFGraphicsBasic2D.opensdf
/G2D.DFGraphicsBasic2D.rc
/G2D.DFGraphicsBasic2D.sdf
/G2D.DFGraphicsBasic2D.sln
/G2D.DFGraphicsBasic2D.v12.sdf
/G2D.DFGraphicsBasic2D.v12.suo
/G2D.DFGraphicsBasic2D.vcxproj
/G2D.DFGraphicsBasic2D.vcxproj.filters
/G2D.DFGraphicsBasic2D.vcxproj.user
/GNUmakefile
/GNUmakefile_Yocto
/build/
/resource.h
