/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/UIAtlas/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GLES2.Stats.VC.VC.opendb
/GLES2.Stats.VC.db
/GLES2.Stats.aps
/GLES2.Stats.manifest
/GLES2.Stats.opensdf
/GLES2.Stats.rc
/GLES2.Stats.sdf
/GLES2.Stats.sln
/GLES2.Stats.v12.sdf
/GLES2.Stats.v12.suo
/GLES2.Stats.vcxproj
/GLES2.Stats.vcxproj.filters
/GLES2.Stats.vcxproj.user
/GLES2.Stats___FB.VC.VC.opendb
/GLES2.Stats___FB.VC.db
/GLES2.Stats___FB.aps
/GLES2.Stats___FB.manifest
/GLES2.Stats___FB.opensdf
/GLES2.Stats___FB.rc
/GLES2.Stats___FB.sdf
/GLES2.Stats___FB.sln
/GLES2.Stats___FB.v12.sdf
/GLES2.Stats___FB.v12.suo
/GLES2.Stats___FB.vcxproj
/GLES2.Stats___FB.vcxproj.filters
/GLES2.Stats___FB.vcxproj.user
/GLES2.Stats___Wayland.VC.VC.opendb
/GLES2.Stats___Wayland.VC.db
/GLES2.Stats___Wayland.aps
/GLES2.Stats___Wayland.manifest
/GLES2.Stats___Wayland.opensdf
/GLES2.Stats___Wayland.rc
/GLES2.Stats___Wayland.sdf
/GLES2.Stats___Wayland.sln
/GLES2.Stats___Wayland.v12.sdf
/GLES2.Stats___Wayland.v12.suo
/GLES2.Stats___Wayland.vcxproj
/GLES2.Stats___Wayland.vcxproj.filters
/GLES2.Stats___Wayland.vcxproj.user
/GLES2.Stats___Wayland_XDG.VC.VC.opendb
/GLES2.Stats___Wayland_XDG.VC.db
/GLES2.Stats___Wayland_XDG.aps
/GLES2.Stats___Wayland_XDG.manifest
/GLES2.Stats___Wayland_XDG.opensdf
/GLES2.Stats___Wayland_XDG.rc
/GLES2.Stats___Wayland_XDG.sdf
/GLES2.Stats___Wayland_XDG.sln
/GLES2.Stats___Wayland_XDG.v12.sdf
/GLES2.Stats___Wayland_XDG.v12.suo
/GLES2.Stats___Wayland_XDG.vcxproj
/GLES2.Stats___Wayland_XDG.vcxproj.filters
/GLES2.Stats___Wayland_XDG.vcxproj.user
/GLES2.Stats___X11.VC.VC.opendb
/GLES2.Stats___X11.VC.db
/GLES2.Stats___X11.aps
/GLES2.Stats___X11.manifest
/GLES2.Stats___X11.opensdf
/GLES2.Stats___X11.rc
/GLES2.Stats___X11.sdf
/GLES2.Stats___X11.sln
/GLES2.Stats___X11.v12.sdf
/GLES2.Stats___X11.v12.suo
/GLES2.Stats___X11.vcxproj
/GLES2.Stats___X11.vcxproj.filters
/GLES2.Stats___X11.vcxproj.user
/GNUmakefile_Yocto
/Stats_FB
/Stats_FB_d
/Stats_Wayland
/Stats_Wayland_IVI
/Stats_Wayland_IVI_d
/Stats_Wayland_d
/Stats_X11
/Stats_X11_d
/build/
/resource.h
