/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/TextureAtlas/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.FractalShader.VC.VC.opendb
/Vulkan.FractalShader.VC.db
/Vulkan.FractalShader.aps
/Vulkan.FractalShader.manifest
/Vulkan.FractalShader.opensdf
/Vulkan.FractalShader.rc
/Vulkan.FractalShader.sdf
/Vulkan.FractalShader.sln
/Vulkan.FractalShader.v12.sdf
/Vulkan.FractalShader.v12.suo
/Vulkan.FractalShader.vcxproj
/Vulkan.FractalShader.vcxproj.filters
/Vulkan.FractalShader.vcxproj.user
/build/
/resource.h
