.StartProject.bat
.vs
Android.mk
CMakeLists.txt
GNUmakefile
GNUmakefile_Yocto
Shared.EnvironmentMapping.VC.VC.opendb
Shared.EnvironmentMapping.VC.db
Shared.EnvironmentMapping.manifest
Shared.EnvironmentMapping.opensdf
Shared.EnvironmentMapping.sdf
Shared.EnvironmentMapping.sln
Shared.EnvironmentMapping.v12.sdf
Shared.EnvironmentMapping.v12.suo
Shared.EnvironmentMapping.vcxproj
Shared.EnvironmentMapping.vcxproj.filters
Shared.EnvironmentMapping.vcxproj.user
build/
