/.vs/
/Content/_ContentSyncCache.fsl
/FslResearch.SpatialGrid2D.VC.VC.opendb
/FslResearch.SpatialGrid2D.VC.db
/FslResearch.SpatialGrid2D.aps
/FslResearch.SpatialGrid2D.manifest
/FslResearch.SpatialGrid2D.opensdf
/FslResearch.SpatialGrid2D.rc
/FslResearch.SpatialGrid2D.sdf
/FslResearch.SpatialGrid2D.sln
/FslResearch.SpatialGrid2D.v12.sdf
/FslResearch.SpatialGrid2D.v12.suo
/FslResearch.SpatialGrid2D.vcxproj
/FslResearch.SpatialGrid2D.vcxproj.filters
/FslResearch.SpatialGrid2D.vcxproj.user
/FslSDKIcon.ico
/build/
/resource.h
