/.StartProject.bat
/.vs/
/Android.mk
/Android/
/CMakeLists.txt
/Content/BasicUI/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GNUmakefile
/GNUmakefile_Yocto
/Vulkan.UI.DevBatch.VC.VC.opendb
/Vulkan.UI.DevBatch.VC.db
/Vulkan.UI.DevBatch.aps
/Vulkan.UI.DevBatch.manifest
/Vulkan.UI.DevBatch.opensdf
/Vulkan.UI.DevBatch.rc
/Vulkan.UI.DevBatch.sdf
/Vulkan.UI.DevBatch.sln
/Vulkan.UI.DevBatch.v12.sdf
/Vulkan.UI.DevBatch.v12.suo
/Vulkan.UI.DevBatch.vcxproj
/Vulkan.UI.DevBatch.vcxproj.filters
/Vulkan.UI.DevBatch.vcxproj.user
/build/
/resource.h
