/.vs/
/FslDemoService.NativeGraphics.No3D.VC.VC.opendb
/FslDemoService.NativeGraphics.No3D.VC.db
/FslDemoService.NativeGraphics.No3D.manifest
/FslDemoService.NativeGraphics.No3D.opensdf
/FslDemoService.NativeGraphics.No3D.sdf
/FslDemoService.NativeGraphics.No3D.sln
/FslDemoService.NativeGraphics.No3D.v12.sdf
/FslDemoService.NativeGraphics.No3D.v12.suo
/FslDemoService.NativeGraphics.No3D.vcxproj
/FslDemoService.NativeGraphics.No3D.vcxproj.filters
/FslDemoService.NativeGraphics.No3D.vcxproj.user
/build/
