/.vs/
/Shared.ModelInstancing.VC.VC.opendb
/Shared.ModelInstancing.VC.db
/Shared.ModelInstancing.manifest
/Shared.ModelInstancing.opensdf
/Shared.ModelInstancing.sdf
/Shared.ModelInstancing.sln
/Shared.ModelInstancing.v12.sdf
/Shared.ModelInstancing.v12.suo
/Shared.ModelInstancing.vcxproj
/Shared.ModelInstancing.vcxproj.filters
/Shared.ModelInstancing.vcxproj.user
/build/
