/.StartProject.bat
/.vs/
/Android.mk
/CMakeLists.txt
/FslUnitTest.TestPackages.StaticVariants.VC.VC.opendb
/FslUnitTest.TestPackages.StaticVariants.VC.db
/FslUnitTest.TestPackages.StaticVariants.manifest
/FslUnitTest.TestPackages.StaticVariants.opensdf
/FslUnitTest.TestPackages.StaticVariants.sdf
/FslUnitTest.TestPackages.StaticVariants.sln
/FslUnitTest.TestPackages.StaticVariants.v12.sdf
/FslUnitTest.TestPackages.StaticVariants.v12.suo
/FslUnitTest.TestPackages.StaticVariants.vcxproj
/FslUnitTest.TestPackages.StaticVariants.vcxproj.filters
/FslUnitTest.TestPackages.StaticVariants.vcxproj.user
/GNUmakefile
/GNUmakefile_Yocto
/build/
