/.StartProject.bat
/.vs/
/Android.mk
/CMakeLists.txt
/FslNativeWindow.Base.VC.VC.opendb
/FslNativeWindow.Base.VC.db
/FslNativeWindow.Base.manifest
/FslNativeWindow.Base.opensdf
/FslNativeWindow.Base.sdf
/FslNativeWindow.Base.sln
/FslNativeWindow.Base.v12.sdf
/FslNativeWindow.Base.v12.suo
/FslNativeWindow.Base.vcxproj
/FslNativeWindow.Base.vcxproj.filters
/FslNativeWindow.Base.vcxproj.user
/GNUmakefile
/GNUmakefile_Yocto
/build/
