/.vs/
/FslGraphics2D.PixelFormatConverter.VC.VC.opendb
/FslGraphics2D.PixelFormatConverter.VC.db
/FslGraphics2D.PixelFormatConverter.manifest
/FslGraphics2D.PixelFormatConverter.opensdf
/FslGraphics2D.PixelFormatConverter.sdf
/FslGraphics2D.PixelFormatConverter.sln
/FslGraphics2D.PixelFormatConverter.v12.sdf
/FslGraphics2D.PixelFormatConverter.v12.suo
/FslGraphics2D.PixelFormatConverter.vcxproj
/FslGraphics2D.PixelFormatConverter.vcxproj.filters
/FslGraphics2D.PixelFormatConverter.vcxproj.user
/build/
