/.StartProject.bat
/.vs/
/Android.mk
/Android/
/CMakeLists.txt
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GNUmakefile
/GNUmakefile_Yocto
/Window.Window101
/Window.Window101.VC.VC.opendb
/Window.Window101.VC.db
/Window.Window101.aps
/Window.Window101.manifest
/Window.Window101.opensdf
/Window.Window101.rc
/Window.Window101.sdf
/Window.Window101.sln
/Window.Window101.v12.sdf
/Window.Window101.v12.suo
/Window.Window101.vcxproj
/Window.Window101.vcxproj.filters
/Window.Window101.vcxproj.user
/Window.Window101_FB
/Window.Window101_Wayland
/Window.Window101_X11
/Window101
/Window101_FB
/Window101_FB_d
/Window101_Wayland
/Window101_Wayland_d
/Window101_X11
/Window101_X11_d
/Window101_c
/Window101_d
/build/
/resource.h
