/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/Textures/WoodFloor/
/Content/UIAtlas/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GNUmakefile
/GNUmakefile_Yocto
/GammaCorrection
/GammaCorrection_FB
/GammaCorrection_FB_d
/GammaCorrection_Wayland
/GammaCorrection_Wayland_IVI
/GammaCorrection_Wayland_IVI_d
/GammaCorrection_Wayland_d
/GammaCorrection_X11
/GammaCorrection_X11_d
/GammaCorrection_c
/GammaCorrection_d
/Vulkan.GammaCorrection.VC.VC.opendb
/Vulkan.GammaCorrection.VC.db
/Vulkan.GammaCorrection.aps
/Vulkan.GammaCorrection.manifest
/Vulkan.GammaCorrection.opensdf
/Vulkan.GammaCorrection.rc
/Vulkan.GammaCorrection.sdf
/Vulkan.GammaCorrection.sln
/Vulkan.GammaCorrection.v12.sdf
/Vulkan.GammaCorrection.v12.suo
/Vulkan.GammaCorrection.vcxproj
/Vulkan.GammaCorrection.vcxproj.filters
/Vulkan.GammaCorrection.vcxproj.user
/build/
/resource.h
