/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/Textures/WoodFloor/
/Content/UIAtlas/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GNUmakefile
/GNUmakefile_Yocto
/GammaCorrection
/GammaCorrection_FB
/GammaCorrection_FB_d
/GammaCorrection_Wayland
/GammaCorrection_Wayland_IVI
/GammaCorrection_Wayland_IVI_d
/GammaCorrection_Wayland_d
/GammaCorrection_X11
/GammaCorrection_X11_d
/GammaCorrection_c
/GammaCorrection_d
/Vulkan.GammaCorrection.VC.VC.opendb
/Vulkan.GammaCorrection.VC.db
/Vulkan.GammaCorrection.aps
/Vulkan.GammaCorrection.manifest
/Vulkan.GammaCorrection.opensdf
/Vulkan.GammaCorrection.rc
/Vulkan.GammaCorrection.sdf
/Vulkan.GammaCorrection.sln
/Vulkan.GammaCorrection.v12.sdf
/Vulkan.GammaCorrection.v12.suo
/Vulkan.GammaCorrection.vcxproj
/Vulkan.GammaCorrection.vcxproj.filters
/Vulkan.GammaCorrection.vcxproj.user
/Vulkan.GammaCorrection___FB.VC.VC.opendb
/Vulkan.GammaCorrection___FB.VC.db
/Vulkan.GammaCorrection___FB.aps
/Vulkan.GammaCorrection___FB.manifest
/Vulkan.GammaCorrection___FB.opensdf
/Vulkan.GammaCorrection___FB.rc
/Vulkan.GammaCorrection___FB.sdf
/Vulkan.GammaCorrection___FB.sln
/Vulkan.GammaCorrection___FB.v12.sdf
/Vulkan.GammaCorrection___FB.v12.suo
/Vulkan.GammaCorrection___FB.vcxproj
/Vulkan.GammaCorrection___FB.vcxproj.filters
/Vulkan.GammaCorrection___FB.vcxproj.user
/Vulkan.GammaCorrection___Wayland.VC.VC.opendb
/Vulkan.GammaCorrection___Wayland.VC.db
/Vulkan.GammaCorrection___Wayland.aps
/Vulkan.GammaCorrection___Wayland.manifest
/Vulkan.GammaCorrection___Wayland.opensdf
/Vulkan.GammaCorrection___Wayland.rc
/Vulkan.GammaCorrection___Wayland.sdf
/Vulkan.GammaCorrection___Wayland.sln
/Vulkan.GammaCorrection___Wayland.v12.sdf
/Vulkan.GammaCorrection___Wayland.v12.suo
/Vulkan.GammaCorrection___Wayland.vcxproj
/Vulkan.GammaCorrection___Wayland.vcxproj.filters
/Vulkan.GammaCorrection___Wayland.vcxproj.user
/Vulkan.GammaCorrection___Wayland_XDG.VC.VC.opendb
/Vulkan.GammaCorrection___Wayland_XDG.VC.db
/Vulkan.GammaCorrection___Wayland_XDG.aps
/Vulkan.GammaCorrection___Wayland_XDG.manifest
/Vulkan.GammaCorrection___Wayland_XDG.opensdf
/Vulkan.GammaCorrection___Wayland_XDG.rc
/Vulkan.GammaCorrection___Wayland_XDG.sdf
/Vulkan.GammaCorrection___Wayland_XDG.sln
/Vulkan.GammaCorrection___Wayland_XDG.v12.sdf
/Vulkan.GammaCorrection___Wayland_XDG.v12.suo
/Vulkan.GammaCorrection___Wayland_XDG.vcxproj
/Vulkan.GammaCorrection___Wayland_XDG.vcxproj.filters
/Vulkan.GammaCorrection___Wayland_XDG.vcxproj.user
/build/
/resource.h
