.StartProject.bat
.vs
Android.mk
CMakeLists.txt
GNUmakefile
GNUmakefile_Yocto
Shared.FractalShader.VC.VC.opendb
Shared.FractalShader.VC.db
Shared.FractalShader.manifest
Shared.FractalShader.opensdf
Shared.FractalShader.sdf
Shared.FractalShader.sln
Shared.FractalShader.v12.sdf
Shared.FractalShader.v12.suo
Shared.FractalShader.vcxproj
Shared.FractalShader.vcxproj.filters
Shared.FractalShader.vcxproj.user
build/
