/.vs/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.ShaderClock.VC.VC.opendb
/Vulkan.ShaderClock.VC.db
/Vulkan.ShaderClock.aps
/Vulkan.ShaderClock.manifest
/Vulkan.ShaderClock.opensdf
/Vulkan.ShaderClock.rc
/Vulkan.ShaderClock.sdf
/Vulkan.ShaderClock.sln
/Vulkan.ShaderClock.v12.sdf
/Vulkan.ShaderClock.v12.suo
/Vulkan.ShaderClock.vcxproj
/Vulkan.ShaderClock.vcxproj.filters
/Vulkan.ShaderClock.vcxproj.user
/Vulkan.ShaderClock___FB.VC.VC.opendb
/Vulkan.ShaderClock___FB.VC.db
/Vulkan.ShaderClock___FB.aps
/Vulkan.ShaderClock___FB.manifest
/Vulkan.ShaderClock___FB.opensdf
/Vulkan.ShaderClock___FB.rc
/Vulkan.ShaderClock___FB.sdf
/Vulkan.ShaderClock___FB.sln
/Vulkan.ShaderClock___FB.v12.sdf
/Vulkan.ShaderClock___FB.v12.suo
/Vulkan.ShaderClock___FB.vcxproj
/Vulkan.ShaderClock___FB.vcxproj.filters
/Vulkan.ShaderClock___FB.vcxproj.user
/Vulkan.ShaderClock___Wayland.VC.VC.opendb
/Vulkan.ShaderClock___Wayland.VC.db
/Vulkan.ShaderClock___Wayland.aps
/Vulkan.ShaderClock___Wayland.manifest
/Vulkan.ShaderClock___Wayland.opensdf
/Vulkan.ShaderClock___Wayland.rc
/Vulkan.ShaderClock___Wayland.sdf
/Vulkan.ShaderClock___Wayland.sln
/Vulkan.ShaderClock___Wayland.v12.sdf
/Vulkan.ShaderClock___Wayland.v12.suo
/Vulkan.ShaderClock___Wayland.vcxproj
/Vulkan.ShaderClock___Wayland.vcxproj.filters
/Vulkan.ShaderClock___Wayland.vcxproj.user
/Vulkan.ShaderClock___Wayland_XDG.VC.VC.opendb
/Vulkan.ShaderClock___Wayland_XDG.VC.db
/Vulkan.ShaderClock___Wayland_XDG.aps
/Vulkan.ShaderClock___Wayland_XDG.manifest
/Vulkan.ShaderClock___Wayland_XDG.opensdf
/Vulkan.ShaderClock___Wayland_XDG.rc
/Vulkan.ShaderClock___Wayland_XDG.sdf
/Vulkan.ShaderClock___Wayland_XDG.sln
/Vulkan.ShaderClock___Wayland_XDG.v12.sdf
/Vulkan.ShaderClock___Wayland_XDG.v12.suo
/Vulkan.ShaderClock___Wayland_XDG.vcxproj
/Vulkan.ShaderClock___Wayland_XDG.vcxproj.filters
/Vulkan.ShaderClock___Wayland_XDG.vcxproj.user
/build/
/resource.h
