/.vs/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.ShaderClock.VC.VC.opendb
/Vulkan.ShaderClock.VC.db
/Vulkan.ShaderClock.aps
/Vulkan.ShaderClock.manifest
/Vulkan.ShaderClock.opensdf
/Vulkan.ShaderClock.rc
/Vulkan.ShaderClock.sdf
/Vulkan.ShaderClock.sln
/Vulkan.ShaderClock.v12.sdf
/Vulkan.ShaderClock.v12.suo
/Vulkan.ShaderClock.vcxproj
/Vulkan.ShaderClock.vcxproj.filters
/Vulkan.ShaderClock.vcxproj.user
/build/
/resource.h
