/.StartProject.bat
/.vs/
/CMakeLists.txt
/FslUnitTest.TestPackages.Access.P1.VC.VC.opendb
/FslUnitTest.TestPackages.Access.P1.VC.db
/FslUnitTest.TestPackages.Access.P1.manifest
/FslUnitTest.TestPackages.Access.P1.opensdf
/FslUnitTest.TestPackages.Access.P1.sdf
/FslUnitTest.TestPackages.Access.P1.sln
/FslUnitTest.TestPackages.Access.P1.v12.sdf
/FslUnitTest.TestPackages.Access.P1.v12.suo
/FslUnitTest.TestPackages.Access.P1.vcxproj
/FslUnitTest.TestPackages.Access.P1.vcxproj.filters
/FslUnitTest.TestPackages.Access.P1.vcxproj.user
/GNUmakefile
/GNUmakefile_Yocto
/build/
