/.vs/
/Console.FlavorTest.VC.VC.opendb
/Console.FlavorTest.VC.db
/Console.FlavorTest.aps
/Console.FlavorTest.manifest
/Console.FlavorTest.opensdf
/Console.FlavorTest.rc
/Console.FlavorTest.sdf
/Console.FlavorTest.sln
/Console.FlavorTest.v12.sdf
/Console.FlavorTest.v12.suo
/Console.FlavorTest.vcxproj
/Console.FlavorTest.vcxproj.filters
/Console.FlavorTest.vcxproj.user
/Console.FlavorTest___Option1.VC.VC.opendb
/Console.FlavorTest___Option1.VC.db
/Console.FlavorTest___Option1.aps
/Console.FlavorTest___Option1.manifest
/Console.FlavorTest___Option1.opensdf
/Console.FlavorTest___Option1.rc
/Console.FlavorTest___Option1.sdf
/Console.FlavorTest___Option1.sln
/Console.FlavorTest___Option1.v12.sdf
/Console.FlavorTest___Option1.v12.suo
/Console.FlavorTest___Option1.vcxproj
/Console.FlavorTest___Option1.vcxproj.filters
/Console.FlavorTest___Option1.vcxproj.user
/Console.FlavorTest___Option2.VC.VC.opendb
/Console.FlavorTest___Option2.VC.db
/Console.FlavorTest___Option2.aps
/Console.FlavorTest___Option2.manifest
/Console.FlavorTest___Option2.opensdf
/Console.FlavorTest___Option2.rc
/Console.FlavorTest___Option2.sdf
/Console.FlavorTest___Option2.sln
/Console.FlavorTest___Option2.v12.sdf
/Console.FlavorTest___Option2.v12.suo
/Console.FlavorTest___Option2.vcxproj
/Console.FlavorTest___Option2.vcxproj.filters
/Console.FlavorTest___Option2.vcxproj.user
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/build/
/resource.h
