/.StartProject.bat
/.vs/
/Android.mk
/Android/
/CMakeLists.txt
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GNUmakefile
/GNUmakefile_Yocto
/GNUmakefile_yocto
/Vulkan.VulkanComputeMandelbrot
/Vulkan.VulkanComputeMandelbrot.VC.VC.opendb
/Vulkan.VulkanComputeMandelbrot.VC.db
/Vulkan.VulkanComputeMandelbrot.aps
/Vulkan.VulkanComputeMandelbrot.manifest
/Vulkan.VulkanComputeMandelbrot.opensdf
/Vulkan.VulkanComputeMandelbrot.rc
/Vulkan.VulkanComputeMandelbrot.sdf
/Vulkan.VulkanComputeMandelbrot.sln
/Vulkan.VulkanComputeMandelbrot.v12.sdf
/Vulkan.VulkanComputeMandelbrot.v12.suo
/Vulkan.VulkanComputeMandelbrot.vcxproj
/Vulkan.VulkanComputeMandelbrot.vcxproj.filters
/Vulkan.VulkanComputeMandelbrot.vcxproj.user
/Vulkan.VulkanComputeMandelbrot_FB
/Vulkan.VulkanComputeMandelbrot_Wayland
/Vulkan.VulkanComputeMandelbrot_X11
/VulkanComputeMandelbrot
/VulkanComputeMandelbrot_FB
/VulkanComputeMandelbrot_FB_d
/VulkanComputeMandelbrot_Wayland
/VulkanComputeMandelbrot_Wayland_d
/VulkanComputeMandelbrot_X11
/VulkanComputeMandelbrot_X11_d
/VulkanComputeMandelbrot_c
/VulkanComputeMandelbrot_d
/build/
/mandelbrot.bmp
/resource.h
