/.StartProject.bat
/.vs/
/Android.mk
/Android/
/CMakeLists.txt
/Content/Textures/GPUSdkTest/
/Content/Textures/NotSupported/
/Content/UIAtlas/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GLES3.TextureCompression.VC.VC.opendb
/GLES3.TextureCompression.VC.db
/GLES3.TextureCompression.aps
/GLES3.TextureCompression.manifest
/GLES3.TextureCompression.opensdf
/GLES3.TextureCompression.rc
/GLES3.TextureCompression.sdf
/GLES3.TextureCompression.sln
/GLES3.TextureCompression.v12.sdf
/GLES3.TextureCompression.v12.suo
/GLES3.TextureCompression.vcxproj
/GLES3.TextureCompression.vcxproj.filters
/GLES3.TextureCompression.vcxproj.user
/GLES3.TextureCompression___FB.VC.VC.opendb
/GLES3.TextureCompression___FB.VC.db
/GLES3.TextureCompression___FB.aps
/GLES3.TextureCompression___FB.manifest
/GLES3.TextureCompression___FB.opensdf
/GLES3.TextureCompression___FB.rc
/GLES3.TextureCompression___FB.sdf
/GLES3.TextureCompression___FB.sln
/GLES3.TextureCompression___FB.v12.sdf
/GLES3.TextureCompression___FB.v12.suo
/GLES3.TextureCompression___FB.vcxproj
/GLES3.TextureCompression___FB.vcxproj.filters
/GLES3.TextureCompression___FB.vcxproj.user
/GLES3.TextureCompression___Wayland.VC.VC.opendb
/GLES3.TextureCompression___Wayland.VC.db
/GLES3.TextureCompression___Wayland.aps
/GLES3.TextureCompression___Wayland.manifest
/GLES3.TextureCompression___Wayland.opensdf
/GLES3.TextureCompression___Wayland.rc
/GLES3.TextureCompression___Wayland.sdf
/GLES3.TextureCompression___Wayland.sln
/GLES3.TextureCompression___Wayland.v12.sdf
/GLES3.TextureCompression___Wayland.v12.suo
/GLES3.TextureCompression___Wayland.vcxproj
/GLES3.TextureCompression___Wayland.vcxproj.filters
/GLES3.TextureCompression___Wayland.vcxproj.user
/GLES3.TextureCompression___Wayland_XDG.VC.VC.opendb
/GLES3.TextureCompression___Wayland_XDG.VC.db
/GLES3.TextureCompression___Wayland_XDG.aps
/GLES3.TextureCompression___Wayland_XDG.manifest
/GLES3.TextureCompression___Wayland_XDG.opensdf
/GLES3.TextureCompression___Wayland_XDG.rc
/GLES3.TextureCompression___Wayland_XDG.sdf
/GLES3.TextureCompression___Wayland_XDG.sln
/GLES3.TextureCompression___Wayland_XDG.v12.sdf
/GLES3.TextureCompression___Wayland_XDG.v12.suo
/GLES3.TextureCompression___Wayland_XDG.vcxproj
/GLES3.TextureCompression___Wayland_XDG.vcxproj.filters
/GLES3.TextureCompression___Wayland_XDG.vcxproj.user
/GLES3.TextureCompression___X11.VC.VC.opendb
/GLES3.TextureCompression___X11.VC.db
/GLES3.TextureCompression___X11.aps
/GLES3.TextureCompression___X11.manifest
/GLES3.TextureCompression___X11.opensdf
/GLES3.TextureCompression___X11.rc
/GLES3.TextureCompression___X11.sdf
/GLES3.TextureCompression___X11.sln
/GLES3.TextureCompression___X11.v12.sdf
/GLES3.TextureCompression___X11.v12.suo
/GLES3.TextureCompression___X11.vcxproj
/GLES3.TextureCompression___X11.vcxproj.filters
/GLES3.TextureCompression___X11.vcxproj.user
/GNUmakefile
/GNUmakefile_Yocto
/TextureCompression
/TextureCompression_FB
/TextureCompression_FB_d
/TextureCompression_Wayland
/TextureCompression_Wayland_IVI
/TextureCompression_Wayland_IVI_d
/TextureCompression_Wayland_d
/TextureCompression_X11
/TextureCompression_X11_d
/TextureCompression_c
/TextureCompression_d
/build/
/resource.h
