/.vs/
/Shared.System.DevBasicRender.VC.VC.opendb
/Shared.System.DevBasicRender.VC.db
/Shared.System.DevBasicRender.manifest
/Shared.System.DevBasicRender.opensdf
/Shared.System.DevBasicRender.sdf
/Shared.System.DevBasicRender.sln
/Shared.System.DevBasicRender.v12.sdf
/Shared.System.DevBasicRender.v12.suo
/Shared.System.DevBasicRender.vcxproj
/Shared.System.DevBasicRender.vcxproj.filters
/Shared.System.DevBasicRender.vcxproj.user
/build/
