/.StartProject.bat
/.vs/
/Android.mk
/Android/
/CMakeLists.txt
/Content/_ContentSyncCache.fsl
/DevBatch
/DevBatch_FB
/DevBatch_FB_d
/DevBatch_Wayland
/DevBatch_Wayland_d
/DevBatch_X11
/DevBatch_X11_d
/DevBatch_c
/DevBatch_d
/FslSDKIcon.ico
/GNUmakefile
/GNUmakefile_Yocto
/Vulkan.DevBatch
/Vulkan.DevBatch.VC.VC.opendb
/Vulkan.DevBatch.VC.db
/Vulkan.DevBatch.aps
/Vulkan.DevBatch.manifest
/Vulkan.DevBatch.opensdf
/Vulkan.DevBatch.rc
/Vulkan.DevBatch.sdf
/Vulkan.DevBatch.sln
/Vulkan.DevBatch.v12.sdf
/Vulkan.DevBatch.v12.suo
/Vulkan.DevBatch.vcxproj
/Vulkan.DevBatch.vcxproj.filters
/Vulkan.DevBatch.vcxproj.user
/Vulkan.DevBatch_FB
/Vulkan.DevBatch_Wayland
/Vulkan.DevBatch_X11
/build/
/resource.h
