/.vs/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.Stats.VC.VC.opendb
/Vulkan.Stats.VC.db
/Vulkan.Stats.aps
/Vulkan.Stats.manifest
/Vulkan.Stats.opensdf
/Vulkan.Stats.rc
/Vulkan.Stats.sdf
/Vulkan.Stats.sln
/Vulkan.Stats.v12.sdf
/Vulkan.Stats.v12.suo
/Vulkan.Stats.vcxproj
/Vulkan.Stats.vcxproj.filters
/Vulkan.Stats.vcxproj.user
/build/
/resource.h
