/.vs/
/FslSimpleUI.Render.Base.VC.VC.opendb
/FslSimpleUI.Render.Base.VC.db
/FslSimpleUI.Render.Base.manifest
/FslSimpleUI.Render.Base.opensdf
/FslSimpleUI.Render.Base.sdf
/FslSimpleUI.Render.Base.sln
/FslSimpleUI.Render.Base.v12.sdf
/FslSimpleUI.Render.Base.v12.suo
/FslSimpleUI.Render.Base.vcxproj
/FslSimpleUI.Render.Base.vcxproj.filters
/FslSimpleUI.Render.Base.vcxproj.user
/build/
