/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/Textures/GPUSdkTest/
/Content/Textures/Textures/NotSupported/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GNUmakefile
/GNUmakefile_Yocto
/TextureCompression
/TextureCompression_FB
/TextureCompression_FB_d
/TextureCompression_Wayland
/TextureCompression_Wayland_d
/TextureCompression_X11
/TextureCompression_X11_d
/TextureCompression_c
/TextureCompression_d
/Vulkan.TextureCompression.VC.VC.opendb
/Vulkan.TextureCompression.VC.db
/Vulkan.TextureCompression.aps
/Vulkan.TextureCompression.manifest
/Vulkan.TextureCompression.opensdf
/Vulkan.TextureCompression.rc
/Vulkan.TextureCompression.sdf
/Vulkan.TextureCompression.sln
/Vulkan.TextureCompression.v12.sdf
/Vulkan.TextureCompression.v12.suo
/Vulkan.TextureCompression.vcxproj
/Vulkan.TextureCompression.vcxproj.filters
/Vulkan.TextureCompression.vcxproj.user
/build/
/resource.h
