/.StartProject.bat
/.vs/
/Content/Textures/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.T3DStressTest.VC.VC.opendb
/Vulkan.T3DStressTest.VC.db
/Vulkan.T3DStressTest.aps
/Vulkan.T3DStressTest.manifest
/Vulkan.T3DStressTest.opensdf
/Vulkan.T3DStressTest.rc
/Vulkan.T3DStressTest.sdf
/Vulkan.T3DStressTest.sln
/Vulkan.T3DStressTest.v12.sdf
/Vulkan.T3DStressTest.v12.suo
/Vulkan.T3DStressTest.vcxproj
/Vulkan.T3DStressTest.vcxproj.filters
/Vulkan.T3DStressTest.vcxproj.user
/build/
/resource.h
