/.vs/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.Triangle.VC.VC.opendb
/Vulkan.Triangle.VC.db
/Vulkan.Triangle.aps
/Vulkan.Triangle.manifest
/Vulkan.Triangle.opensdf
/Vulkan.Triangle.rc
/Vulkan.Triangle.sdf
/Vulkan.Triangle.sln
/Vulkan.Triangle.v12.sdf
/Vulkan.Triangle.v12.suo
/Vulkan.Triangle.vcxproj
/Vulkan.Triangle.vcxproj.filters
/Vulkan.Triangle.vcxproj.user
/build/
/resource.h
