/.vs/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.Triangle.VC.VC.opendb
/Vulkan.Triangle.VC.db
/Vulkan.Triangle.aps
/Vulkan.Triangle.manifest
/Vulkan.Triangle.opensdf
/Vulkan.Triangle.rc
/Vulkan.Triangle.sdf
/Vulkan.Triangle.sln
/Vulkan.Triangle.v12.sdf
/Vulkan.Triangle.v12.suo
/Vulkan.Triangle.vcxproj
/Vulkan.Triangle.vcxproj.filters
/Vulkan.Triangle.vcxproj.user
/Vulkan.Triangle___FB.VC.VC.opendb
/Vulkan.Triangle___FB.VC.db
/Vulkan.Triangle___FB.aps
/Vulkan.Triangle___FB.manifest
/Vulkan.Triangle___FB.opensdf
/Vulkan.Triangle___FB.rc
/Vulkan.Triangle___FB.sdf
/Vulkan.Triangle___FB.sln
/Vulkan.Triangle___FB.v12.sdf
/Vulkan.Triangle___FB.v12.suo
/Vulkan.Triangle___FB.vcxproj
/Vulkan.Triangle___FB.vcxproj.filters
/Vulkan.Triangle___FB.vcxproj.user
/Vulkan.Triangle___Wayland.VC.VC.opendb
/Vulkan.Triangle___Wayland.VC.db
/Vulkan.Triangle___Wayland.aps
/Vulkan.Triangle___Wayland.manifest
/Vulkan.Triangle___Wayland.opensdf
/Vulkan.Triangle___Wayland.rc
/Vulkan.Triangle___Wayland.sdf
/Vulkan.Triangle___Wayland.sln
/Vulkan.Triangle___Wayland.v12.sdf
/Vulkan.Triangle___Wayland.v12.suo
/Vulkan.Triangle___Wayland.vcxproj
/Vulkan.Triangle___Wayland.vcxproj.filters
/Vulkan.Triangle___Wayland.vcxproj.user
/Vulkan.Triangle___Wayland_XDG.VC.VC.opendb
/Vulkan.Triangle___Wayland_XDG.VC.db
/Vulkan.Triangle___Wayland_XDG.aps
/Vulkan.Triangle___Wayland_XDG.manifest
/Vulkan.Triangle___Wayland_XDG.opensdf
/Vulkan.Triangle___Wayland_XDG.rc
/Vulkan.Triangle___Wayland_XDG.sdf
/Vulkan.Triangle___Wayland_XDG.sln
/Vulkan.Triangle___Wayland_XDG.v12.sdf
/Vulkan.Triangle___Wayland_XDG.v12.suo
/Vulkan.Triangle___Wayland_XDG.vcxproj
/Vulkan.Triangle___Wayland_XDG.vcxproj.filters
/Vulkan.Triangle___Wayland_XDG.vcxproj.user
/build/
/resource.h
