/.StartProject.bat
/.vs/
/Android.mk
/Android/
/CMakeLists.txt
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GNUmakefile
/GNUmakefile_Yocto
/Triangle
/Triangle_FB
/Triangle_FB_d
/Triangle_Wayland
/Triangle_Wayland_d
/Triangle_X11
/Triangle_X11_d
/Triangle_c
/Triangle_d
/Vulkan.Triangle
/Vulkan.Triangle.VC.VC.opendb
/Vulkan.Triangle.VC.db
/Vulkan.Triangle.aps
/Vulkan.Triangle.manifest
/Vulkan.Triangle.opensdf
/Vulkan.Triangle.rc
/Vulkan.Triangle.sdf
/Vulkan.Triangle.sln
/Vulkan.Triangle.v12.sdf
/Vulkan.Triangle.v12.suo
/Vulkan.Triangle.vcxproj
/Vulkan.Triangle.vcxproj.filters
/Vulkan.Triangle.vcxproj.user
/Vulkan.Triangle_FB
/Vulkan.Triangle_Wayland
/Vulkan.Triangle_X11
/build/
/resource.h
