/.vs/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GLES2.UI.Declarative.VC.VC.opendb
/GLES2.UI.Declarative.VC.db
/GLES2.UI.Declarative.aps
/GLES2.UI.Declarative.manifest
/GLES2.UI.Declarative.opensdf
/GLES2.UI.Declarative.rc
/GLES2.UI.Declarative.sdf
/GLES2.UI.Declarative.sln
/GLES2.UI.Declarative.v12.sdf
/GLES2.UI.Declarative.v12.suo
/GLES2.UI.Declarative.vcxproj
/GLES2.UI.Declarative.vcxproj.filters
/GLES2.UI.Declarative.vcxproj.user
/build/
/resource.h
