/.StartProject.bat
/.vs/
/CMakeLists.txt
/Shared.System.DevNativeTexture2D.VC.VC.opendb
/Shared.System.DevNativeTexture2D.VC.db
/Shared.System.DevNativeTexture2D.manifest
/Shared.System.DevNativeTexture2D.opensdf
/Shared.System.DevNativeTexture2D.sdf
/Shared.System.DevNativeTexture2D.sln
/Shared.System.DevNativeTexture2D.v12.sdf
/Shared.System.DevNativeTexture2D.v12.suo
/Shared.System.DevNativeTexture2D.vcxproj
/Shared.System.DevNativeTexture2D.vcxproj.filters
/Shared.System.DevNativeTexture2D.vcxproj.user
/Shared.UI.DevNativeTexture2D.VC.VC.opendb
/Shared.UI.DevNativeTexture2D.VC.db
/Shared.UI.DevNativeTexture2D.manifest
/Shared.UI.DevNativeTexture2D.opensdf
/Shared.UI.DevNativeTexture2D.sdf
/Shared.UI.DevNativeTexture2D.sln
/Shared.UI.DevNativeTexture2D.v12.sdf
/Shared.UI.DevNativeTexture2D.v12.suo
/Shared.UI.DevNativeTexture2D.vcxproj
/Shared.UI.DevNativeTexture2D.vcxproj.filters
/Shared.UI.DevNativeTexture2D.vcxproj.user
/build/
