/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/SpritesUIAtlas/
/Content/TestGraphics/
/Content/UIAtlas/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.UI.ThemeBasicUI.VC.VC.opendb
/Vulkan.UI.ThemeBasicUI.VC.db
/Vulkan.UI.ThemeBasicUI.aps
/Vulkan.UI.ThemeBasicUI.manifest
/Vulkan.UI.ThemeBasicUI.opensdf
/Vulkan.UI.ThemeBasicUI.rc
/Vulkan.UI.ThemeBasicUI.sdf
/Vulkan.UI.ThemeBasicUI.sln
/Vulkan.UI.ThemeBasicUI.v12.sdf
/Vulkan.UI.ThemeBasicUI.v12.suo
/Vulkan.UI.ThemeBasicUI.vcxproj
/Vulkan.UI.ThemeBasicUI.vcxproj.filters
/Vulkan.UI.ThemeBasicUI.vcxproj.user
/build/
/resource.h
