/.vs/
/Content/Mandelbrot_col.frag.spv
/Content/Shader.vert.spv
/Content/UIAtlas/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.GpuTimestamp.VC.VC.opendb
/Vulkan.GpuTimestamp.VC.db
/Vulkan.GpuTimestamp.aps
/Vulkan.GpuTimestamp.manifest
/Vulkan.GpuTimestamp.opensdf
/Vulkan.GpuTimestamp.rc
/Vulkan.GpuTimestamp.sdf
/Vulkan.GpuTimestamp.sln
/Vulkan.GpuTimestamp.v12.sdf
/Vulkan.GpuTimestamp.v12.suo
/Vulkan.GpuTimestamp.vcxproj
/Vulkan.GpuTimestamp.vcxproj.filters
/Vulkan.GpuTimestamp.vcxproj.user
/build/
/resource.h
