/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/UIAtlas/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GLES2.UI.SmoothScroll.VC.VC.opendb
/GLES2.UI.SmoothScroll.VC.db
/GLES2.UI.SmoothScroll.aps
/GLES2.UI.SmoothScroll.manifest
/GLES2.UI.SmoothScroll.opensdf
/GLES2.UI.SmoothScroll.rc
/GLES2.UI.SmoothScroll.sdf
/GLES2.UI.SmoothScroll.sln
/GLES2.UI.SmoothScroll.v12.sdf
/GLES2.UI.SmoothScroll.v12.suo
/GLES2.UI.SmoothScroll.vcxproj
/GLES2.UI.SmoothScroll.vcxproj.filters
/GLES2.UI.SmoothScroll.vcxproj.user
/build/
/resource.h
