/.vs/
/Shared.System.CustomAppServices.VC.VC.opendb
/Shared.System.CustomAppServices.VC.db
/Shared.System.CustomAppServices.manifest
/Shared.System.CustomAppServices.opensdf
/Shared.System.CustomAppServices.sdf
/Shared.System.CustomAppServices.sln
/Shared.System.CustomAppServices.v12.sdf
/Shared.System.CustomAppServices.v12.suo
/Shared.System.CustomAppServices.vcxproj
/Shared.System.CustomAppServices.vcxproj.filters
/Shared.System.CustomAppServices.vcxproj.user
/build/
