/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GLES3.LineBuilder101.VC.VC.opendb
/GLES3.LineBuilder101.VC.db
/GLES3.LineBuilder101.aps
/GLES3.LineBuilder101.manifest
/GLES3.LineBuilder101.opensdf
/GLES3.LineBuilder101.rc
/GLES3.LineBuilder101.sdf
/GLES3.LineBuilder101.sln
/GLES3.LineBuilder101.v12.sdf
/GLES3.LineBuilder101.v12.suo
/GLES3.LineBuilder101.vcxproj
/GLES3.LineBuilder101.vcxproj.filters
/GLES3.LineBuilder101.vcxproj.user
/GNUmakefile
/GNUmakefile_Yocto
/LineBuilder101
/LineBuilder101_FB
/LineBuilder101_FB_d
/LineBuilder101_Wayland
/LineBuilder101_Wayland_d
/LineBuilder101_X11
/LineBuilder101_X11_d
/LineBuilder101_c
/LineBuilder101_d
/build/
/resource.h
