/.StartProject.bat
/.vs/
/Android.mk
/Android/
/CMakeLists.txt
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GLES3.OpenCVMatToNativeBatch
/GLES3.OpenCVMatToNativeBatch.VC.VC.opendb
/GLES3.OpenCVMatToNativeBatch.VC.db
/GLES3.OpenCVMatToNativeBatch.aps
/GLES3.OpenCVMatToNativeBatch.manifest
/GLES3.OpenCVMatToNativeBatch.opensdf
/GLES3.OpenCVMatToNativeBatch.rc
/GLES3.OpenCVMatToNativeBatch.sdf
/GLES3.OpenCVMatToNativeBatch.sln
/GLES3.OpenCVMatToNativeBatch.v12.sdf
/GLES3.OpenCVMatToNativeBatch.v12.suo
/GLES3.OpenCVMatToNativeBatch.vcxproj
/GLES3.OpenCVMatToNativeBatch.vcxproj.filters
/GLES3.OpenCVMatToNativeBatch.vcxproj.user
/GLES3.OpenCVNativeBatch.VC.VC.opendb
/GLES3.OpenCVNativeBatch.VC.db
/GLES3.OpenCVNativeBatch.aps
/GLES3.OpenCVNativeBatch.manifest
/GLES3.OpenCVNativeBatch.opensdf
/GLES3.OpenCVNativeBatch.rc
/GLES3.OpenCVNativeBatch.sdf
/GLES3.OpenCVNativeBatch.sln
/GLES3.OpenCVNativeBatch.v12.sdf
/GLES3.OpenCVNativeBatch.v12.suo
/GLES3.OpenCVNativeBatch.vcxproj
/GLES3.OpenCVNativeBatch.vcxproj.filters
/GLES3.OpenCVNativeBatch.vcxproj.user
/GNUmakefile
/GNUmakefile_Yocto
/OpenCVMatToNativeBatch
/OpenCVMatToNativeBatch_FB
/OpenCVMatToNativeBatch_FB_d
/OpenCVMatToNativeBatch_Wayland
/OpenCVMatToNativeBatch_Wayland_IVI
/OpenCVMatToNativeBatch_Wayland_IVI_d
/OpenCVMatToNativeBatch_Wayland_d
/OpenCVMatToNativeBatch_X11
/OpenCVMatToNativeBatch_X11_d
/OpenCVMatToNativeBatch_c
/OpenCVMatToNativeBatch_d
/build/
/resource.h
