/.vs/
/FslSimpleUI.App.Theme.VC.VC.opendb
/FslSimpleUI.App.Theme.VC.db
/FslSimpleUI.App.Theme.manifest
/FslSimpleUI.App.Theme.opensdf
/FslSimpleUI.App.Theme.sdf
/FslSimpleUI.App.Theme.sln
/FslSimpleUI.App.Theme.v12.sdf
/FslSimpleUI.App.Theme.v12.suo
/FslSimpleUI.App.Theme.vcxproj
/FslSimpleUI.App.Theme.vcxproj.filters
/FslSimpleUI.App.Theme.vcxproj.user
/build/
