/.StartProject.bat
/.vs/
/Android.mk
/Android/
/CMakeLists.txt
/Content/TextureAtlas/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GNUmakefile
/GNUmakefile_Yocto
/Vulkan.UI.SimpleUI101.VC.VC.opendb
/Vulkan.UI.SimpleUI101.VC.db
/Vulkan.UI.SimpleUI101.aps
/Vulkan.UI.SimpleUI101.manifest
/Vulkan.UI.SimpleUI101.opensdf
/Vulkan.UI.SimpleUI101.rc
/Vulkan.UI.SimpleUI101.sdf
/Vulkan.UI.SimpleUI101.sln
/Vulkan.UI.SimpleUI101.v12.sdf
/Vulkan.UI.SimpleUI101.v12.suo
/Vulkan.UI.SimpleUI101.vcxproj
/Vulkan.UI.SimpleUI101.vcxproj.filters
/Vulkan.UI.SimpleUI101.vcxproj.user
/Vulkan.UI.SimpleUI101___FB.VC.VC.opendb
/Vulkan.UI.SimpleUI101___FB.VC.db
/Vulkan.UI.SimpleUI101___FB.aps
/Vulkan.UI.SimpleUI101___FB.manifest
/Vulkan.UI.SimpleUI101___FB.opensdf
/Vulkan.UI.SimpleUI101___FB.rc
/Vulkan.UI.SimpleUI101___FB.sdf
/Vulkan.UI.SimpleUI101___FB.sln
/Vulkan.UI.SimpleUI101___FB.v12.sdf
/Vulkan.UI.SimpleUI101___FB.v12.suo
/Vulkan.UI.SimpleUI101___FB.vcxproj
/Vulkan.UI.SimpleUI101___FB.vcxproj.filters
/Vulkan.UI.SimpleUI101___FB.vcxproj.user
/Vulkan.UI.SimpleUI101___Wayland.VC.VC.opendb
/Vulkan.UI.SimpleUI101___Wayland.VC.db
/Vulkan.UI.SimpleUI101___Wayland.aps
/Vulkan.UI.SimpleUI101___Wayland.manifest
/Vulkan.UI.SimpleUI101___Wayland.opensdf
/Vulkan.UI.SimpleUI101___Wayland.rc
/Vulkan.UI.SimpleUI101___Wayland.sdf
/Vulkan.UI.SimpleUI101___Wayland.sln
/Vulkan.UI.SimpleUI101___Wayland.v12.sdf
/Vulkan.UI.SimpleUI101___Wayland.v12.suo
/Vulkan.UI.SimpleUI101___Wayland.vcxproj
/Vulkan.UI.SimpleUI101___Wayland.vcxproj.filters
/Vulkan.UI.SimpleUI101___Wayland.vcxproj.user
/Vulkan.UI.SimpleUI101___Wayland_XDG.VC.VC.opendb
/Vulkan.UI.SimpleUI101___Wayland_XDG.VC.db
/Vulkan.UI.SimpleUI101___Wayland_XDG.aps
/Vulkan.UI.SimpleUI101___Wayland_XDG.manifest
/Vulkan.UI.SimpleUI101___Wayland_XDG.opensdf
/Vulkan.UI.SimpleUI101___Wayland_XDG.rc
/Vulkan.UI.SimpleUI101___Wayland_XDG.sdf
/Vulkan.UI.SimpleUI101___Wayland_XDG.sln
/Vulkan.UI.SimpleUI101___Wayland_XDG.v12.sdf
/Vulkan.UI.SimpleUI101___Wayland_XDG.v12.suo
/Vulkan.UI.SimpleUI101___Wayland_XDG.vcxproj
/Vulkan.UI.SimpleUI101___Wayland_XDG.vcxproj.filters
/Vulkan.UI.SimpleUI101___Wayland_XDG.vcxproj.user
/build/
/resource.h
