/.StartProject.bat
/.vs/
/Android.mk
/Android/
/CMakeLists.txt
/Content/TextureAtlas/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GNUmakefile
/GNUmakefile_Yocto
/Vulkan.UI.SimpleUI101.VC.VC.opendb
/Vulkan.UI.SimpleUI101.VC.db
/Vulkan.UI.SimpleUI101.aps
/Vulkan.UI.SimpleUI101.manifest
/Vulkan.UI.SimpleUI101.opensdf
/Vulkan.UI.SimpleUI101.rc
/Vulkan.UI.SimpleUI101.sdf
/Vulkan.UI.SimpleUI101.sln
/Vulkan.UI.SimpleUI101.v12.sdf
/Vulkan.UI.SimpleUI101.v12.suo
/Vulkan.UI.SimpleUI101.vcxproj
/Vulkan.UI.SimpleUI101.vcxproj.filters
/Vulkan.UI.SimpleUI101.vcxproj.user
/build/
/resource.h
