/.vs/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GLES2.DrawPolygon.VC.VC.opendb
/GLES2.DrawPolygon.VC.db
/GLES2.DrawPolygon.aps
/GLES2.DrawPolygon.manifest
/GLES2.DrawPolygon.opensdf
/GLES2.DrawPolygon.rc
/GLES2.DrawPolygon.sdf
/GLES2.DrawPolygon.sln
/GLES2.DrawPolygon.v12.sdf
/GLES2.DrawPolygon.v12.suo
/GLES2.DrawPolygon.vcxproj
/GLES2.DrawPolygon.vcxproj.filters
/GLES2.DrawPolygon.vcxproj.user
/build/
/resource.h
