.StartProject.bat
.vs/
Android.mk
Android/
CMakeLists.txt
Content/_ContentSyncCache.fsl
FslSDKIcon.ico
GNUmakefile
GNUmakefile_Yocto
OpenVX.VxTutorial1.VC.VC.opendb
OpenVX.VxTutorial1.VC.db
OpenVX.VxTutorial1.aps
OpenVX.VxTutorial1.manifest
OpenVX.VxTutorial1.opensdf
OpenVX.VxTutorial1.rc
OpenVX.VxTutorial1.sdf
OpenVX.VxTutorial1.sln
OpenVX.VxTutorial1.v12.sdf
OpenVX.VxTutorial1.v12.suo
OpenVX.VxTutorial1.vcxproj
OpenVX.VxTutorial1.vcxproj.filters
OpenVX.VxTutorial1.vcxproj.user
VxTutorial1
VxTutorial1_d
build/
resource.h
