/.StartProject.bat
/.vs/
/Android.mk
/CMakeLists.txt
/FslBase.VC.VC.opendb
/FslBase.VC.db
/FslBase.manifest
/FslBase.opensdf
/FslBase.sdf
/FslBase.sln
/FslBase.v12.sdf
/FslBase.v12.suo
/FslBase.vcxproj
/FslBase.vcxproj.filters
/FslBase.vcxproj.user
/GNUmakefile
/GNUmakefile_Yocto
/build/
