.StartProject.bat
.vs/
Android.mk
Android/
CMakeLists.txt
Content/_ContentSyncCache.fsl
DFGraphicsBasic2D
DFGraphicsBasic2D_FB
DFGraphicsBasic2D_FB_d
DFGraphicsBasic2D_Wayland
DFGraphicsBasic2D_Wayland_d
DFGraphicsBasic2D_X11
DFGraphicsBasic2D_X11_d
DFGraphicsBasic2D_d
FslSDKIcon.ico
GNUmakefile
GNUmakefile_Yocto
OpenVG.DFGraphicsBasic2D
OpenVG.DFGraphicsBasic2D.VC.VC.opendb
OpenVG.DFGraphicsBasic2D.VC.db
OpenVG.DFGraphicsBasic2D.aps
OpenVG.DFGraphicsBasic2D.manifest
OpenVG.DFGraphicsBasic2D.opensdf
OpenVG.DFGraphicsBasic2D.rc
OpenVG.DFGraphicsBasic2D.sdf
OpenVG.DFGraphicsBasic2D.sln
OpenVG.DFGraphicsBasic2D.v12.sdf
OpenVG.DFGraphicsBasic2D.v12.suo
OpenVG.DFGraphicsBasic2D.vcxproj
OpenVG.DFGraphicsBasic2D.vcxproj.filters
OpenVG.DFGraphicsBasic2D.vcxproj.user
OpenVG.DFGraphicsBasic2D_FB
OpenVG.DFGraphicsBasic2D_Wayland
OpenVG.DFGraphicsBasic2D_X11
build/
resource.h
