/.vs/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/OpenCL.SobelHFilter.VC.VC.opendb
/OpenCL.SobelHFilter.VC.db
/OpenCL.SobelHFilter.aps
/OpenCL.SobelHFilter.manifest
/OpenCL.SobelHFilter.opensdf
/OpenCL.SobelHFilter.rc
/OpenCL.SobelHFilter.sdf
/OpenCL.SobelHFilter.sln
/OpenCL.SobelHFilter.v12.sdf
/OpenCL.SobelHFilter.v12.suo
/OpenCL.SobelHFilter.vcxproj
/OpenCL.SobelHFilter.vcxproj.filters
/OpenCL.SobelHFilter.vcxproj.user
/build/
/resource.h
