/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GNUmakefile
/GNUmakefile_Yocto
/OpenCVMatToNativeBatch
/OpenCVMatToNativeBatch_FB
/OpenCVMatToNativeBatch_FB_d
/OpenCVMatToNativeBatch_Wayland
/OpenCVMatToNativeBatch_Wayland_IVI
/OpenCVMatToNativeBatch_Wayland_IVI_d
/OpenCVMatToNativeBatch_Wayland_d
/OpenCVMatToNativeBatch_X11
/OpenCVMatToNativeBatch_X11_d
/OpenCVMatToNativeBatch_c
/OpenCVMatToNativeBatch_d
/Vulkan.OpenCVMatToNativeBatch.VC.VC.opendb
/Vulkan.OpenCVMatToNativeBatch.VC.db
/Vulkan.OpenCVMatToNativeBatch.aps
/Vulkan.OpenCVMatToNativeBatch.manifest
/Vulkan.OpenCVMatToNativeBatch.opensdf
/Vulkan.OpenCVMatToNativeBatch.rc
/Vulkan.OpenCVMatToNativeBatch.sdf
/Vulkan.OpenCVMatToNativeBatch.sln
/Vulkan.OpenCVMatToNativeBatch.v12.sdf
/Vulkan.OpenCVMatToNativeBatch.v12.suo
/Vulkan.OpenCVMatToNativeBatch.vcxproj
/Vulkan.OpenCVMatToNativeBatch.vcxproj.filters
/Vulkan.OpenCVMatToNativeBatch.vcxproj.user
/Vulkan.OpenCVMatToNativeBatch___FB.VC.VC.opendb
/Vulkan.OpenCVMatToNativeBatch___FB.VC.db
/Vulkan.OpenCVMatToNativeBatch___FB.aps
/Vulkan.OpenCVMatToNativeBatch___FB.manifest
/Vulkan.OpenCVMatToNativeBatch___FB.opensdf
/Vulkan.OpenCVMatToNativeBatch___FB.rc
/Vulkan.OpenCVMatToNativeBatch___FB.sdf
/Vulkan.OpenCVMatToNativeBatch___FB.sln
/Vulkan.OpenCVMatToNativeBatch___FB.v12.sdf
/Vulkan.OpenCVMatToNativeBatch___FB.v12.suo
/Vulkan.OpenCVMatToNativeBatch___FB.vcxproj
/Vulkan.OpenCVMatToNativeBatch___FB.vcxproj.filters
/Vulkan.OpenCVMatToNativeBatch___FB.vcxproj.user
/Vulkan.OpenCVMatToNativeBatch___Wayland.VC.VC.opendb
/Vulkan.OpenCVMatToNativeBatch___Wayland.VC.db
/Vulkan.OpenCVMatToNativeBatch___Wayland.aps
/Vulkan.OpenCVMatToNativeBatch___Wayland.manifest
/Vulkan.OpenCVMatToNativeBatch___Wayland.opensdf
/Vulkan.OpenCVMatToNativeBatch___Wayland.rc
/Vulkan.OpenCVMatToNativeBatch___Wayland.sdf
/Vulkan.OpenCVMatToNativeBatch___Wayland.sln
/Vulkan.OpenCVMatToNativeBatch___Wayland.v12.sdf
/Vulkan.OpenCVMatToNativeBatch___Wayland.v12.suo
/Vulkan.OpenCVMatToNativeBatch___Wayland.vcxproj
/Vulkan.OpenCVMatToNativeBatch___Wayland.vcxproj.filters
/Vulkan.OpenCVMatToNativeBatch___Wayland.vcxproj.user
/Vulkan.OpenCVMatToNativeBatch___Wayland_XDG.VC.VC.opendb
/Vulkan.OpenCVMatToNativeBatch___Wayland_XDG.VC.db
/Vulkan.OpenCVMatToNativeBatch___Wayland_XDG.aps
/Vulkan.OpenCVMatToNativeBatch___Wayland_XDG.manifest
/Vulkan.OpenCVMatToNativeBatch___Wayland_XDG.opensdf
/Vulkan.OpenCVMatToNativeBatch___Wayland_XDG.rc
/Vulkan.OpenCVMatToNativeBatch___Wayland_XDG.sdf
/Vulkan.OpenCVMatToNativeBatch___Wayland_XDG.sln
/Vulkan.OpenCVMatToNativeBatch___Wayland_XDG.v12.sdf
/Vulkan.OpenCVMatToNativeBatch___Wayland_XDG.v12.suo
/Vulkan.OpenCVMatToNativeBatch___Wayland_XDG.vcxproj
/Vulkan.OpenCVMatToNativeBatch___Wayland_XDG.vcxproj.filters
/Vulkan.OpenCVMatToNativeBatch___Wayland_XDG.vcxproj.user
/build/
/resource.h
