/.StartProject.bat
/.vs/
/Android.mk
/CMakeLists.txt
/FslDemoService.NativeGraphics.Base.VC.VC.opendb
/FslDemoService.NativeGraphics.Base.VC.db
/FslDemoService.NativeGraphics.Base.manifest
/FslDemoService.NativeGraphics.Base.opensdf
/FslDemoService.NativeGraphics.Base.sdf
/FslDemoService.NativeGraphics.Base.sln
/FslDemoService.NativeGraphics.Base.v12.sdf
/FslDemoService.NativeGraphics.Base.v12.suo
/FslDemoService.NativeGraphics.Base.vcxproj
/FslDemoService.NativeGraphics.Base.vcxproj.filters
/FslDemoService.NativeGraphics.Base.vcxproj.user
/GNUmakefile
/GNUmakefile_Yocto
/build/
