/.StartProject.bat
/.vs/
/Android.mk
/CMakeLists.txt
/GNUmakefile
/GNUmakefile_Yocto
/Shared.Camera.Platform.VC.VC.opendb
/Shared.Camera.Platform.VC.db
/Shared.Camera.Platform.manifest
/Shared.Camera.Platform.opensdf
/Shared.Camera.Platform.sdf
/Shared.Camera.Platform.sln
/Shared.Camera.Platform.v12.sdf
/Shared.Camera.Platform.v12.suo
/Shared.Camera.Platform.vcxproj
/Shared.Camera.Platform.vcxproj.filters
/Shared.Camera.Platform.vcxproj.user
/build/
