.StartProject.bat
.vs/
Android.mk
Android/
CMakeLists.txt
Content/_ContentSyncCache.fsl
FslSDKIcon.ico
GNUmakefile
GNUmakefile_Yocto
Texture.VC.db
Texture.manifest
Texture.opensdf
Texture.rc
Texture.sdf
Texture.sln
Texture.v12.sdf
Texture.v12.suo
Texture.vcxproj
Texture.vcxproj.filters
Texture.vcxproj.user
Texturing_FB
Texturing_Wayland
Texturing_X11
Vulkan.Texturing.VC.VC.opendb
Vulkan.Texturing.VC.db
Vulkan.Texturing.aps
Vulkan.Texturing.manifest
Vulkan.Texturing.opensdf
Vulkan.Texturing.rc
Vulkan.Texturing.sdf
Vulkan.Texturing.sln
Vulkan.Texturing.v12.sdf
Vulkan.Texturing.v12.suo
Vulkan.Texturing.vcxproj
Vulkan.Texturing.vcxproj.filters
Vulkan.Texturing.vcxproj.user
build/
resource.h
