/.StartProject.bat
/.vs/
/Android.mk
/Android/
/CMakeLists.txt
/Content/Textures/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GNUmakefile
/GNUmakefile_Yocto
/Texture.VC.db
/Texture.manifest
/Texture.opensdf
/Texture.rc
/Texture.sdf
/Texture.sln
/Texture.v12.sdf
/Texture.v12.suo
/Texture.vcxproj
/Texture.vcxproj.filters
/Texture.vcxproj.user
/Texturing
/Texturing_FB
/Texturing_FB_d
/Texturing_Wayland
/Texturing_Wayland_IVI
/Texturing_Wayland_IVI_d
/Texturing_Wayland_d
/Texturing_X11
/Texturing_X11_d
/Texturing_c
/Texturing_d
/Vulkan.Texturing
/Vulkan.Texturing.VC.VC.opendb
/Vulkan.Texturing.VC.db
/Vulkan.Texturing.aps
/Vulkan.Texturing.manifest
/Vulkan.Texturing.opensdf
/Vulkan.Texturing.rc
/Vulkan.Texturing.sdf
/Vulkan.Texturing.sln
/Vulkan.Texturing.v12.sdf
/Vulkan.Texturing.v12.suo
/Vulkan.Texturing.vcxproj
/Vulkan.Texturing.vcxproj.filters
/Vulkan.Texturing.vcxproj.user
/Vulkan.Texturing_FB
/Vulkan.Texturing_Wayland
/Vulkan.Texturing_X11
/Vulkan.Texturing___FB.VC.VC.opendb
/Vulkan.Texturing___FB.VC.db
/Vulkan.Texturing___FB.aps
/Vulkan.Texturing___FB.manifest
/Vulkan.Texturing___FB.opensdf
/Vulkan.Texturing___FB.rc
/Vulkan.Texturing___FB.sdf
/Vulkan.Texturing___FB.sln
/Vulkan.Texturing___FB.v12.sdf
/Vulkan.Texturing___FB.v12.suo
/Vulkan.Texturing___FB.vcxproj
/Vulkan.Texturing___FB.vcxproj.filters
/Vulkan.Texturing___FB.vcxproj.user
/Vulkan.Texturing___Wayland.VC.VC.opendb
/Vulkan.Texturing___Wayland.VC.db
/Vulkan.Texturing___Wayland.aps
/Vulkan.Texturing___Wayland.manifest
/Vulkan.Texturing___Wayland.opensdf
/Vulkan.Texturing___Wayland.rc
/Vulkan.Texturing___Wayland.sdf
/Vulkan.Texturing___Wayland.sln
/Vulkan.Texturing___Wayland.v12.sdf
/Vulkan.Texturing___Wayland.v12.suo
/Vulkan.Texturing___Wayland.vcxproj
/Vulkan.Texturing___Wayland.vcxproj.filters
/Vulkan.Texturing___Wayland.vcxproj.user
/Vulkan.Texturing___Wayland_XDG.VC.VC.opendb
/Vulkan.Texturing___Wayland_XDG.VC.db
/Vulkan.Texturing___Wayland_XDG.aps
/Vulkan.Texturing___Wayland_XDG.manifest
/Vulkan.Texturing___Wayland_XDG.opensdf
/Vulkan.Texturing___Wayland_XDG.rc
/Vulkan.Texturing___Wayland_XDG.sdf
/Vulkan.Texturing___Wayland_XDG.sln
/Vulkan.Texturing___Wayland_XDG.v12.sdf
/Vulkan.Texturing___Wayland_XDG.v12.suo
/Vulkan.Texturing___Wayland_XDG.vcxproj
/Vulkan.Texturing___Wayland_XDG.vcxproj.filters
/Vulkan.Texturing___Wayland_XDG.vcxproj.user
/build/
/resource.h
