/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.NativeWindowTest.VC.VC.opendb
/Vulkan.NativeWindowTest.VC.db
/Vulkan.NativeWindowTest.aps
/Vulkan.NativeWindowTest.manifest
/Vulkan.NativeWindowTest.opensdf
/Vulkan.NativeWindowTest.rc
/Vulkan.NativeWindowTest.sdf
/Vulkan.NativeWindowTest.sln
/Vulkan.NativeWindowTest.v12.sdf
/Vulkan.NativeWindowTest.v12.suo
/Vulkan.NativeWindowTest.vcxproj
/Vulkan.NativeWindowTest.vcxproj.filters
/Vulkan.NativeWindowTest.vcxproj.user
/build/
/resource.h
