/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GNUmakefile
/GNUmakefile_Yocto
/NativeWindowTest
/NativeWindowTest_FB
/NativeWindowTest_FB_d
/NativeWindowTest_Wayland
/NativeWindowTest_Wayland_IVI
/NativeWindowTest_Wayland_IVI_d
/NativeWindowTest_Wayland_d
/NativeWindowTest_X11
/NativeWindowTest_X11_d
/NativeWindowTest_c
/NativeWindowTest_d
/Vulkan.NativeWindowTest.VC.VC.opendb
/Vulkan.NativeWindowTest.VC.db
/Vulkan.NativeWindowTest.aps
/Vulkan.NativeWindowTest.manifest
/Vulkan.NativeWindowTest.opensdf
/Vulkan.NativeWindowTest.rc
/Vulkan.NativeWindowTest.sdf
/Vulkan.NativeWindowTest.sln
/Vulkan.NativeWindowTest.v12.sdf
/Vulkan.NativeWindowTest.v12.suo
/Vulkan.NativeWindowTest.vcxproj
/Vulkan.NativeWindowTest.vcxproj.filters
/Vulkan.NativeWindowTest.vcxproj.user
/build/
/resource.h
