/.vs/
/FslUnitTest.TestPackages.FlavorExtend.P1__Option2.VC.VC.opendb
/FslUnitTest.TestPackages.FlavorExtend.P1__Option2.VC.db
/FslUnitTest.TestPackages.FlavorExtend.P1__Option2.manifest
/FslUnitTest.TestPackages.FlavorExtend.P1__Option2.opensdf
/FslUnitTest.TestPackages.FlavorExtend.P1__Option2.sdf
/FslUnitTest.TestPackages.FlavorExtend.P1__Option2.sln
/FslUnitTest.TestPackages.FlavorExtend.P1__Option2.v12.sdf
/FslUnitTest.TestPackages.FlavorExtend.P1__Option2.v12.suo
/FslUnitTest.TestPackages.FlavorExtend.P1__Option2.vcxproj
/FslUnitTest.TestPackages.FlavorExtend.P1__Option2.vcxproj.filters
/FslUnitTest.TestPackages.FlavorExtend.P1__Option2.vcxproj.user
/FslUnitTest.TestPackages.FlavorExtend.P1___Option2__Option2.VC.VC.opendb
/FslUnitTest.TestPackages.FlavorExtend.P1___Option2__Option2.VC.db
/FslUnitTest.TestPackages.FlavorExtend.P1___Option2__Option2.manifest
/FslUnitTest.TestPackages.FlavorExtend.P1___Option2__Option2.opensdf
/FslUnitTest.TestPackages.FlavorExtend.P1___Option2__Option2.sdf
/FslUnitTest.TestPackages.FlavorExtend.P1___Option2__Option2.sln
/FslUnitTest.TestPackages.FlavorExtend.P1___Option2__Option2.v12.sdf
/FslUnitTest.TestPackages.FlavorExtend.P1___Option2__Option2.v12.suo
/FslUnitTest.TestPackages.FlavorExtend.P1___Option2__Option2.vcxproj
/FslUnitTest.TestPackages.FlavorExtend.P1___Option2__Option2.vcxproj.filters
/FslUnitTest.TestPackages.FlavorExtend.P1___Option2__Option2.vcxproj.user
/FslUnitTest.TestPackages.StaticVariants2.P0.VC.VC.opendb
/FslUnitTest.TestPackages.StaticVariants2.P0.VC.db
/FslUnitTest.TestPackages.StaticVariants2.P0.manifest
/FslUnitTest.TestPackages.StaticVariants2.P0.opensdf
/FslUnitTest.TestPackages.StaticVariants2.P0.sdf
/FslUnitTest.TestPackages.StaticVariants2.P0.sln
/FslUnitTest.TestPackages.StaticVariants2.P0.v12.sdf
/FslUnitTest.TestPackages.StaticVariants2.P0.v12.suo
/FslUnitTest.TestPackages.StaticVariants2.P0.vcxproj
/FslUnitTest.TestPackages.StaticVariants2.P0.vcxproj.filters
/FslUnitTest.TestPackages.StaticVariants2.P0.vcxproj.user
/FslUnitTest.TestPackages.StaticVariants2.P1.VC.VC.opendb
/FslUnitTest.TestPackages.StaticVariants2.P1.VC.db
/FslUnitTest.TestPackages.StaticVariants2.P1.manifest
/FslUnitTest.TestPackages.StaticVariants2.P1.opensdf
/FslUnitTest.TestPackages.StaticVariants2.P1.sdf
/FslUnitTest.TestPackages.StaticVariants2.P1.sln
/FslUnitTest.TestPackages.StaticVariants2.P1.v12.sdf
/FslUnitTest.TestPackages.StaticVariants2.P1.v12.suo
/FslUnitTest.TestPackages.StaticVariants2.P1.vcxproj
/FslUnitTest.TestPackages.StaticVariants2.P1.vcxproj.filters
/FslUnitTest.TestPackages.StaticVariants2.P1.vcxproj.user
/build/
