/.vs/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/OpenCL.Colorseg.VC.VC.opendb
/OpenCL.Colorseg.VC.db
/OpenCL.Colorseg.aps
/OpenCL.Colorseg.manifest
/OpenCL.Colorseg.opensdf
/OpenCL.Colorseg.rc
/OpenCL.Colorseg.sdf
/OpenCL.Colorseg.sln
/OpenCL.Colorseg.v12.sdf
/OpenCL.Colorseg.v12.suo
/OpenCL.Colorseg.vcxproj
/OpenCL.Colorseg.vcxproj.filters
/OpenCL.Colorseg.vcxproj.user
/build/
/resource.h
