/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/BasicUI/
/Content/Fill/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.SdfFonts.VC.VC.opendb
/Vulkan.SdfFonts.VC.db
/Vulkan.SdfFonts.aps
/Vulkan.SdfFonts.manifest
/Vulkan.SdfFonts.opensdf
/Vulkan.SdfFonts.rc
/Vulkan.SdfFonts.sdf
/Vulkan.SdfFonts.sln
/Vulkan.SdfFonts.v12.sdf
/Vulkan.SdfFonts.v12.suo
/Vulkan.SdfFonts.vcxproj
/Vulkan.SdfFonts.vcxproj.filters
/Vulkan.SdfFonts.vcxproj.user
/build/
/resource.h
