/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/BasicUI/
/Content/Fill/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.SdfFonts.VC.VC.opendb
/Vulkan.SdfFonts.VC.db
/Vulkan.SdfFonts.aps
/Vulkan.SdfFonts.manifest
/Vulkan.SdfFonts.opensdf
/Vulkan.SdfFonts.rc
/Vulkan.SdfFonts.sdf
/Vulkan.SdfFonts.sln
/Vulkan.SdfFonts.v12.sdf
/Vulkan.SdfFonts.v12.suo
/Vulkan.SdfFonts.vcxproj
/Vulkan.SdfFonts.vcxproj.filters
/Vulkan.SdfFonts.vcxproj.user
/Vulkan.SdfFonts___FB.VC.VC.opendb
/Vulkan.SdfFonts___FB.VC.db
/Vulkan.SdfFonts___FB.aps
/Vulkan.SdfFonts___FB.manifest
/Vulkan.SdfFonts___FB.opensdf
/Vulkan.SdfFonts___FB.rc
/Vulkan.SdfFonts___FB.sdf
/Vulkan.SdfFonts___FB.sln
/Vulkan.SdfFonts___FB.v12.sdf
/Vulkan.SdfFonts___FB.v12.suo
/Vulkan.SdfFonts___FB.vcxproj
/Vulkan.SdfFonts___FB.vcxproj.filters
/Vulkan.SdfFonts___FB.vcxproj.user
/Vulkan.SdfFonts___Wayland.VC.VC.opendb
/Vulkan.SdfFonts___Wayland.VC.db
/Vulkan.SdfFonts___Wayland.aps
/Vulkan.SdfFonts___Wayland.manifest
/Vulkan.SdfFonts___Wayland.opensdf
/Vulkan.SdfFonts___Wayland.rc
/Vulkan.SdfFonts___Wayland.sdf
/Vulkan.SdfFonts___Wayland.sln
/Vulkan.SdfFonts___Wayland.v12.sdf
/Vulkan.SdfFonts___Wayland.v12.suo
/Vulkan.SdfFonts___Wayland.vcxproj
/Vulkan.SdfFonts___Wayland.vcxproj.filters
/Vulkan.SdfFonts___Wayland.vcxproj.user
/Vulkan.SdfFonts___Wayland_XDG.VC.VC.opendb
/Vulkan.SdfFonts___Wayland_XDG.VC.db
/Vulkan.SdfFonts___Wayland_XDG.aps
/Vulkan.SdfFonts___Wayland_XDG.manifest
/Vulkan.SdfFonts___Wayland_XDG.opensdf
/Vulkan.SdfFonts___Wayland_XDG.rc
/Vulkan.SdfFonts___Wayland_XDG.sdf
/Vulkan.SdfFonts___Wayland_XDG.sln
/Vulkan.SdfFonts___Wayland_XDG.v12.sdf
/Vulkan.SdfFonts___Wayland_XDG.v12.suo
/Vulkan.SdfFonts___Wayland_XDG.vcxproj
/Vulkan.SdfFonts___Wayland_XDG.vcxproj.filters
/Vulkan.SdfFonts___Wayland_XDG.vcxproj.user
/build/
/resource.h
