/.StartProject.bat
/.vs/
/Android.mk
/Android/
/CMakeLists.txt
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GNUmakefile
/GNUmakefile_Yocto
/OpenVX.Stereo.VC.VC.opendb
/OpenVX.Stereo.VC.db
/OpenVX.Stereo.aps
/OpenVX.Stereo.manifest
/OpenVX.Stereo.opensdf
/OpenVX.Stereo.rc
/OpenVX.Stereo.sdf
/OpenVX.Stereo.sln
/OpenVX.Stereo.v12.sdf
/OpenVX.Stereo.v12.suo
/OpenVX.Stereo.vcxproj
/OpenVX.Stereo.vcxproj.filters
/OpenVX.Stereo.vcxproj.user
/Stereo
/Stereo_d
/build/
/resource.h
