.StartProject.bat
.vs
Android.mk
CMakeLists.txt
GNUmakefile
GNUmakefile_Yocto
VulkanWindowExperimental.VC.VC.opendb
VulkanWindowExperimental.VC.db
VulkanWindowExperimental.manifest
VulkanWindowExperimental.opensdf
VulkanWindowExperimental.sdf
VulkanWindowExperimental.sln
VulkanWindowExperimental.v12.sdf
VulkanWindowExperimental.v12.suo
VulkanWindowExperimental.vcxproj
VulkanWindowExperimental.vcxproj.filters
VulkanWindowExperimental.vcxproj.user
build/
