.StartProject.bat
.vs
Android.mk
CMakeLists.txt
GNUmakefile
GNUmakefile_Yocto
Shared.VulkanWindowExperimental.VC.VC.opendb
Shared.VulkanWindowExperimental.VC.db
Shared.VulkanWindowExperimental.manifest
Shared.VulkanWindowExperimental.opensdf
Shared.VulkanWindowExperimental.sdf
Shared.VulkanWindowExperimental.sln
Shared.VulkanWindowExperimental.v12.sdf
Shared.VulkanWindowExperimental.v12.suo
Shared.VulkanWindowExperimental.vcxproj
Shared.VulkanWindowExperimental.vcxproj.filters
Shared.VulkanWindowExperimental.vcxproj.user
build/
