/.StartProject.bat
/.vs/
/CMakeLists.txt
/Content/UIAtlas/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.UI.DpiScale.VC.VC.opendb
/Vulkan.UI.DpiScale.VC.db
/Vulkan.UI.DpiScale.aps
/Vulkan.UI.DpiScale.manifest
/Vulkan.UI.DpiScale.opensdf
/Vulkan.UI.DpiScale.rc
/Vulkan.UI.DpiScale.sdf
/Vulkan.UI.DpiScale.sln
/Vulkan.UI.DpiScale.v12.sdf
/Vulkan.UI.DpiScale.v12.suo
/Vulkan.UI.DpiScale.vcxproj
/Vulkan.UI.DpiScale.vcxproj.filters
/Vulkan.UI.DpiScale.vcxproj.user
/Vulkan.UI.DpiScale___FB.VC.VC.opendb
/Vulkan.UI.DpiScale___FB.VC.db
/Vulkan.UI.DpiScale___FB.aps
/Vulkan.UI.DpiScale___FB.manifest
/Vulkan.UI.DpiScale___FB.opensdf
/Vulkan.UI.DpiScale___FB.rc
/Vulkan.UI.DpiScale___FB.sdf
/Vulkan.UI.DpiScale___FB.sln
/Vulkan.UI.DpiScale___FB.v12.sdf
/Vulkan.UI.DpiScale___FB.v12.suo
/Vulkan.UI.DpiScale___FB.vcxproj
/Vulkan.UI.DpiScale___FB.vcxproj.filters
/Vulkan.UI.DpiScale___FB.vcxproj.user
/Vulkan.UI.DpiScale___Wayland.VC.VC.opendb
/Vulkan.UI.DpiScale___Wayland.VC.db
/Vulkan.UI.DpiScale___Wayland.aps
/Vulkan.UI.DpiScale___Wayland.manifest
/Vulkan.UI.DpiScale___Wayland.opensdf
/Vulkan.UI.DpiScale___Wayland.rc
/Vulkan.UI.DpiScale___Wayland.sdf
/Vulkan.UI.DpiScale___Wayland.sln
/Vulkan.UI.DpiScale___Wayland.v12.sdf
/Vulkan.UI.DpiScale___Wayland.v12.suo
/Vulkan.UI.DpiScale___Wayland.vcxproj
/Vulkan.UI.DpiScale___Wayland.vcxproj.filters
/Vulkan.UI.DpiScale___Wayland.vcxproj.user
/Vulkan.UI.DpiScale___Wayland_XDG.VC.VC.opendb
/Vulkan.UI.DpiScale___Wayland_XDG.VC.db
/Vulkan.UI.DpiScale___Wayland_XDG.aps
/Vulkan.UI.DpiScale___Wayland_XDG.manifest
/Vulkan.UI.DpiScale___Wayland_XDG.opensdf
/Vulkan.UI.DpiScale___Wayland_XDG.rc
/Vulkan.UI.DpiScale___Wayland_XDG.sdf
/Vulkan.UI.DpiScale___Wayland_XDG.sln
/Vulkan.UI.DpiScale___Wayland_XDG.v12.sdf
/Vulkan.UI.DpiScale___Wayland_XDG.v12.suo
/Vulkan.UI.DpiScale___Wayland_XDG.vcxproj
/Vulkan.UI.DpiScale___Wayland_XDG.vcxproj.filters
/Vulkan.UI.DpiScale___Wayland_XDG.vcxproj.user
/build/
/resource.h
