/.vs/
/FslSimpleUI.Controls.Charts.VC.VC.opendb
/FslSimpleUI.Controls.Charts.VC.db
/FslSimpleUI.Controls.Charts.manifest
/FslSimpleUI.Controls.Charts.opensdf
/FslSimpleUI.Controls.Charts.sdf
/FslSimpleUI.Controls.Charts.sln
/FslSimpleUI.Controls.Charts.v12.sdf
/FslSimpleUI.Controls.Charts.v12.suo
/FslSimpleUI.Controls.Charts.vcxproj
/FslSimpleUI.Controls.Charts.vcxproj.filters
/FslSimpleUI.Controls.Charts.vcxproj.user
/build/
