.StartProject.bat
.vs/
Android.mk
Android/
BitmapFont_FB
BitmapFont_Wayland
BitmapFont_X11
CMakeLists.txt
Content/_ContentSyncCache.fsl
FslSDKIcon.ico
GNUmakefile
GNUmakefile_Yocto
OpenVG.BitmapFont.VC.VC.opendb
OpenVG.BitmapFont.VC.db
OpenVG.BitmapFont.aps
OpenVG.BitmapFont.manifest
OpenVG.BitmapFont.opensdf
OpenVG.BitmapFont.rc
OpenVG.BitmapFont.sdf
OpenVG.BitmapFont.sln
OpenVG.BitmapFont.v12.sdf
OpenVG.BitmapFont.v12.suo
OpenVG.BitmapFont.vcxproj
OpenVG.BitmapFont.vcxproj.filters
OpenVG.BitmapFont.vcxproj.user
build/
resource.h
