/.StartProject.bat
/.vs/
/Android.mk
/Android/
/BitmapFont
/BitmapFont_FB
/BitmapFont_FB_d
/BitmapFont_Wayland
/BitmapFont_Wayland_IVI
/BitmapFont_Wayland_IVI_d
/BitmapFont_Wayland_d
/BitmapFont_X11
/BitmapFont_X11_d
/BitmapFont_d
/CMakeLists.txt
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GNUmakefile
/GNUmakefile_Yocto
/OpenVG.BitmapFont
/OpenVG.BitmapFont.VC.VC.opendb
/OpenVG.BitmapFont.VC.db
/OpenVG.BitmapFont.aps
/OpenVG.BitmapFont.manifest
/OpenVG.BitmapFont.opensdf
/OpenVG.BitmapFont.rc
/OpenVG.BitmapFont.sdf
/OpenVG.BitmapFont.sln
/OpenVG.BitmapFont.v12.sdf
/OpenVG.BitmapFont.v12.suo
/OpenVG.BitmapFont.vcxproj
/OpenVG.BitmapFont.vcxproj.filters
/OpenVG.BitmapFont.vcxproj.user
/OpenVG.BitmapFont_FB
/OpenVG.BitmapFont_Wayland
/OpenVG.BitmapFont_X11
/OpenVG.BitmapFont___FB.VC.VC.opendb
/OpenVG.BitmapFont___FB.VC.db
/OpenVG.BitmapFont___FB.aps
/OpenVG.BitmapFont___FB.manifest
/OpenVG.BitmapFont___FB.opensdf
/OpenVG.BitmapFont___FB.rc
/OpenVG.BitmapFont___FB.sdf
/OpenVG.BitmapFont___FB.sln
/OpenVG.BitmapFont___FB.v12.sdf
/OpenVG.BitmapFont___FB.v12.suo
/OpenVG.BitmapFont___FB.vcxproj
/OpenVG.BitmapFont___FB.vcxproj.filters
/OpenVG.BitmapFont___FB.vcxproj.user
/OpenVG.BitmapFont___Wayland.VC.VC.opendb
/OpenVG.BitmapFont___Wayland.VC.db
/OpenVG.BitmapFont___Wayland.aps
/OpenVG.BitmapFont___Wayland.manifest
/OpenVG.BitmapFont___Wayland.opensdf
/OpenVG.BitmapFont___Wayland.rc
/OpenVG.BitmapFont___Wayland.sdf
/OpenVG.BitmapFont___Wayland.sln
/OpenVG.BitmapFont___Wayland.v12.sdf
/OpenVG.BitmapFont___Wayland.v12.suo
/OpenVG.BitmapFont___Wayland.vcxproj
/OpenVG.BitmapFont___Wayland.vcxproj.filters
/OpenVG.BitmapFont___Wayland.vcxproj.user
/OpenVG.BitmapFont___Wayland_XDG.VC.VC.opendb
/OpenVG.BitmapFont___Wayland_XDG.VC.db
/OpenVG.BitmapFont___Wayland_XDG.aps
/OpenVG.BitmapFont___Wayland_XDG.manifest
/OpenVG.BitmapFont___Wayland_XDG.opensdf
/OpenVG.BitmapFont___Wayland_XDG.rc
/OpenVG.BitmapFont___Wayland_XDG.sdf
/OpenVG.BitmapFont___Wayland_XDG.sln
/OpenVG.BitmapFont___Wayland_XDG.v12.sdf
/OpenVG.BitmapFont___Wayland_XDG.v12.suo
/OpenVG.BitmapFont___Wayland_XDG.vcxproj
/OpenVG.BitmapFont___Wayland_XDG.vcxproj.filters
/OpenVG.BitmapFont___Wayland_XDG.vcxproj.user
/OpenVG.BitmapFont___X11.VC.VC.opendb
/OpenVG.BitmapFont___X11.VC.db
/OpenVG.BitmapFont___X11.aps
/OpenVG.BitmapFont___X11.manifest
/OpenVG.BitmapFont___X11.opensdf
/OpenVG.BitmapFont___X11.rc
/OpenVG.BitmapFont___X11.sdf
/OpenVG.BitmapFont___X11.sln
/OpenVG.BitmapFont___X11.v12.sdf
/OpenVG.BitmapFont___X11.v12.suo
/OpenVG.BitmapFont___X11.vcxproj
/OpenVG.BitmapFont___X11.vcxproj.filters
/OpenVG.BitmapFont___X11.vcxproj.user
/build/
/resource.h
