.StartProject.bat
.vs/
Android.mk
Android/
BitmapFont
BitmapFont_FB
BitmapFont_FB_d
BitmapFont_Wayland
BitmapFont_Wayland_d
BitmapFont_X11
BitmapFont_X11_d
BitmapFont_d
CMakeLists.txt
Content/_ContentSyncCache.fsl
FslSDKIcon.ico
GNUmakefile
GNUmakefile_Yocto
OpenVG.BitmapFont
OpenVG.BitmapFont.VC.VC.opendb
OpenVG.BitmapFont.VC.db
OpenVG.BitmapFont.aps
OpenVG.BitmapFont.manifest
OpenVG.BitmapFont.opensdf
OpenVG.BitmapFont.rc
OpenVG.BitmapFont.sdf
OpenVG.BitmapFont.sln
OpenVG.BitmapFont.v12.sdf
OpenVG.BitmapFont.v12.suo
OpenVG.BitmapFont.vcxproj
OpenVG.BitmapFont.vcxproj.filters
OpenVG.BitmapFont.vcxproj.user
OpenVG.BitmapFont_FB
OpenVG.BitmapFont_Wayland
OpenVG.BitmapFont_X11
build/
resource.h
