/.StartProject.bat
/.vs/
/AssimpDoubleTexture
/AssimpDoubleTexture_FB
/AssimpDoubleTexture_FB_d
/AssimpDoubleTexture_Wayland
/AssimpDoubleTexture_Wayland_IVI
/AssimpDoubleTexture_Wayland_IVI_d
/AssimpDoubleTexture_Wayland_d
/AssimpDoubleTexture_X11
/AssimpDoubleTexture_X11_d
/AssimpDoubleTexture_c
/AssimpDoubleTexture_d
/CMakeLists.txt
/Content/Cog/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GLES3.AssimpDoubleTexture.VC.VC.opendb
/GLES3.AssimpDoubleTexture.VC.db
/GLES3.AssimpDoubleTexture.aps
/GLES3.AssimpDoubleTexture.manifest
/GLES3.AssimpDoubleTexture.opensdf
/GLES3.AssimpDoubleTexture.rc
/GLES3.AssimpDoubleTexture.sdf
/GLES3.AssimpDoubleTexture.sln
/GLES3.AssimpDoubleTexture.v12.sdf
/GLES3.AssimpDoubleTexture.v12.suo
/GLES3.AssimpDoubleTexture.vcxproj
/GLES3.AssimpDoubleTexture.vcxproj.filters
/GLES3.AssimpDoubleTexture.vcxproj.user
/GNUmakefile
/GNUmakefile_Yocto
/build/
/resource.h
