/.StartProject.bat
/.vs/
/Android.mk
/Android/
/CMakeLists.txt
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/GLES3.OpenCVMatToUI
/GLES3.OpenCVMatToUI.VC.VC.opendb
/GLES3.OpenCVMatToUI.VC.db
/GLES3.OpenCVMatToUI.aps
/GLES3.OpenCVMatToUI.manifest
/GLES3.OpenCVMatToUI.opensdf
/GLES3.OpenCVMatToUI.rc
/GLES3.OpenCVMatToUI.sdf
/GLES3.OpenCVMatToUI.sln
/GLES3.OpenCVMatToUI.v12.sdf
/GLES3.OpenCVMatToUI.v12.suo
/GLES3.OpenCVMatToUI.vcxproj
/GLES3.OpenCVMatToUI.vcxproj.filters
/GLES3.OpenCVMatToUI.vcxproj.user
/GNUmakefile
/GNUmakefile_Yocto
/OpenCVMatToUI
/OpenCVMatToUI_FB
/OpenCVMatToUI_FB_d
/OpenCVMatToUI_Wayland
/OpenCVMatToUI_Wayland_d
/OpenCVMatToUI_X11
/OpenCVMatToUI_X11_d
/OpenCVMatToUI_d
/build/
/resource.h
