/.StartProject.bat
/.vs/
/Android.mk
/CMakeLists.txt
/FslAssimp.VC.VC.opendb
/FslAssimp.VC.db
/FslAssimp.manifest
/FslAssimp.opensdf
/FslAssimp.sdf
/FslAssimp.sln
/FslAssimp.v12.sdf
/FslAssimp.v12.suo
/FslAssimp.vcxproj
/FslAssimp.vcxproj.filters
/FslAssimp.vcxproj.user
/GNUmakefile
/GNUmakefile_Yocto
/build/
