/.vs/
/Content/_ContentSyncCache.fsl
/FslSDKIcon.ico
/Vulkan.System.DevBasicRenderCustomShader.VC.VC.opendb
/Vulkan.System.DevBasicRenderCustomShader.VC.db
/Vulkan.System.DevBasicRenderCustomShader.aps
/Vulkan.System.DevBasicRenderCustomShader.manifest
/Vulkan.System.DevBasicRenderCustomShader.opensdf
/Vulkan.System.DevBasicRenderCustomShader.rc
/Vulkan.System.DevBasicRenderCustomShader.sdf
/Vulkan.System.DevBasicRenderCustomShader.sln
/Vulkan.System.DevBasicRenderCustomShader.v12.sdf
/Vulkan.System.DevBasicRenderCustomShader.v12.suo
/Vulkan.System.DevBasicRenderCustomShader.vcxproj
/Vulkan.System.DevBasicRenderCustomShader.vcxproj.filters
/Vulkan.System.DevBasicRenderCustomShader.vcxproj.user
/Vulkan.System.DevBasicRenderCustomShader___FB.VC.VC.opendb
/Vulkan.System.DevBasicRenderCustomShader___FB.VC.db
/Vulkan.System.DevBasicRenderCustomShader___FB.aps
/Vulkan.System.DevBasicRenderCustomShader___FB.manifest
/Vulkan.System.DevBasicRenderCustomShader___FB.opensdf
/Vulkan.System.DevBasicRenderCustomShader___FB.rc
/Vulkan.System.DevBasicRenderCustomShader___FB.sdf
/Vulkan.System.DevBasicRenderCustomShader___FB.sln
/Vulkan.System.DevBasicRenderCustomShader___FB.v12.sdf
/Vulkan.System.DevBasicRenderCustomShader___FB.v12.suo
/Vulkan.System.DevBasicRenderCustomShader___FB.vcxproj
/Vulkan.System.DevBasicRenderCustomShader___FB.vcxproj.filters
/Vulkan.System.DevBasicRenderCustomShader___FB.vcxproj.user
/Vulkan.System.DevBasicRenderCustomShader___Wayland.VC.VC.opendb
/Vulkan.System.DevBasicRenderCustomShader___Wayland.VC.db
/Vulkan.System.DevBasicRenderCustomShader___Wayland.aps
/Vulkan.System.DevBasicRenderCustomShader___Wayland.manifest
/Vulkan.System.DevBasicRenderCustomShader___Wayland.opensdf
/Vulkan.System.DevBasicRenderCustomShader___Wayland.rc
/Vulkan.System.DevBasicRenderCustomShader___Wayland.sdf
/Vulkan.System.DevBasicRenderCustomShader___Wayland.sln
/Vulkan.System.DevBasicRenderCustomShader___Wayland.v12.sdf
/Vulkan.System.DevBasicRenderCustomShader___Wayland.v12.suo
/Vulkan.System.DevBasicRenderCustomShader___Wayland.vcxproj
/Vulkan.System.DevBasicRenderCustomShader___Wayland.vcxproj.filters
/Vulkan.System.DevBasicRenderCustomShader___Wayland.vcxproj.user
/Vulkan.System.DevBasicRenderCustomShader___Wayland_XDG.VC.VC.opendb
/Vulkan.System.DevBasicRenderCustomShader___Wayland_XDG.VC.db
/Vulkan.System.DevBasicRenderCustomShader___Wayland_XDG.aps
/Vulkan.System.DevBasicRenderCustomShader___Wayland_XDG.manifest
/Vulkan.System.DevBasicRenderCustomShader___Wayland_XDG.opensdf
/Vulkan.System.DevBasicRenderCustomShader___Wayland_XDG.rc
/Vulkan.System.DevBasicRenderCustomShader___Wayland_XDG.sdf
/Vulkan.System.DevBasicRenderCustomShader___Wayland_XDG.sln
/Vulkan.System.DevBasicRenderCustomShader___Wayland_XDG.v12.sdf
/Vulkan.System.DevBasicRenderCustomShader___Wayland_XDG.v12.suo
/Vulkan.System.DevBasicRenderCustomShader___Wayland_XDG.vcxproj
/Vulkan.System.DevBasicRenderCustomShader___Wayland_XDG.vcxproj.filters
/Vulkan.System.DevBasicRenderCustomShader___Wayland_XDG.vcxproj.user
/build/
/resource.h
