/.StartProject.bat
/.vs/
/Android.mk
/CMakeLists.txt
/FslDemoApp.Stub.VC.VC.opendb
/FslDemoApp.Stub.VC.db
/FslDemoApp.Stub.manifest
/FslDemoApp.Stub.opensdf
/FslDemoApp.Stub.sdf
/FslDemoApp.Stub.sln
/FslDemoApp.Stub.v12.sdf
/FslDemoApp.Stub.v12.suo
/FslDemoApp.Stub.vcxproj
/FslDemoApp.Stub.vcxproj.filters
/FslDemoApp.Stub.vcxproj.user
/FslDemoAppStub.VC.VC.opendb
/FslDemoAppStub.VC.db
/FslDemoAppStub.manifest
/FslDemoAppStub.opensdf
/FslDemoAppStub.sdf
/FslDemoAppStub.sln
/FslDemoAppStub.v12.sdf
/FslDemoAppStub.v12.suo
/FslDemoAppStub.vcxproj
/FslDemoAppStub.vcxproj.filters
/FslDemoAppStub.vcxproj.user
/GNUmakefile
/GNUmakefile_Yocto
/build/
