/.StartProject.bat
/.vs/
/Android.mk
/CMakeLists.txt
/FslDemoApp.ConsoleMinimal.VC.VC.opendb
/FslDemoApp.ConsoleMinimal.VC.db
/FslDemoApp.ConsoleMinimal.manifest
/FslDemoApp.ConsoleMinimal.opensdf
/FslDemoApp.ConsoleMinimal.sdf
/FslDemoApp.ConsoleMinimal.sln
/FslDemoApp.ConsoleMinimal.v12.sdf
/FslDemoApp.ConsoleMinimal.v12.suo
/FslDemoApp.ConsoleMinimal.vcxproj
/FslDemoApp.ConsoleMinimal.vcxproj.filters
/FslDemoApp.ConsoleMinimal.vcxproj.user
/GNUmakefile
/GNUmakefile_Yocto
/build/
