/.vs/
/Shared.System.BasicRenderModelLoader.VC.VC.opendb
/Shared.System.BasicRenderModelLoader.VC.db
/Shared.System.BasicRenderModelLoader.manifest
/Shared.System.BasicRenderModelLoader.opensdf
/Shared.System.BasicRenderModelLoader.sdf
/Shared.System.BasicRenderModelLoader.sln
/Shared.System.BasicRenderModelLoader.v12.sdf
/Shared.System.BasicRenderModelLoader.v12.suo
/Shared.System.BasicRenderModelLoader.vcxproj
/Shared.System.BasicRenderModelLoader.vcxproj.filters
/Shared.System.BasicRenderModelLoader.vcxproj.user
/build/
